<template>
  <div class="">
       <div class="text-h6 text-uppercase q-pa-md">Blotter Master List</div>
         <q-btn-toggle
            class="q-ma-sm"
            v-on:click="updateStatus()"
            v-model="station"
            toggle-color="indigo-8"
            :options="[
              {label: 'Station Master List', value: account.station_id},
              {label: 'General Master List', value: null}
            ]"
          />
        <Table
          :data=BlotterList
          :columns=columns
          :enableAction="enableAction"
          @toggleEdit= showEdit
        />
        <!-- <div v-for="data in blotter" :key="data.id"> -->
           <ViewBlotter :data="blotter" @close="close" :show="blotter_dialog"/>
        <!-- </div> -->

  </div>
</template>
<script>
import ViewBlotter from '../../components/viewBlotter'
import Table from 'components/Tables'
import { Blotter } from '../../Graphql/query/blotter'
import moment from 'moment'
// import moment from 'moment'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'BlotterPage',
  components: { Table, ViewBlotter },
  data () {
    return {
      blotter_dialog: false,
      enableAction: false,
      BlotterList: [],
      blotter: {},
      station: account.station_id,
      account: account,
      columns: [
        {
          name: 'complaint_title',
          required: true,
          label: 'Blotter type',
          align: 'left',
          field: row => row.complaint.complaint_type,
          format: val => `${val}`,
          sortable: true,
          classes: 'ellipsis',
          style: 'max-width: 200px'
        },
        // { name: 'entry', classes: 'ellipsis', align: 'center', label: 'statement', field: row => row.blotter.blotter_statement },
        { name: 'complainant', classes: 'ellipsis', align: 'left', label: 'complainant', field: row => row.user.first_name + ' ' + row.user.middle_name + ' ' + row.user.last_name },
        { name: 'station_name', align: 'left', label: 'institution Name', field: row => row.station.station_name },
        { name: 'station_location', align: 'left', label: 'institution Type', field: row => row.station.station_type },
        // { name: 'prepared', classes: 'ellipsis', align: 'center', label: 'prepared by', field: row => row.prepared.first_name + ' ' + row.prepared.middle_name + ' ' + row.prepared.last_name + ' - ' + row.prepared.rank },
        // { name: 'status', classes: 'ellipsis', align: 'center', label: 'status', field: row => row.blotter.status },
        { name: 'Date and Time', align: 'left', label: 'blotter date and time', field: row => row.blotter_date_time },
        // { name: 'status', align: 'center', label: 'status', field: row => row.blotter.status },
        { name: 'action', align: 'left', label: '', field: 'action' }
      ]
    }
  },
  created () {
    this.getPrintedBlotter()
  },
  methods: {
    updateStatus () {
      this.getPrintedBlotter()
    },
    close () {
      this.blotter_dialog = false
    },
    async showDeleteMessage () {
      this.$q.notify({
        color: 'negative',
        textColor: 'white',
        icon: 'check_circle',
        position: 'top',
        message: 'Cant be Deleted!'
      })
    },
    showEdit (e) {
      this.blotter = e
      this.blotter_dialog = true
      console.log(e)
    },
    async getPrintedBlotter () {
      const { data } = await this.$apollo.query({
        query: Blotter,
        variables: {
          station_id: this.station
        },
        fetchPolicy: 'network-only'
      })
      if (data.blotter.length > 0) {
        this.BlotterList = data.blotter.map((blotter) => {
          const user = blotter.user
          const complaint = blotter.complaint
          const station = blotter.station
          const ItemA = blotter.ItemAs
          const ItemB = blotter.ItemBs
          const ItemC = blotter.ItemCs
          const ItemD = blotter.ItemDs
          const childrenconflicts = blotter.children_in_conflicts
          const Incidentreciepts = blotter.Incident_record_reciepts

          const BlotterData = {
            blotter: blotter,
            user: user,
            complaint: complaint,
            station: station,
            ItemA: ItemA,
            ItemB: ItemB,
            ItemC: ItemC,
            ItemD: ItemD,
            childrenconflicts: childrenconflicts,
            Incidentreciepts: Incidentreciepts,
            // incident_type: ItemD.type_of_incident,
            blotter_date_time: typeof blotter.updated_at !== 'object' ? moment(blotter.updated_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : ''
          }
          // const user = blotter.user
          // // const respondent = blotter.complaint.respondent_activities
          // const complaint = blotter.complaint
          // // const prepared = blotter.userByPreparedById
          // const station = blotter.station
          // // const complaint = blotter.complaint
          // const blotterData = {
          //   id: blotter.id,
          //   blotter: blotter,
          //   status: blotter.status,
          //   complaint: complaint,
          //   // respondent: respondent,
          //   blotter_statement: blotter.blotter_statement,
          //   blotter_date: typeof blotter.created_at !== 'object' ? moment(blotter.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
          //   complaint_date: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
          //   // user: user,
          //   // prepared: prepared,
          //   station: station
          // complaint: complaint
          // }
          // return blotterData
          return BlotterData
        })
      }
      // console.log(this.printedBlotter)
    }
  }
}
</script>
