<template>
  <div>
    <q-intersection
      once
      transition="scale"
    >
    <q-list separator class=" shadow-2 q-my-sm">
      <q-slide-item  clickable @click="onRight" right-color="indigo-8">
        <!-- <template v-slot:right>
        OPEN
        </template> -->

        <q-item  class="text-uppercase">
          <q-item-section>
              <!-- {{data.blotter.id}} -->
             <span class="text-indigo-8 text-bold">{{data.blotter.status}}</span>
          </q-item-section>
        </q-item>
        <q-item  class="text-uppercase">
          <q-item-section v-for="data in data.ItemD" :key="data.id">
            {{data.type_of_incident}}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <small>@ {{data.station.station_name}}</small>
            <small>{{data.blotter_date_time}}</small>
          </q-item-section>
        </q-item>
      </q-slide-item>

    </q-list>
    </q-intersection>
      <BlotterCertificaionCard @confirmblotter="confirmblotter" @close="close" :data="data" :show="cert_dialog" @ask="ask" />
  </div>
</template>

<script>
import BlotterCertificaionCard from '../Components/blotterCertificationCard'
export default {
  name: 'blotterNotificationCardComponent',
  components: { BlotterCertificaionCard },
  props: {
    data: {
      type: Object
    }
  },
  data () {
    return {
      cert_dialog: false
    }
  },
  methods: {
    ask (e) {
      this.cert_dialog = false
      this.$emit('ask', e)
    },
    confirmblotter (e) {
      this.cert_dialog = false
      this.$emit('confirmblotter', e)
    },
    close () {
      this.cert_dialog = false
    },
    onLeft ({ reset }) {
      this.$q.notify('Left action triggered. Resetting in 1 second.')
      this.finalize(reset)
    },

    onRight ({ reset }) {
      this.cert_dialog = true
      // this.$q.notify('Right action triggered. Resetting in 1 second.')
      // this.finalize(reset)
    },

    finalize (reset) {
      this.timer = setTimeout(() => {
        reset()
      }, 1000)
    }
  },

  beforeDestroy () {
    clearTimeout(this.timer)
  }
}
</script>
