`<template>
  <div >
    <q-dialog v-model="show" :maximized="show" persistent>
      <q-card class="">
        <!-- <div class="text-right q-pa-xs">
            <q-btn @click="close" icon="close"/>
        </div> -->
        <div class="row justify shadow-2 " v-for="data in data.Incidentreciepts" :key="data.id">
            <div class="col-12 bg-grey-4">
                <div class="text-right q-pa-xs">
                    <q-btn @click="close" icon="close"/>
                </div>
                <div class="text-center">
                    <div class="text-bold q-pa-sm" style="font-size:18px">
                    INCIDENT RECORD TRANSACTION RECIEPT
                    </div>
                </div>
            </div>
            <div class="col-12">
                <q-input
                    readonly
                    :value="data.blotter_entry"
                    square outlined

                    label="BLOTTER ENTRY NUMBER"
                />
            </div>
              <!-- <div class="col-4 bg-grey-3 border">
                <div class="text-center" >
                    <div class="q-pt-sm" style="font-size:9px">THIS CERTIFIES THAT</div>
                </div>
            </div> -->
            <div class="col-12">
                <q-input
                    readonly
                    :value="data.name_of_reporting"
                    square outlined

                    label="NAME OF REPORTING PERSON"
                />
            </div>
            <div class="col-12">
                <q-input
                    readonly
                    :value="data.address_reporting"
                    square outlined

                    label="ADDRESS OF REPORTING PERSON"
                />
            </div>
              <!-- <div class="col-4 bg-grey-3">
                <div class=" q-pa-xs text-center" style="font-size:8px">
                    REPORTED AN INCIDENT TO BE <br>
                    RECORDED IN THE <br>
                    POLICE BLOTTER <br>
                    WHICH INVOLVES <br>
                </div>
            </div> -->

            <div class="col-12">
                <q-input
                    readonly
                    :value="data.type_incident"
                    square outlined

                    label="TYPE OF INCIDENT"
                />
            </div>
            <div class="col-12 text-center">
                <q-input
                    readonly
                    :value="data.date_report"
                    square outlined

                    label="DATE/TIME OF REPORT"
                />
            </div>

            <div class="col-12">
                  <q-input
                      readonly
                      :value="data.date_incident"
                      square outlined

                      label="DATE/TIME OF INCIDENT"
                  />
              </div>
              <div class="col-12">
                  <q-input
                      readonly
                      :value="data.place_incident"
                      square outlined

                      label="PLACE OF INCIDENT"
                  />
              </div>
            <!-- <div class="col-12">
                <div class="row">
                    <div class="col-4 bg-grey-3" style="height:80px">
                        <div class="text-center q-pt-md " style="font-size:10px">
                                AND RECORDED BY
                        </div>
                    </div>
                    <div class="col-12">
                        <q-input
                            readonly
                            :value="data.desk_officer"
                            style="height:120px"
                            type="textarea"
                            square outlined

                            label="RANK/NAME/SIGNATURE OF DESK OFFICER"
                        />
                    </div>
                </div>
            </div> -->
          </div>
          <div class="row justify shadow-2" v-for="data in data.ItemD" :key="data.id">
              <div class="col-12 bg-grey-4">
                  <div class="text-h6 text-center q-pa-sm text-bold " style="font-size:18px">
                  ITEM "D" NARRATIVE OF INCIDENT
                  </div>
              </div>
              <!-- <div class="col-6">
                  <q-input
                      readonly
                      :value="data.blotter_entry_number"
                      square outlined

                      label="BLOTTER ENTRY NUMBER"
                  />
              </div>
              <div class="col-6">
                  <q-input
                      readonly
                      :value="data.type_of_incident"
                      square outlined

                      label="TYPE OF INCIDENT"
                  />
              </div>
                <div class="col-6">
                  <q-input
                      readonly
                      :value="data.time"
                      square outlined

                      label="TIME"
                  />
              </div>
                <div class="col-6">
                  <q-input
                      readonly
                      :value="data.date"
                      square outlined

                      label="DATE"
                  />
              </div>
              <div class="col-12">
                  <q-input
                      readonly
                      :value="data.place_of_incident"
                      square outlined

                      label="PLACE OF INCIDENT"
                  />
              </div> -->
              <div class="col-12">
                  <div class="text-grey-7 q-pa-sm">
                      ENTER IN DETAIL THE NARRATIVE OF THE INCIDENT OR EVENT, ANSWERING THE WHO, WHEN, WHERE, WHY OF REPORTING (USE ADDITIONAL SHEET/S IF NECESSARY)
                  </div>
                      <q-input
                          readonly
                          :value="data.narrative_of_incident"
                          type="textarea"
                          square outlined

                      />
              </div>
              <div class="col-12 bg-grey-4 ">
                  <div class="text-h6 text-center text-bold q-pa-sm" style="font-size:18px">
                        AUTHENTICATION
                  </div>
              </div>
              <!-- <div class="col-4 bg-grey-3">
                  <div class="text-center q-pa-sm" style="font-size:9px">
                          I HEREBY CERTIFY TO THE CONNECTNESS OF THE FOREGOING
                          TO THE BEST OF MY KNOWLEDGE AND  BELIEF
                  </div>
              </div> -->
              <div class="col-12">
                  <q-input
                      readonly
                      :value="data.reporting_person"
                      style="height:100px"
                      type="textarea"
                      square outlined

                      label="NAME/SIGNATURE OF REPORTING PERSON"
                  />
              </div>
              <div class="col-12">
                  <q-input
                      readonly
                      :value="data.desk_offiicer"
                      style="height:100px"
                      type="textarea"
                      square outlined

                      label="NAME/SIGNATURE OF DESK OFFICER"
                  />
              </div>
              <div class="col-12 bg-grey-4">
                  <div class="text-center q-pa-sm" style="font-size:14.5px">
                        CASE DISPOSITION (For Chief/Head of Office Use Only)
                  </div>
              </div>
              <div class="col-12">
                  <q-input

                      readonly
                      :value="data.chief_instructions"
                      square outlined
                      label="CHIEF OF STATION/OFFICE INSTRUCTIONS"
                  />
              </div>
              <div class="col-12">
                  <q-input

                      readonly
                      :value="data.name_of_investigator"
                      square outlined
                      label="NAME OF DESIGNATED INVESTIGATOR-ON-CASE"
                  />
              </div>
              <div class="col-12">
                  <q-input

                      readonly
                      :value="data.name_of_chief"
                      square outlined
                      label="NAME OF CHEIEF OF STATION/OFFICE"
                  />
              </div>
            </div>
            <div class="row justify shadow-2 " v-for="data in data.IRTRs" :key="data.id">
                <div class="col-12 text-center q-pa-sm text-grey-7 text-bold">
                    <div>
                        INSTRUCTIONS TO REPORTING PERSON
                    </div>
                        <small>
                            keep this incident Record Transaction Reciept(IRTR). An update of the process of the investigation
                            of the crime or incident that you reported
                            will be given to you upon presentation of this IRTR. For your referencesm, the data below is the contact details of this {{data.station_type}}
                        </small>
                </div>
                <div class="col-6">
                    <q-input
                        readonly
                        :value="data.station_name"
                        square outlined

                        label="Station Name"
                    />
                </div>
                    <div class="col-6">
                        <q-input
                            readonly
                            :value="data.station_telephone"
                            type="number"
                            square outlined

                            label="Telephone"
                        />
                    </div>
                    <!--  -->
                    <div class="col-6">
                        <q-input
                            readonly
                            :value="data.investigator"
                            square outlined

                            label="Investigator-on-Case"
                        />
                    </div>
                    <div class="col-6">
                        <q-input
                            readonly
                            :value="data.investigator_mobile"
                            type="number"
                            square outlined

                            label="Mobile Phone"
                        />
                    </div>
                <!--  -->
                    <div class="col-6">
                        <q-input
                            readonly
                            :value="data.chief"
                            square outlined

                            label="Name of Chief/Head of Office"
                        />
                    </div>
                    <div class="col-6">
                        <q-input
                            readonly
                            :value="data.chief_mobile"
                            square outlined

                            label="Mobile Phone"
                        />
                    </div>
                </div>
                <q-card-section align="center">
                    <q-btn @click="ask" label="Ask update" class="text-bold" color="indigo-8"/>
                </q-card-section>
            </q-card>
        </q-dialog>
    </div>
</template>

<script>
export default {
  name: 'ViewComplaintPage',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      select: this.s,
      selected: [],
      step: 1
    }
  },
  methods: {
    ask (e) {
      e = this.data
      this.$emit('ask', e)
    },
    close () {
      this.$emit('close')
    },
    confirmblotter (e) {
      e = this.data
      this.$emit('confirmblotter', e)
    }
  }
}
</script>
<style scoped>
  *{
    font-size:13px;
  }
</style>
