<template>
  <div>
      <q-select
        filled
        use-chips
        emit-value
        map-options
        multiple
        use-input
        v-model="category"
        @new-value="createValue"
        v-on:input="SelectedCategory(category)"
        option-value="category_desc"
        option-label="category_desc"
        :label="label"
        :options="optCategory"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />
  </div>
</template>

<script>
export default {
  name: 'ComplaintCategoryComponent',
  props: {
    label: {
      type: String
    }
  },
  data () {
    return {
      category: [],
      optCategory: []
    }
  },
  created () {
    this.getComplaintCategory()
  },
  methods: {
    createValue (val, done) {
      done(val)
    },
    SelectedCategory (e) {
      console.log(e)
      this.$emit('SelectedCategory', e)
    },
    async getComplaintCategory () {
      const { data } = await this.$apollo.query({
        query: this.$gql`
          query getComplaint {
            complaint_category {
              category_desc
            }
          }
        `,
        fetchPolicy: 'network-only'
      })
      if (data.complaint_category.length > 0) {
        this.optCategory = data.complaint_category
      }
    }
  }

}
</script>
