<template>
  <div>
    <q-dialog v-model="show" persistent>
        <q-card>
          <q-card-section align="center">
            <!-- <q-avatar icon="delete" color="red" text-color="white" /> -->
            <!-- <img style="width:70%" src="/images/undraw_Throw_away_re_x60k.png" alt=""> -->
          </q-card-section>
          <q-card-section class="row items-center">
            <span class="q-ml-sm">You are sure you want to withdraw this complaint?</span>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Cancel" @click="cancel" color="primary"  />
            <q-btn flat label="Confirm" @click="confirmDelete" color="primary"  />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },
  methods: {
    cancel () {
      this.$emit('cancel')
    },
    confirmDelete (e) {
      e = this.data
      this.$emit('confirmDelete', e)
    }
  }
}
</script>
