<template>
  <div class="">
    <q-dialog :v-model="dialog" persistent>
      <q-card style="min-width: 100%;min-height:100%">
        <q-card-section>
          <div class="text-h5 text-indigo-8">dialog<q-btn class="float-right" flat icon="close" v-close-popup /></div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'Dialog',
  props: {
    dialog: {
      type: Boolean,
      default: false
    }
  }
}
</script>
