<template>
  <div>
    <q-uploader
      style="max-width: 100%"
      url="https://bust-node-server.herokuapp.com/file/image-upload"
      :label="uploaderLabel"
      auto-upload
      :max-files="maxFile"
      :field-name="(file) => 'image'"
      :filter="checkFileType"
      @rejected="onRejected"
      @uploaded="uploadSuccess"
      color="indigo-8"
    />
  </div>
</template>

<script>
export default {
  name: 'CreateComplaint',
  data () {
    return {
      title: '',
      address: '',
      report: '',
      station: '',
      photo: '',
      dialog: false,
      step: 1,
      images: []
    }
  },
  props: {
    maxFile: {
      type: Number,
      default: 1
    },
    uploaderLabel: {
      type: String,
      default: ''
    }
  },
  methods: {
    checkFileType (files) {
      return files.filter(file => file.type === 'image/png' || file.type === 'image/jpeg')
    },
    onRejected (rejectedEntries) {
      // Notify plugin needs to be installed
      // https://quasar.dev/quasar-plugins/notify#Installation
      this.$q.notify({
        type: 'negative',
        message: `${rejectedEntries.length} file(s) did not pass validation constraints`
      })
    },
    uploadSuccess (e) {
      const response = JSON.parse(e.xhr.response)
      var url = response.url
      this.images.push(url)
      this.$emit('update:imageUrl', this.images)
    },
    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'check_circle',
        message: 'Please fill up All input fields'
      })
    }
  }
}
</script>
