<template>
  <div class="row justify-center q-mb-lg">
    <q-intersection
    once
    transition="scale"
    >
      <q-card
        class="q-pa-xs"
        style="width: 25em"
      >
        <q-carousel
          animated
          v-model="slide"
          arrows
          navigation
          infinite
          height="24rem"
          width="24rem"
        >
          <q-carousel-slide v-for="i in data.incident_evid" :name="data.incident_evid.indexOf(i)" :key="data.incident_evid.indexOf(i)" :img-src="i" />
        </q-carousel>
        <q-card-section>
          <q-timeline color="indigo-8">
            <!-- <q-timeline-entry
              title="REPORTER"
              icon="person"
            >
              <q-avatar size="lg"> -->
                <!-- <img :src="JSON.parse(data.user.image)"> -->
              <!-- </q-avatar>
              {{data.user.first_name}} {{data.user.middle_name}} {{data.user.last_name}}
            </q-timeline-entry> -->
            <q-timeline-entry
              :subtitle="data.created_at"
              title="INCIDENT"
              icon="report_problem"
              :body="data.incident_name"
            >
              <!-- {{data.incident_name}} -->
              <!-- {{data}} -->
            </q-timeline-entry>
            <!-- <q-timeline-entry
              subtitle="INCIDENT STATEMENT"
              icon="textsms"
              :body="data.incident_desc"
            /> -->
          </q-timeline>
        </q-card-section>
      </q-card>
    </q-intersection>
  </div>
</template>

<script>
export default {
  props: {
    data: Object
  },
  data () {
    return {
      slide: 0
    }
  },
  created () {
  }
}
</script>
