<template>
  <div>
    <q-dialog v-model="show" persistent :maximized="show">
      <q-card style="min-width: 100%;min-height:100%">
        <q-card-section>
          <div class="text-h6">
            <div v-if="translate">
              Make a Complaint
            </div>
            <div v-else>
              Paghimo usa ka Reklamo
            </div>
             <q-btn color="indigo-8" class="float-right" icon="close" @click="close" /></div>
          <div>
            <q-btn @click="translate = !translate" :label="translate? 'Translate to Cebuano' : 'Translate to English'"/>
          </div>
        </q-card-section>
        <q-card-section>
          <q-stepper
            v-model="step"
            ref="stepper"
            animated
            class=" q-pa-sm"
            done-color="green-6"
            active-color="aindigo-8"
            active-icon="brigthness_1"
            inactive-color="grey"
            style="padding: 0px !important"
          >
            <q-step
              title="Step 1"
              caption="Select Instituition "
              horizontal
              :name="1"
              icon="shield"
              :done="step > 1"
            >
              <SelectStation @close="close" :selected.sync="selectedStation" @submit="submitStation"/>
            </q-step>
            <q-step
              title="Step 2"
              horizontal
              :name="2"
              icon="shield"
              caption="Fill up Form"
              :done="step > 2"
            >
              <q-form
                @submit="onSubmit"
                class="q-gutter-md"
              >
                <div>
                  <q-card flat>
                    <q-card-section class="justify-center">
                      <div class="text-center">
                        <!-- <q-avatar square class="q-ma-sm shadow-2" size="120px">
                            <img  :src="selectedStation.station_logo" alt="">
                        </q-avatar> -->
                      </div>
                      <div class="text-h6 text-center">
                        Republic of the Philippines</div>
                      <div class="row justify-center">
                        <div class="col-12 text-center">
                          <span>Province of Cebu</span> <br>
                          {{selectedStation.station_location}}
                          <div class="text-h6 text-uppercase">
                            OFFICE OF THE {{selectedStation.station_name}}</div>
                        </div>
                      </div>
                    </q-card-section>
                    <q-card-section class="q-pt-none">
                      <div v-if="translate">Complainant:
                        <strong class="text-uppercase">
                          {{user.first_name}} {{user.middle_name}} {{user.last_name}}
                        </strong>
                      </div>
                      <div v-else>Nagreklamo
                        <strong class="text-uppercase">
                          {{user.first_name}} {{user.middle_name}} {{user.last_name}}
                        </strong>
                      </div>
                      <small v-if="translate" class="text-bold q-mt-lg text-uppercase">--Against--</small>
                       <small v-else class="text-bold q-mt-lg text-uppercase">--Kontra--</small>
                      <q-input
                        filled
                        type="text"
                        v-model="complaint_accuse_person"
                        :label="translate? 'Name of accused person' : 'Ngalan sa gisumbong nga tawo'"
                        :hint="translate? 'Add Name if identified' : 'Idugang ang Ngalan kung nahibal-an'"
                      />
                    </q-card-section>
                    <q-card-section class="q-pt-none">
                      <div v-if="translate" class="text-h5 text-bold text-center text-uppercase">Complaint</div>
                      <div v-else class="text-h5 text-bold text-center text-uppercase">REKLAMO</div>
                        <span v-if="translate">
                          I hereby complain against above named respondents for violating my rights and interests in the following manner.
                        </span>
                         <span v-else>
                          Tungod niini gireklamo ko ang labaw sa mga ginganlan nga respondente tungod sa paglapas sa akong mga katungod ug interes sa mosunud nga pamaagi.
                        </span>
                        <ComplaintCategory @SelectedCategory="SelectedCategory" :label="translate ?'Select or Input Complaint' : 'Pilia o Input nga Reklamo'"/>
                    </q-card-section>
                    <q-card-section class="q-pt-none">
                      <span v-if="translate">THEREFORE I pray that the following relief's be granted to me in accordance with law and/or equity.</span>
                      <span v-else>Tungod niana nag-ampo ako nga ang mga musunud nga hinabang mahatag kanako pinauyon sa balaod ug / o katarungan.</span>
                    </q-card-section>
                    <q-card-section>
                      <q-input
                        filled
                        autogrow
                        type="text"
                        v-model="complaint_statement"
                        :label="translate? 'Complaint Statement':'Pahayag sa reklamo'"
                        :hint="translate? 'Add a statement about what happend':'Pagdugang usa ka pahayag bahin sa kung unsa ang mahinabo'"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                        required
                      />
                    </q-card-section>
                    <q-card-section>
                      <ImageUploaderVue :uploaderLabel="translate? 'Attached Evidences max of 5' :'Nalakip nga mga Ebidensya nga max sa 5'" :imageUrl.sync ="images" :maxFile="5"/>
                    </q-card-section>
                  </q-card>
                </div>
                <q-stepper-navigation align="right">
                  <q-btn type="submit" color="indigo-8" label="Submit" />
                  <q-btn flat @click="step = 1" color="indigo-8" label="Back" class="q-ml-sm" />
                </q-stepper-navigation>
              </q-form>
            </q-step>
          </q-stepper>
        </q-card-section>
        <Oath :show="show" @proceed="proceed" @close="close"/>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
var account = JSON.parse(localStorage.getItem('user'))
import Oath from './oathOfLegitimacy'
import ImageUploaderVue from './ImageUploader.vue'
import ComplaintCategory from '../Components/ComplaintCategory'
import SelectStation from './SelectStationComponent'
import { submitComplaint } from '../../Graphql/query/complaint'
import { saveNotification } from '../../Graphql/query/notification'
export default {
  name: 'MakeComplaintReport',
  components: { ImageUploaderVue, SelectStation, ComplaintCategory, Oath },
  data () {
    return {
      translate: true,
      currentLocation: [],
      uploaderLabel: 'Attached Evidences max of 5',
      selectedStation: {},
      stationOptionsRef: [],
      images: [],
      complaint_accuse_person: '',
      address: '',
      complaint_statement: '',
      report: '',
      step: 1,
      complaint: [],
      optComplaint: [],
      optstations: [],
      user: account
    }
  },
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  created () {
    this.getComplaint()
  },
  // watch: {
  //   show () {
  //     this.complaint_dialog = this.show
  //   }
  // },
  methods: {
    Translate () {
      this.translate = false
    },
    // this function will get the current location of the user trigger when user continue the report
    proceed (e) {
      this.currentLocation = e
      console.log(this.currentLocation[0])
    },
    submitStation () {
      this.step = 2
    },

    close () {
      this.step = 1
      this.complaint_accuse_person = ''
      this.complaint_statement = ''
      this.complaint = []
      this.$emit('close')
    },
    SelectedCategory (e) {
      this.complaint = e
    },
    async saveToNotification (noti) {
      const variables = {
        user_id: noti.user_id,
        station_id: noti.station_id,
        respondent_id: noti.respondent_id,
        complaint_id: noti.complaint_id,
        notification_content: noti.notification_content,
        notification_type: noti.notification_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      return data
    },
    async onSubmit (e) {
      e.preventDefault()
      const variables = {
        latitude: JSON.stringify(this.currentLocation[0]),
        longitude: JSON.stringify(this.currentLocation[1]),
        complaint_statement: this.complaint_statement,
        complaint_type: JSON.stringify((this.complaint)),
        complaint_accuse_person: this.complaint_accuse_person,
        complaint_evid: JSON.stringify(this.images),
        station_id: this.selectedStation.id,
        user_id: this.user.id
      }
      const { data } = await this.$apollo.mutate({
        mutation: submitComplaint,
        variables
      })
      if (data) {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted'
        })
        const notification = {
          user_id: null,
          station_id: this.selectedStation.id,
          respondent_id: null,
          complaint_id: null,
          notification_content: 'Recieved new Complaint ' + JSON.stringify((this.complaint)),
          notification_type: 'withdraw'
        }
        this.saveToNotification(notification)
        this.step = 1
        this.complaint_accuse_person = ''
        this.complaint_statement = ''
        this.complaint = []
        this.$emit('submited')
      }
    },

    async getComplaint () {
      const { data } = await this.$apollo.query({
        query: this.$gql`
          query getComplaint {
            complaint_category {
              category_desc
            }
          }
        `,
        fetchPolicy: 'network-only'
      })
      if (data.complaint_category.length > 0) {
        this.optComplaint = data.complaint_category
      }
    },

    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'check_circle',
        message: 'Please fill up All input fields'
      })
    }
  }
}
</script>
