<template>
  <div>
    <template>
      <div>
        <q-fab
            color="indigo-8"
            class="q-ma-sm fixed-bottom-right shadow-5"
            icon="keyboard_arrow_up"
            direction="up"
          >
          <q-fab-action
            square
            label-class="bg-grey-4 text-indigo-8"
            external-label label-position="left"
            color="indigo-8"
            @click="complaint_dialog = true"
            icon="record_voice_over"
            label="Make a Complaint"
          />
          <q-fab-action
            square
            label-class="bg-grey-4 text-indigo-8"
            external-label label-position="left"
            color="indigo-8"
            @click="incident_dialog = true"
            icon="report_problem"
            label="Report Incident"
          />
          <q-fab-action
            class="shadow-3"
            style="width:50px;height:50px;margin-bottom:10px"
            label-class="bg-grey-4 text-indigo-8"
            external-label label-position="left"
            color="red-8"
            @click="citizen_arrest_dialog = true"
            icon="notification_important"
            label="Citizen Arrest"
          />
        </q-fab>
        <!-- <Oath :show="oath_dialog" @proceed="proceed" @close="close"/> -->
        <MakeCitizenArrest :show="citizen_arrest_dialog" @close="close"/>
        <MakeComplaintReport :show="complaint_dialog" @close="close" @submited="submited"/>
        <MakeReportIncident :show="incident_dialog" @close="close" @submited="submited"/>
      </div>
    </template>
  </div>
</template>

<script>
// import Oath from './oathOfLegitimacy'
import MakeCitizenArrest from './MakeCitizenArrest'
import MakeComplaintReport from './MakeComplaintReport'
import MakeReportIncident from './MakeReportIncident'
export default {
  components: { MakeComplaintReport, MakeReportIncident, MakeCitizenArrest },

  name: 'CreateComplaint',

  data () {
    return {
      complaint_dialog: false,
      incident_dialog: false,
      citizen_arrest_dialog: false
    }
  },

  methods: {
    close () {
      this.citizen_arrest_dialog = false
      this.complaint_dialog = false
      this.incident_dialog = false
    },
    submited () {
      this.complaint_dialog = false
      this.incident_dialog = false
      this.$emit('refresh')
    }
    // proceed () {
    //   this.oath_dialog = false
    //   this.complaint_dialog = true
    // }
  }
}
</script>
