<template>
  <div>
    <q-dialog v-model="report_dialog" :maximized="report_dialog" persistent>
      <q-card style="min-width: 100%;min-height:100%">
        <q-card-section>
          <div class="text-h6 text-indigo-8">Report Incident <q-btn class="float-right" icon="close" @click="close" color="indigo-8"/></div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-form
            @submit="onSubmit"
            class="q-gutter-md"
          >
            <q-stepper
              v-model="step"
              ref="stepper"
              animated
              contracted
              class="shadow-0 q-pa-sm"
              done-color="green-6"
              active-color="aindigo-8"
              inactive-color="grey"
              style="padding: 0px !important"
            >
              <q-step
                title="Available Station"
                :name="1"
                icon="account_box"
                :done="step > 1"
              >
                <SelectStation @close="close" :selected.sync="selectedStation" @submit="submitStation"/>
              </q-step>
                <q-step
                title="Complaint"
                horizontal
                :name="2"
                icon="shield"
                :done="step > 2"
              >
                <q-form
                  @submit="onSubmit"
                  class="q-gutter-md"
                >
                  <q-card flat>
                    <q-card-section class="justify-center">
                      <div class="text-center">
                        <!-- <q-img
                          :src="selectedStation.station_logo"
                          spinner-color="white"
                          style="height: auto; max-width: 150px"
                        /> -->
                      </div>
                      <div class="text-h6 text-center">
                        Republic of the Philippines
                      </div>
                      <div class="row justify-center">
                        <div class="col-12 text-center">
                          <span>Province of Cebu</span> <br>
                          <span>{{selectedStation.city}}</span> <br>
                          <span> {{selectedStation.area}}</span> <br>
                          <div class="text-h6 text-uppercase q-mb-lg">OFFICE OF THE {{selectedStation.station_name}}</div>
                        </div>
                      </div>
                    </q-card-section>
                    <q-card-section class="q-pt-none">
                      <div class="row">
                        <div>Reporter:
                          <strong class="text-uppercase">
                            {{user.first_name}} {{user.middle_name}} {{user.last_name}}
                          </strong>
                        </div>
                        <div class="col-6">
                            <!-- live empty -->
                        </div>
                        <div class="col-6"></div>
                        <div class="col-12">
                          <q-input
                            filled
                            type="text"
                            v-model="incident_name"
                            label="Incident Title"
                            hint="detailed incident name"
                            lazy-rules
                            :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                            required
                          />
                        </div>
                      </div>
                    </q-card-section>
                    <!-- <q-card-section class="q-pt-none">
                        <q-select
                            filled
                            multiple
                            emit-value
                            map-options
                            v-model="incident"
                            option-value="category_desc"
                            option-label="category_desc"
                            label="Select Incident Type"
                            :options="optIncidentType"
                          lazy-rules
                          :rules="[ val => val && val.length > 0 || 'Please type something']"
                        />
                    </q-card-section> -->
                    <q-card-section align="center">
                      <ImageUploaderVue :uploaderLabel="uploaderLabel" :imageUrl.sync="images" :maxFile="5"/>
                    </q-card-section>
                  </q-card>
                  <q-stepper-navigation align="center">
                    <q-btn type="submit" :color="images.length > 0 ? 'green-8': 'indigo-8'"  :disable="images.length > 0 ? false : true " label="Submit" />
                    <q-btn flat @click="step = 1" color="indigo-8" label="Back" class="q-ml-sm" />
                  </q-stepper-navigation>
                </q-form>
              </q-step>
            </q-stepper>
          </q-form>
        </q-card-section>
        <Oath :show="show" @proceed="proceed" @close="close"/>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Oath from './oathOfLegitimacy'
var account = JSON.parse(localStorage.getItem('user'))
import ImageUploaderVue from './ImageUploader.vue'
import SelectStation from './SelectStationComponent'
import gql from 'graphql-tag'
import moment from 'moment'

export default {
  components: { SelectStation, ImageUploaderVue, Oath },
  data () {
    return {
      date: moment().format('YYYY-MM-DD'),
      proxyDate: moment().format('YYYY-MM-DD'),
      step: 1,
      uploaderLabel: 'Upload Incident Images',
      currentLocation: [],
      selectedStation: {},
      report_dialog: false,
      stationOptionsRef: [],
      incident_name: '',
      images: [],
      report: '',
      incident: [],
      optIncidentType: [],
      optstations: [],
      user: ''

    }
  },

  props: {
    show: {
      type: Boolean,
      default: false
    }
  },

  watch: {
    show (newVal, oldVal) {
      this.report_dialog = this.show
    }
  },

  created () {
    this.getComplaint()
    this.user = account
  },

  methods: {
    proceed (e) {
      this.currentLocation = e
    },
    submitStation () {
      this.step = 2
    },

    close () {
      this.$emit('close')
    },

    updateProxy () {
      this.proxyDate = moment(this.date).format('YYYY/MM/DD')
    },

    save () {
      this.date = moment(this.proxyDate).format('YYYY-MM-DD')
    },

    async onSubmit (e) {
      e.preventDefault()
      const variables = {
        // incident_desc: 'TODO',
        incident_evid: JSON.stringify(this.images),
        incident_type: JSON.stringify(this.incident),
        incident_name: this.incident_name,
        station_id: this.selectedStation.id,
        latitude: JSON.stringify(this.currentLocation[0]),
        longitude: JSON.stringify(this.currentLocation[1]),
        user_id: this.user.id
      }
      const { data } = await this.$apollo.mutate({
        mutation: gql`
          mutation saveIncident(
              $incident_desc: String,
              $incident_evid: String,
              $incident_name: String,
              $station_id: uuid,
              $user_id: uuid,
              $incident_type: String,
              $longitude: String,
              $latitude: String
            ) {
            insert_incident(
              objects: {
                incident_desc: $incident_desc,
                incident_evid: $incident_evid,
                incident_name: $incident_name,
                station_id: $station_id,
                user_id: $user_id,
                incident_type: $incident_type
                longitude: $longitude,
                latitude: $latitude
              }) {
              returning {
                id
              }
            }
          }
        `,
        variables
      })
      if (data) {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted'
        })
        this.step = 1
        this.incident_name = ''
        this.incident = ''
        this.$emit('submited')
      }
    },

    async getComplaint () {
      const { data: { incident_types: incidentType } } = await this.$apollo.query({
        query: this.$gql`
          query getIncidentTypes{
            incident_types {
              created_at
              id
              type
              updated_at
            }
          }
        `,
        fetchPolicy: 'network-only'
      })
      if (incidentType.length) {
        this.optIncidentType = incidentType.map(data => data.type)
      }
    },

    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'check_circle',
        message: 'Please fill up All input fields'
      })
    }
  }
}
</script>
