<template>
  <div>
    <q-dialog v-model="show" persistent :maximized="show" transition-show="slide-up" transition-hide="slide-down">
      <q-card style="min-width: 100%;min-height:100%">
          <div class="text-right">
            <q-btn @click="close" round class="q-ma-xs" size="xs" icon="keyboard_arrow_down" color="red-8"/>
          </div>
          <q-card-section class="q-mb-xl" align="center">
              <div class="q-mb-lg">
                <div class="text-h5 text-uppercase text-bold">
                  Citizen Arrest
                </div>
                <small class="text-grey">
                  Citizen Arrest Feature is for emergency Reported case,
                  if you think you are in the emergency case please fill up the requirements and tap th button
                </small>
              </div>
             <div> <q-chip :color="station.id !== undefined && images !== ''? 'green-8' : 'red-8'" text-color="white" size="sm" :label="station.id !== undefined && images !== ''? 'Tap to Submit': 'fill up the requiremments'"/></div>
            <q-btn
              @click="submit() &&  getuserComplaint()"
              size="40px"
              round
              :loading="loading"
              :color="station.id !== undefined && images !== ''? 'green-7' : 'red-8'"
              icon='notification_important'
              class="shadow-10"
            >
              <span class="pulse"></span>
              <span class="pulse"></span>
              <span class="pulse"></span>
              <span class="pulse"></span>
            </q-btn>
             <div class="q-mb-md q-mt-xl">
                <span class="text-grey">
                  Requirements
                </span>
              </div>
            <div class="q-gutter-sm row">
              <q-card  class="col" clickable>
                <div>
                  <!-- <small>Step 1</small> -->
                </div>
               <span>Select Institution</span>
                <div>
                  <q-icon size="md" :name="station.id !== undefined ? 'done_outline': 'policy'" :color="station.id !== undefined ? 'green-8':'red-8'"></q-icon>
                </div>
                 <div class="q-ma-xs">
                  <small> {{station.station_name}}</small>
                </div>
              <div class="q-ma-sm">
              </div>
                <q-popup-proxy v-model="popup_station">
                  <q-banner>
                      <SelectStation @close="cancel" :selected.sync="station" @submit="submitStation"/>
                  </q-banner>
                </q-popup-proxy>
             </q-card>
              <q-card  class="col" clickable>
                <div>
                  <!-- <small>Step 2</small> -->
                </div>
                <span>Upload Evidences</span>
                <div>
                  <q-icon size="md" :name="images !== '' ? 'done_outline': 'camera_alt'" :color="images !== '' ? 'green-8':'red-8'"></q-icon>
                </div>
                <div class="ellipsis q-ma-xs">
                 <small> {{images}}</small>
                </div>
                <q-popup-proxy v-model="popup_image">
                  <q-banner>
                      <ImageUploaderVue :uploaderLabel="uploaderimagelabel" :imageUrl.sync="images" :maxFile="5"/>
                      <div class="text-center q-pt-sm">
                        <q-btn class="q-mx-xs" @click="cancel"  label="cancel" color="grey-8"/>
                        <q-btn class="q-mx-xs" @click="upload" :disable="images.length  > 0 ? false : true"  label="done" :color="images.length  > 0 ? 'green-8' : 'indigo-8'"/>
                      </div>
                  </q-banner>
                </q-popup-proxy>
              </q-card>
            </div>
          </q-card-section>
            <q-separator></q-separator>
          <q-card-section align="center">
            <div class="text-h6">
              Recent Reports
            </div>
             <q-tabs
                v-model="tab"
                align="justify"
                class="text-grey-10"
                active-color="white"
                active-bg-color="red-8"
                indicator-color="transparent"
              >
            <div v-for="tab in userCitizenArrest" :key="tab.id">
              <div class="shadow-4 q-ma-xs ">
                <div class="text-left">
                </div>
                <q-tab class="shadow q-pa-lg" :label="tab.complaint_type" >
                  <small>{{tab.status}}</small>
                  <small>{{tab.created_at}}</small>
                </q-tab>
              </div>
            </div>
          </q-tabs>
          </q-card-section>
           <Oath :show="show" @proceed="proceed" @close="close"/>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { saveNotification } from '../../Graphql/query/notification'
import moment from 'moment'
import ImageUploaderVue from './ImageUploader'
import SelectStation from './SelectStationComponent'
import { submitCitizenArrest, getUserCitizenArrest } from '../../Graphql/query/complaint'
import Oath from './oathOfLegitimacy'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'CitizenArrestComponent',
  components: { Oath, ImageUploaderVue, SelectStation },
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  state: {
    data: []
  },
  data () {
    return {
      uploaderimagelabel: 'Upload Images',
      account: account,
      AddEvid_dialog: false,
      data: [],
      images: '',
      station: [],
      tab: '',
      color: '',
      loading: false,
      popup_station: false,
      popup_image: false,
      userCitizenArrest: []
    }
  },
  methods: {
    async saveToNotification (noti) {
      const variables = {
        user_id: noti.user_id,
        station_id: noti.station_id,
        respondent_id: noti.respondent_id,
        complaint_id: noti.complaint_id,
        notification_content: noti.notification_content,
        notification_type: noti.notification_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      return data
    },
    upload () {
      this.popup_image = false
      // console.log(this.images)
    },
    submitStation () {
      this.popup_station = false
      // console.log(this.station.id)
    },
    async submit () {
      if (this.station.id !== undefined && this.images !== '') {
        this.loading = true
        const variables = {
          user_id: this.account.id,
          station_id: this.station.id,
          latitude: JSON.stringify(this.currentLocation[0]),
          longitude: JSON.stringify(this.currentLocation[1]),
          complaint_evid: JSON.stringify(this.images)
        }
        const { data } = await this.$apollo.mutate({
          mutation: submitCitizenArrest,
          variables
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            message: error.message
          })
          this.loading = false
          return error
        })
        if (data) {
          const notification = {
            user_id: null,
            station_id: this.station.id,
            respondent_id: null,
            complaint_id: null,
            notification_content: account.first_name + ' ' + account.middle_name + ' ' + account.last_name + ' Request immediate assistance Reporting Citizen Arrrest Case',
            notification_type: 'Citizen Arrest'
          }
          console.log(notification)
          this.saveToNotification(notification)
          this.loading = false
          this.images = ''
          this.station = ''
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            message: 'Report Send Successfully!'
          })
        }
      } else {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: 'Fill up All requirements'
        })
      }
    },

    async getuserComplaint () {
      const { data } = await this.$apollo.query({
        query: getUserCitizenArrest,
        variables: {
          user_id: account.id
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.userCitizenArrest = data.complaint.map((complaint) => {
          if (typeof complaint.complaint_evid !== 'object') {
            complaint.complaint_evid = JSON.parse(complaint.complaint_evid)
            complaint.created_at = moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a')
          }
          return complaint
        })
      }
    },
    proceed (e) {
      this.currentLocation = e
      console.log(this.currentLocation[0])
    },
    closeUploader () {
      this.AddEvid_dialog = false
    },
    cancel () {
      this.popup_image = false
      this.popup_station = false
    },
    close () {
      this.station = ''
      this.images = ''
      this.$emit('close')
    },
    test () {
      console.log('citizen arrest page')
    },
    getCitizenArrest () {

    }
  },
  created () {
    this.test()
    this.getuserComplaint()
  }
}
</script>
