<template>
    <div>
      <q-btn v-show="showbtn" class="q-mb-sm" color="indigo-8" :label="label" @click="CurrentLocation"></q-btn>
      <l-map  v-show="showmap" ref="map" style="height: 270.4px" :zoom="zoom" :center="center" @ready="doSomethingOnReady()">
        <l-tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"/>
          <l-marker :lat-lng="myLocation"  :icon="icon"></l-marker>
          <div v-for="mark in stationMarkers" :key="stationMarkers.indexOf(mark)">
            <div v-if="mark[0] != null && mark[1] != null">
              <l-marker :lat-lng="mark"  :icon="iconStation"></l-marker>
            </div>
          </div>
           <div v-for="mark in reportMarkers" :key="reportMarkers.indexOf(mark)">
            <div v-if="mark[0] != null && mark[1] != null">
              <l-marker :lat-lng="mark"  :icon="iconReport"></l-marker>
            </div>
          </div>
          <div v-for="mark in processReportMarkers" :key="processReportMarkers.indexOf(mark)">
            <div v-if="mark[0] != null && mark[1] != null">
              <l-marker :lat-lng="mark"  :icon="iconProcessReport"></l-marker>
            </div>
          </div>
          <div v-for="mark in tasktMarkers" :key="tasktMarkers.indexOf(mark)">
            <div v-if="mark[0] != null && mark[1] != null">
              <l-marker :lat-lng="mark"  :icon="iconTask"></l-marker>
            </div>
          </div>
          <div v-for="mark in respondedtMarkers" :key="respondedtMarkers.indexOf(mark)">
            <div v-if="mark[0] != null && mark[1] != null">
              <l-marker :lat-lng="mark"  :icon="iconResponded"></l-marker>
            </div>
          </div>
          <div v-for="mark in reportIncidentMarkers" :key="reportIncidentMarkers.indexOf(mark)">
            <div v-if="mark[0] != null && mark[1] != null">
              <l-marker :lat-lng="mark"  :icon="iconIncident"></l-marker>
            </div>
          </div>
      </l-map>
    </div>
</template>
<script>
import Vue from 'vue'
import L from 'leaflet'
import { LMap, LTileLayer, LMarker, LIcon } from 'vue2-leaflet'

Vue.component('l-map', LMap)
Vue.component('l-tile-layer', LTileLayer)
Vue.component('l-marker', LMarker)
Vue.component('l-icon', LIcon)
import 'leaflet/dist/leaflet.css'

export default {
  data () {
    return {
      zoom: 15,
      myLocation: ['0', '0'],
      center: ['0', '0'],
      staticAnchor: [16, 37],
      icon: L.icon({
        iconUrl: 'https://image.flaticon.com/icons/png/128/3721/3721984.png',
        iconSize: [32, 37],
        iconAnchor: [16, 16]
      }),
      iconStation: L.icon({
        iconUrl: 'https://image.flaticon.com/icons/png/128/3310/3310666.png',
        iconSize: [32, 37],
        iconAnchor: [16, 16]
      }),
      iconReport: L.icon({
        iconUrl: 'https://image.flaticon.com/icons/png/128/2892/2892041.png',
        iconSize: [32, 37],
        iconAnchor: [16, 16]
      }),
      iconProcessReport: L.icon({
        iconUrl: 'https://image.flaticon.com/icons/png/128/4501/4501174.png',
        iconSize: [32, 37],
        iconAnchor: [16, 16]
      }),
      iconTask: L.icon({
        iconUrl: 'https://image.flaticon.com/icons/png/128/2176/2176044.png',
        iconSize: [32, 37],
        iconAnchor: [16, 16]
      }),
      iconResponded: L.icon({
        iconUrl: 'https://image.flaticon.com/icons/png/128/4453/4453830.png',
        iconSize: [32, 37],
        iconAnchor: [16, 16]
      }),
      iconIncident: L.icon({
        iconUrl: 'https://image.flaticon.com/icons/png/128/3269/3269260.png',
        iconSize: [32, 37],
        iconAnchor: [16, 16]
      })
    }
  },
  components: {
    LMap
  },
  props: {
    label: {
      type: String
    },
    showbtn: {
      type: Boolean,
      default: false
    },
    showmap: {
      type: Boolean,
      default: true
    },
    setCenter: {
      type: Array
    },
    respondedtMarkers: {
      type: Array
    },
    stationMarkers: {
      type: Array
    },
    reportMarkers: {
      type: Array
    },
    reportIncidentMarkers: {
      type: Array
    },
    processReportMarkers: {
      type: Array
    },
    tasktMarkers: {
      type: Array
    }
  },
  methods: {
    CurrentLocation (e) {
      e = this.myLocation
      this.$emit('CurrentLocation', e)
    },
    doSomethingOnReady () {
      this.map = this.$refs.map.mapObject
      this.map.on('click', function (e) {
        console.log(e)
      })
    },
    getGioLocation (position) {
      const latitude = position.coords.latitude
      const longitude = position.coords.longitude
      this.myLocation = [latitude, longitude]
      this.center = [latitude, longitude]
      // console.log(position)
    },
    error () {
      console.error('error in getting gio location')
    }
  },
  watch: {
    setCenter (newVal, oldVal) { // watch it
      if (newVal[0] !== null && newVal[1] !== null) {
        this.center = newVal
      } else {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'No Address Coordinate found'
        })
      }
    }
  },
  created () {
    if (!navigator.geolocation) {
      console.error('error in getting gio location')
    } else {
      navigator.geolocation.getCurrentPosition(this.getGioLocation, this.error)
    }
  }
}
</script>
