<template>
  <div>
    <q-item
    clickable
    :to="link"
    class="shadow-1 q-mb-xs text-grey-9"
  >
    <q-item-section
      avatar
      class="q-ml-sm"
    >
      <q-icon :color="color"  size="md" :name="icon" />
    </q-item-section>
    <q-item-section exact>
      <q-item-label>
        <span>
           <div class="q-py-sm">
            {{label}}
           </div>
           <!-- {{data.complaint}} -->
           <small> @ {{data.complaint.station.station_name}}</small> <br>
            <small>{{data.created_at}}</small>
        </span>
      </q-item-label>
    </q-item-section>
  </q-item>
  </div>
</template>

<script>
export default {
  props: {
    link: {
      type: String
    },
    label: {
      type: String
    },
    data: {
      type: Object
    },
    sender: {
      type: String
    },
    icon: {
      type: String
    },
    color: {
      type: String
    }
  },
  data () {
    return {
      counter: 0
    }
  },

  methods: {

    startCounting () {
      this.timer = setInterval(() => {
        this.counter++
      }, 1000)
    },

    stopCounting () {
      clearInterval(this.timer)
    }
  },

  beforeDestroy () {
    this.stopCounting()
  }
}
</script>
