<template>
  <div >
    <q-dialog v-model="oath_dialog" persistent>
      <q-card style="min-width:90%">
          <div class="text-right q-ma-xs">
              <q-btn class="q-ml-sm" color="grey-8" icon="close" @click="close"/>
          </div>
        <q-card-section class="text-grey-8">
          <q-scroll-area
            style="height: 200px;"
            class="col"
            ref="first"
          >
          <!-- In the name of the law and/or equity. and the name of God Almighty,
          I {{user.first_name}} {{user.middle_name}} {{user.last_name}} accept this term of condition serve as my OATH OF LEGITIMACY
          for filling this report and if this report is proven to be illegitimate I will accept my punishment -->
            As a Condition of use, you promise not to use the Service for any purpose that is unlawfull or prohibited by the Terms,
            <p>1. To abuse, harass, threaten, Impresonate or Intimidate any person;</p>
            <p>2. To post pornographic, abusive, Offensive, profane, or that infringes any copyright or other right of any person;</p>
            <p>3. For any purpose(Including posting or viewing Content) that is not permitted under the laws of the jurisdiction Where you use the Services;</p>

            <div class="q-gutter-sm">
              <q-checkbox color="indigo-8" v-model="check" label="Check to accept and continue." />
            </div>
          </q-scroll-area>
        </q-card-section>
        <q-card-section class="q-pt-none text-center">
          <!-- <q-btn class="q-ml-sm"   color="indigo-8" label="Continue"  @click="proceed"/> -->

           <Map :disable="check ?  false : true" :showbtn="showbtn" :label="label" :showmap="showmap" @CurrentLocation="proceed"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Map from '../Components/Map'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ViewComplaintPage',
  components: { Map },
  props: {
    show: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      label: 'Continue',
      showbtn: true,
      showmap: false,
      slide: 0,
      check: false,
      oath_dialog: true,
      user: ''
    }
  },
  watch: {
    show () {
      this.oath_dialog = this.show
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    proceed (e) {
      if (this.check === true) {
        if (e[0] === '0' && e[1] === '0') {
          this.oath_dialog = true
          this.$q.notify({
            color: 'negative',
            textColor: 'white',
            icon: 'check_circle',
            message: 'No Coordinates Found! Please check your Location!'
          })
        } else {
          console.log(e)
          this.check = false
          this.oath_dialog = false
          this.$emit('proceed', e)
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Location Accessed ' + 'latitude: ' + e[0] + ' longitude: ' + e[1]
          })
        }
      } else {
        this.$q.notify({
          color: 'negative',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Please Check the terms and condition before continue'
        })
      }
    }
  },
  created () {
    this.user = account
  }
}
</script>
