<template>
  <div class="row justify-center q-ma-md">
    <q-intersection
      once
      transition="scale"
     >
    <q-list round  class="shadow-2 text-grey-9" separator style="width:335px">
      <q-slide-item @left="onLeft" @right="onRight" left-color="grey-8" right-color="indigo-8">
        <template v-slot:left>
          <div class="row items-center">
           WITHDRAW THIS COMPLAINT
          </div>
        </template>
        <template v-slot:right>
          <div class="row items-center">
            <div class="text-center">
              VIEW THIS COMPLAINT
            </div>
          </div>
        </template>
        <div>
          <q-item v-if="data.status==='For Appointment' || data.status==='Confirmed' || data.status==='Confirmed' ">
            <q-item-section v-if="data.complaint_type !== 'Citizen Arrest'">
              <small class="text-uppercase text-bold"> Appointment Date</small>
                <small class="text-uppercase text-center  ">
                  {{data.from}} <strong>to</strong> {{data.to}}
                </small>
            </q-item-section>
          </q-item>
        </div>
        <q-item>
          <!-- <q-item-section avatar>
            <q-icon
              class="q-pa-md"
              size="lg"
              color="indigo-8"
              :name="data.status === 'Pending' ? 'pending_actions':
               data.status === 'On Process' ? 'verified_user' :
               data.status === 'Withdraw' ? 'cancel' :
               data.status === 'Investigated' ? 'policy' :
               data.status === 'For Appointment' ? 'check_circle':
               data.status === 'Confirmed' ? 'done_outline': ''
               "
            />
          </q-item-section> -->
          <q-item-section>
            <div class="text-right">
              <q-chip
              size="md"
              :icon="
              data.status === 'Pending' ? 'pending_actions':
              data.status === 'On Process' ? 'verified_user' :
              data.status === 'Withdraw' ? 'cancel' :
              data.status === 'Investigated' ? 'policy' :
              data.status === 'For Appointment' ? 'book_online':
              data.status === 'Confirmed' ? 'recommend':
              data.status === 'Filed' ? 'check_circle': ''
              "
              dense
              square
              class="text-bold bg-grey-3"
              :text-color="data.status === 'Pending' ? 'indigo-9':
               data.status === 'On Process' ? 'teal-8' :
               data.status === 'Withdraw' ? 'grey-8' :
               data.status === 'Investigated' ? 'orange-8' :
               data.status === 'For Appointment' ? 'teal-8':
               data.status === 'Confirmed' ? 'green-8':
               data.status === 'Filed' ? 'blue-8': ''
               "
              >
              {{data.status}}</q-chip>
            </div>
            <small>Complaint case</small>
            <div class="text-bold">
                {{data.complaint_type}}
            </div>
            <div>
              {{data.created_at}}
            </div>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <small>
              Submitted: @ {{data.station.station_name}} <br>
              Location: {{data.station.station_location}}
            </small>
          </q-item-section>
        </q-item>
         <q-item v-if="data.status==='For Appointment'">
            <q-item-section>
              <q-btn v-if="data.status==='For Appointment' || data.status==='Confirmed'"  :disable="disable || data.status === 'Confirmed'" dense color="teal-8" @click="confirm" label="confirm"/>
            </q-item-section>
          </q-item>
      </q-slide-item>
    </q-list>
    </q-intersection>
    <ViewUserComplaint
      :show="userReport_dialog"
      @cancel="cancel"
      :data="data"
      @update="update"
      @refresh="refresh"
    />
    <DeleteConfirm
      :show="confirm_dialog"
      @cancel="cancel"
      :data="data"
      @confirmDelete="confirmDelete"
    />
  </div>
</template>

<script>
import DeleteConfirm from '../Components/confirmDeleteComplaint'
import ViewUserComplaint from '../Components/ViewUserReport'
export default {
  name: 'HistoryReportCardPage',
  components: { ViewUserComplaint, DeleteConfirm },
  props: {
    data: Object
  },
  data () {
    return {
      disable: false,
      slide: 0,
      tab: 'complaint',
      userReport_dialog: false,
      confirm_dialog: false
    }
  },
  created () {

  },
  methods: {
    confirm (e) {
      console.log()
      this.disable = true
      e = this.data
      this.$emit('confirm', e)
    },
    refresh () {
      this.$emit('refresh')
    },
    refuse (e) {
      e = this.data
      this.$emit('refuse', e)
    },
    update (e) {
      this.$emit('update', e)
    },
    confirmDelete (e) {
      this.confirm_dialog = false
      this.$emit('confirmDelete', e)
    },
    cancel () {
      this.userReport_dialog = false
      this.confirm_dialog = false
    },
    onLeft ({ reset }) {
      if (this.data.status !== 'Confirmed' && this.data.status !== 'Withdraw' && this.data.status !== 'Filed') {
        this.confirm_dialog = true
      } else {
        this.$q.notify({
          color: 'negative',
          textColor: 'white',
          icon: 'check_circle',
          message: 'You Cant Withdraw this complaint this Time'
        })
      }
      this.finalize(reset)
    },

    onRight ({ reset }) {
      this.userReport_dialog = true
      this.finalize(reset)
    },

    finalize (reset) {
      this.timer = setTimeout(() => {
        reset()
      }, 1000)
    }
  },
  beforeDestroy () {
    clearTimeout(this.timer)
  }
}
</script>
