<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card  style="min-width:45%">
        <q-card-section align="center">
           Select Institution
        </q-card-section>
        <q-card-section align="center">
            <q-btn-toggle
                v-model="type"
                toggle-color="indigo-8"
                :options="[
                    { label: 'Barangay Hall', icon: 'apartment', value: 'Barangay Hall'},
                    { label: 'Police Station', icon: 'local_police', value: 'Police Station'}
                ]"
            />
        </q-card-section>
        <q-card-section class="q-pt-none text-center">
          <q-btn label="close" @click="close"/>
          <q-btn :disable="type === '' ? true : false" class="q-ml-sm"  color="indigo-8" label="Continue"  @click="getStationType"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'ViewComplaintPage',
  props: {
    show: {
      type: Boolean
    }
  },
  data () {
    return {
      type: ''
    }
  },
  methods: {
    getStationType (e) {
      e = this.type
      this.$emit('getStationType', e)
    },
    close () {
      this.$emit('close')
    }
  },
  created () {
  }
}
</script>
