<template>
  <div>
    <q-card>
      <div class="text-h6 text-center q-pa-lg">
      Select Active {{station_type}}
    </div>
    <div class="row">
      <div class="col-9">
        <q-select
          filled
          v-model="selectedStation"
          use-input
          input-debounce="0"
          :label="station_type ==='Barangay Hall' ? 'Select Barangay Hall' : 'Select Police Station'"
          :options="stationOptions"
          @filter="filterFn"
          @input="onSelectedStation"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">
                No results
              </q-item-section>
            </q-item>
          </template>
        </q-select>
      </div>
      <div class="col-3">
        <q-btn style="height:100%;width:100%" color="indigo-8" :label="mapbtnlabel" @click="submit"/>
      </div>
    </div>
      <Map :setCenter="setMapCenter" :stationMarkers="stationMarkers"/>
      <SelectStationType @close="close" :type="type" @getStationType="getStationType" :show="show"/>
    </q-card>
  </div>
</template>

<script>
import Map from './Map'
import { showAllStationByType } from '../../Graphql/query/station'
import SelectStationType from '../Components/SelectStationTypeComponent'
export default {
  components: { Map, SelectStationType },
  props: {
    mapbtnlabel: {
      type: String,
      default: 'next step'
    }
  },
  data () {
    return {
      station_type: '',
      stationMarkers: [],
      setMapCenter: [],
      stationOptions: [],
      selectedStation: '',
      selected: {},
      type: '',
      show: true
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    submit () {
      if (Object.keys(this.selected).length) {
        this.$emit('submit')
      } else {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: 'Please Select Station'
        })
      }
    },
    onSelectedStation (e) {
      this.setMapView(e.value)
      this.selected = e.value
      this.$emit('update:selected', e.value)
    },
    setMapView (value) {
      this.setMapCenter = [value.latitude, value.longitude]
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.stationOptions = this.stationOptionsRef
        })
        return
      }
      update(() => {
        const needle = val.toLowerCase()
        this.stationOptions = this.stationOptionsRef.filter(v => v.label.toLowerCase().indexOf(needle) > -1)
      })
    },
    async getStationType (e) {
      if (e !== undefined) {
        console.log(e)
        this.station_type = e
        this.show = false
        const { data } = await this.$apollo.query({
          query: showAllStationByType,
          variables: {
            station_type: e
          },
          fetchPolicy: 'network-only'
        })
        if (data.station.length > 0) {
          this.stationOptions = data.station.map((station) => {
            return {
              label: station.station_name,
              value: station
            }
          })
          this.stationOptionsRef = JSON.parse(JSON.stringify(this.stationOptions))
          // get the markers of the map = [latitude, longitude]
          this.stationMarkers = data.station.map((data) => {
            if (data.latitude != null && data.longitude != null) {
              return [data.latitude, data.longitude]
            }
          }).filter(function (coords) {
            return coords !== undefined
          })
        }
      }
    }
  },
  created () {
    this.getStationType()
    console.log(this.type)
  }
}

</script>
