<template>
  <div >
    <q-dialog v-model="show"  persistent>
      <q-card class="my-card text-grey-8" style="width:100%">
          <q-form>
            <q-card-section align="right">
                <q-btn @click="close" color="indigo-8" icon="close" />
            </q-card-section>
              <q-input
                  filled
                  autogrow
                  v-model="investigation"
                  label="Write Partial Investigation.."
                  type="text"
                  lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Please type something'] "
              />
          <q-separator />
          <q-card-actions align="center">
            <Map
              :showbtn="showbtn"
              :label="label"
              :showmap="showmap"
              @CurrentLocation="SendingInvestigation"
            />
            <!-- <q-btn @click="SendInvestigation(investigation)" color="indigo-8" label="Send Investigation Report" /> -->
          </q-card-actions>
        </q-form>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Map from '../Components/Map'
export default {
  name: 'sendInvestigationReportComponents',
  components: { Map },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },
  data () {
    return {
      slide: 0,
      label: 'Send to Station ',
      investigation: '',
      showbtn: true,
      showmap: false
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        message: 'Please fill up All input fields'
      })
    },
    SendingInvestigation (e) {
      if (this.investigation !== '') {
        var data = [e, this.data, this.investigation]
        // console.log(data)
        this.$emit('SendingInvestigation', data)
      } else {
        this.BlankError()
      }
    }
  }
}
</script>
