<template>
 <div>
    <div>
       <q-btn-toggle
        v-model="status"
        toggle-color="primary"
        :options="[
            {icon: 'local_police', value: true},
            {icon: 'no_accounts ', value: false}
        ]"
    />
    </div>
 </div>
</template>

<script>
export default {
  name: 'StatusComponent',
  props: {
    statuss: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      status: ''
    }
  },
  methods: {
    updateStatus () {
      this.$emit('updateStatus')
    }
  }
}
</script>
