<template>
  <div class="row justify-center ">
    <q-intersection
      once
      transition="scale"
     >
      <q-item
        style="width:335px"
        :disabled="data.activity.investigation_statement === null ? false : true"
        :clickable="data.activity.investigation_statement !== null ? false : true"
        @click="open"
        class="shadow-1 q-mb-md text-grey-9"
      >

        <q-item-section avatar>
            <q-icon
              :color="data.activity.investigation_statement === null ? 'warning': 'green-8'"
              :name="data.activity.investigation_statement === null ? 'fmd_bad': 'task_alt'"
            />
          </q-item-section>
        <q-item-section exact>
          <div class="text-uppercase">
            Report type: <strong>{{data.report.__typename}}</strong>
          </div>
          <div :class="data.report.complaint_type === 'Citizen Arrest' ? 'text-bold text-red': 'text-bold'">
              {{data.report.incident_name !== undefined ? data.report.incident_name : data.report.complaint_type}}
          </div>
          <div>
            <!-- {{data.complaint.complaint_statement}} -->
          </div>
          <div>
            <small>
              {{data.created_at}}
            </small>
          </div>
        </q-item-section>
      </q-item>
    </q-intersection>
    <TaskItem
      @SendingInvestigation="SendingInvestigation"
      :tasktMarkers="tasktMarkers"
      @cancel="cancel"
      :show="show"
      :data="data"
    />
  </div>
</template>

<script>
import TaskItem from '../Components/viewTaskItem'
export default {
  name: 'TaskCard',
  props: {
    tasktMarkers: {
      type: Array
    },
    data: {
      type: Object
    }
  },
  components: { TaskItem },
  data () {
    return {
      show: false
    }
  },
  created () {

  },
  methods: {
    SendingInvestigation (e) {
      // var data = [this.data, e]
      this.show = false
      this.$emit('SendingInvestigation', e)
    },
    open () {
      this.show = true
    },

    cancel () {
      this.show = false
    }
  }
}
</script>
