<template>
  <div >
    <q-dialog v-model="show" :maximized="show" persistent>
      <q-card class="my-card text-grey-8 text-uppercase" style="width:100%">
        <!-- {{data.complaint}} -->
        <div class="text-right q-ma-xs">
          <q-btn @click="cancel" color="indigo-8" icon="close" />
        </div>
        <q-timeline color="indigo-8 ">
          <q-timeline-entry
            subtitle="Complainant"
            icon="person_pin"
            class="q-ml-md "
          >
            {{data.user.first_name}} {{data.user.middle_name}}  {{data.user.last_name}}
             <!-- {{data.complaint.user.first_name === undefined ? data.complaint.user.first_name : data.complaint.user.first_name}} -->
             <!-- {{data.complaint.user.middle_name === undefined ? data.complaint.user.middle_name : data.complaint.user.middle_name}} -->
             <!-- {{data.complaint.user.last_name === undefined ? data.complaint.user.last_name : data.complaint.user.last_name}} -->
          </q-timeline-entry>

          <q-timeline-entry
            v-show="data.report.complaint_statement !== undefined"
            subtitle="complaint"
            icon="record_voice_over"
            class="q-ml-md "
            :title="data.report.incident_name !== undefined ? data.report.incident_name : data.report.complaint_type"
          >
           <div v-if="data.report.complaint_statement !== null">
              <span class="text-bold">STATEMENT</span><br>
            <small class="text-lowercase"> {{data.report.complaint_statement}}</small>
           </div>
          </q-timeline-entry>
          <q-timeline-entry
            icon="calendar_today"
            class="q-ml-md"
            title="DATE AND TIME REPORTED"
            :body="data.created_at"
           />
        </q-timeline >
         <div class="text-right q-mr-sm">
           <!-- location getters -->
            <q-btn class="q-my-sm " color="indigo-8" label="Get Report Location" icon="location_pin" @click="location()"></q-btn>
         </div>
          <Map :setCenter="setMapCenter" :tasktMarkers="tasktMarkers" />
        <q-separator />
        <q-card-actions align="center">
          <q-btn v-show="data.report.__typename !== 'incident' && data.report.complaint_type !=='Citizen Arrest'" @click="sendInvestagationReportOpen" color="indigo-8" label="Send Investigation Report" />
        </q-card-actions>
        <SendInvestigationReport
          @SendingInvestigation="SendingInvestigation"
          @close="close"
          :show="sendInvestagationReport_dialog"
          :data="data"
        />
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import SendInvestigationReport from '../Components/sendInvestagationReport'
import Map from '../Components/Map'
export default {
  name: 'ViewComplaintPage',
  components: { Map, SendInvestigationReport },
  props: {
    tasktMarkers: {
      type: Array
    },
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },
  data () {
    return {
      slide: 0,
      sendInvestagationReport_dialog: false,
      setMapCenter: []
    }
  },
  methods: {

    sendInvestagationReportOpen () {
      this.sendInvestagationReport_dialog = true
    },
    location () {
      // this.setMapCenter = [this.data.complaint.latitude, this.data.complaint.longitude]
      console.log(this.setMapCenter)
    },
    close () {
      this.sendInvestagationReport_dialog = false
    },
    SendingInvestigation (e) {
      // console.log(e)
      this.sendInvestagationReport_dialog = false
      this.$emit('SendingInvestigation', e)
    },
    cancel () {
      this.$emit('cancel')
    },
    update () {
      this.$emit('update')
    }
  }
}
</script>
