<template>
  <div >
    <q-dialog v-model="show" :maximized="show" persistent>
      <q-card class="my-card" style="width:100%">
        <q-card-section>
          <q-timeline
            :color="data.status === 'Withdraw' ? 'grey-8': 'indigo-8'"

          >
            <q-timeline-entry
              v-if="data.status ==='For Appointment' || data.status ==='Confirmed'"
              title="APPOINTMENT DATE"
            >
             <small>{{data.from}} <strong>TO</strong>  {{data.to}}</small>
            </q-timeline-entry>
            <q-timeline-entry
              title="STATION"
            >
              <div class="caption">
                {{data.station.station_name}} <br>
                <small>
                  {{data.station.station_location}}
                </small>
              </div>
              <q-btn color="indigo-8" v-if="data.status === 'Pending'" class="q-mt-xs" label="change station">
                <q-popup-proxy v-model="popup_station">
                  <q-banner>
                      <SelectStation @close="close" :selected.sync="station" @submit="submitStation"/>
                  </q-banner>
                </q-popup-proxy>
              </q-btn>
            </q-timeline-entry>
            <q-timeline-entry
              title="DATE AND TIME"
                icon="calendar_today"
              :body="data.created_at"
            />
            <q-timeline-entry
              title="COMPLAINT"
              icon="sentiment_dissatisfied"
              :body="data.complaint_type"
            >

            </q-timeline-entry>
            <q-timeline-entry
              title="ACCUSED PERSON"
              icon="sports_kabaddi"
            >
              <q-input
                filled
                type="text"
                v-model="data.complaint_accuse_person"
                label="Statement"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
              />
            </q-timeline-entry>
            <q-timeline-entry
              title="STATEMENT"
              icon="record_voice_over"
            >
              <q-input
                filled
                type="text"
                v-model="data.complaint_statement"
                label="Statement"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
              />
            </q-timeline-entry>
            <q-timeline-entry
              title="EVIDENCES"
              icon="photo_camera"
            >
              <q-carousel
                animated
                v-model="slide"
                arrows
                navigation
                infinite
                height="300px"
                width="300px"
              >
                <!-- <q-carousel-slide v-for="i in data.complaint_evid" :name="data.complaint_evid.indexOf(i)" :key="data.complaint_evid.indexOf(i)" :img-src="i" /> -->
              </q-carousel>
            </q-timeline-entry>
            <div v-show="data.complaint_type === 'Citizen Arrest'">
              <q-timeline-entry
                title="RESPONDENT"
                icon="group"
              >
                <div v-for="respondent in data.respondent_activities" :key="respondent.id" v-bind="respondent">
                  <q-chip size="md" class="bg-grey-2" square>
                    <q-avatar>
                      <!-- <img :src="JSON.parse(respondent.image)"> -->
                    </q-avatar>
                    <span class="text-uppercase">{{respondent.user.first_name}} {{respondent.user.middle_name}} {{respondent.user.last_name}}</span> <br>
                  </q-chip>
                  <br>
                      <span>Contact Number: {{respondent.user.contact_number}}</span>
                    <br>
                  <small>{{respondent.user.rank}}</small>

                </div>
              </q-timeline-entry>
            </div>
          </q-timeline>
        </q-card-section>
        <q-separator />
        <q-card-actions align="center">
          <q-btn @click="cancel"  color="grey-8" :label="data.status === 'Pending' ? 'Cancel' : 'Close'" />
          <q-btn @click="update" v-if="data.status === 'Pending' ? true : false " color="indigo-8" label="Update" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { updateStation } from '../../Graphql/query/complaint'
import SelectStation from './SelectStationComponent'
import { saveNotification } from '../../Graphql/query/notification'
export default {
  name: 'ViewComplaintPage',
  components: { SelectStation },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },
  data () {
    return {
      slide: 0,
      station: {},
      popup_station: false
    }
  },
  methods: {
    async saveToNotification (noti) {
      const variables = {
        user_id: noti.user_id,
        station_id: noti.station_id,
        respondent_id: noti.respondent_id,
        complaint_id: noti.complaint_id,
        notification_content: noti.notification_content,
        notification_type: noti.notification_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      return data
    },
    async submitStation () {
      this.popup_station = false
      console.log(this.data.id)
      console.log(this.station)

      const variables = {
        id: this.data.id,
        station_id: this.station.id
      }
      console.log(variables)
      const { data } = await this.$apollo.mutate({
        mutation: updateStation, variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: error.message
        })
        this.$q.loading.hide()
        return error
      })
      if (data) {
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          message: 'Successfully Change institution!'
        })
      }
      const notification = {
        user_id: null,
        station_id: this.station.id,
        respondent_id: null,
        complaint_id: this.data.id,
        notification_content: 'Recieved new case ' + this.data.complaint_type,
        notification_type: 'changing station'
      }
      this.saveToNotification(notification)
      this.$emit('refresh')
    },
    close () {
      this.popup_station = false
    },
    cancel () {
      this.$emit('cancel')
    },
    update (e) {
      e = this.data
      this.$emit('update', e)
      console.log(e)
    }
  }
}
</script>
