<template>
  <div class="">
    <template>
      <div class="row q-pa-sm">
        <q-btn
          size="1.2em"
          class="text-indigo-8"
          @click="dialog = true"
          icon="apartment"
        >
          <q-tooltip
            content-class="bg-indigo-8"
            content-style="font-size:.9em"
            :offset="[10, 10]"
            transition-show="scale"
            transition-hide="scale"
            >
            Create Department
          </q-tooltip>
        </q-btn>
      </div>
    </template>
    <q-dialog v-model="dialog" persistent>
      <q-card  style="min-width: 355px;min-height:300px">
        <q-card-section>
          <div class="text-h5 text-grey">Create Deparment<q-btn class="float-right" flat icon="close" v-close-popup /></div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <form
            class="q-gutter-md"
          >
           <q-input
             filled
             type="text"
             v-model="dep_name"
             label="Department Name"
             lazy-rules
             :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
            />
            <q-btn class="q-ml-sm" @click="createDep" color="indigo-8" label="Create" v-close-popup/>
          </form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
var sid = JSON.parse(localStorage.getItem('user'))
import { createDepartment } from '../../Graphql/query/department'
export default {
  name: 'createDepartment',
  data () {
    return {
      dialog: false,
      dep_name: ''
    }
  },
  methods: {

    async createDep () {
      const { data } = await this.$apollo.mutate({
        mutation: createDepartment,
        variables: {
          station_id: sid.station_id,
          dep_name: this.dep_name
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.loading = false
        return error
      })
      if (data) {
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Department Created Successfully!'
        })
        this.dep_name = ''
      }
      return data
    }
  }
}
</script>
