<template>
  <div >
    <div class="row">
      <div class="col-12">
        <div class="bg-white q-pa-xs q-ma-sm">
            <CreateDepartment/>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white q-pa-md">
          <Table
            :title=title
            :data=departmentList
            :columns=columns
            enableAction: enableAction
            @toggleDelete= showDeleteMessage
            @toggleEdit= showEdit
          />
          <ViewDepartment
            :show="show_dialog"
            :data="department"
            @updateDepartmentEvent="updateDepartmentEvent"
            @cancel="cancel"
          />
        </div>
      </div>
      <div class="col-12">
      </div>
    </div>
  </div>
</template>

<script>
import Table from 'components/Tables'
import CreateDepartment from './createDepartment'
import ViewDepartment from './viewDepartment'
import { showDepartment, updateDepartment, deleteDepartment } from '../../Graphql/query/department'
var sid = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'Department',
  components: { Table, CreateDepartment, ViewDepartment },
  action: null,
  data () {
    return {
      title: 'Department',
      departmentList: [],
      department: {},
      department_id: '',
      show_dialog: false,
      columns: [
        {
          name: 'department_name',
          required: true,
          label: 'Department Name',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'TotalMember', align: 'center', label: 'Total Member', field: 'count' },
        { name: 'action', align: 'center', label: 'Action', field: 'action' }
      ]
    }
  },
  methods: {
    cancel () {
      this.show_dialog = false
    },
    async showDeleteMessage (e) {
      const confirm = window.confirm('Are you sure to delete this depertment?')
      if (confirm) {
        const { data } = await this.$apollo.mutate({
          mutation: deleteDepartment,
          variables: {
            id: e.id
          }
        })
        if (data) {
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Department Deleted Successfully!'
          })
        }
        return data
      }
    },
    showEdit (e) {
      this.department = e
      this.show_dialog = true
    },
    updateDepartmentEvent () {
      this.updateDepartment()
      this.show_dialog = false
    },
    async updateDepartment () {
      const { data } = await this.$apollo.mutate({
        mutation: updateDepartment,
        variables: {
          id: this.department.id,
          dep_name: this.department.name
        }
      })
      if (data) {
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Department Updated Successfully!'
        })
      }
    },
    async showDepartment () {
      const { data } = await this.$apollo.query({
        query: showDepartment,
        variables: {
          station_id: sid.station_id
        }
      })
      if (data.department.length > 0) {
        const d = data.department.map((department) => {
          const count = department.users_aggregate.aggregate
          const departmentData = {
            id: department.id,
            name: department.dep_name,
            count: count.count
          }
          return departmentData
        })
        this.departmentList = d
      }
    }
  },
  created () {
    this.showDepartment()
  }
}
</script>
