<template>
  <div >
    <q-dialog v-model="show" persistent>
        <q-card  style="min-width: 355px;min-height:300px">
            <q-card-section>
            <div class="text-h5 text-grey">Update Department</div>
            </q-card-section>
            <q-card-section class="q-pt-none">
            <form
                class="q-gutter-md"
            >
            <q-input
                filled
                type="text"
                v-model="data.name"
                label="Department Name"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                />
                <div class="text-center">
                    <q-btn class="q-ml-sm" flat color="indigo-8" label="Cancel" @click="cancel"/>
                    <q-btn class="q-ml-sm"  @click="updateDepartmentEvent" color="indigo-8" label="Update" />
                </div>
            </form>
            </q-card-section>
        </q-card>
    </q-dialog>
</div>

</template>

<script>
export default {
  name: 'Department',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: function () {
        return []
      }
    }
  },
  methods: {
    cancel () {
      this.$emit('cancel')
    },
    updateDepartmentEvent () {
      this.$emit('updateDepartmentEvent')
    }
  }
}
</script>
