<template>
  <div >
    <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <div class="bg-white q-pa-xs q-ma-sm">
          <Table
            :title=title
            :data=stationList
            :columns=columns
            :enableAction=enableAction
            @toggleEdit=showEdit
            @updateStatus=updateStatus
            :loading="loading"
          />
          <ViewBarangay
            :show="show_dialog"
            :data="barangay"
            @close_dialog="close_dialog"
            :stationMarkers="stationMarkers"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Table from 'components/Tables'
import ViewBarangay from './viewBarangay'
import { showBarangayHall, updateStationStatus } from '../../Graphql/query/station.js'
export default {
  name: 'StationPage',
  components: { Table, ViewBarangay },
  action: null,
  data () {
    return {
      title: 'List of Barangay',
      stationList: [],
      stationMarkers: [],
      enableAction: false,
      barangay: {},
      show_dialog: false,
      loading: false,
      columns: [
        {
          name: '',
          required: true,
          label: 'Station Name',
          align: 'left',
          field: row => row.station_name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'station_location', align: 'center', label: 'Location', field: 'station_location', sortable: true },
        { name: 'Total_Users', align: 'center', label: 'Total Members', field: 'count', sortable: true },
        { name: 'action', align: 'center', label: 'Action', field: 'action' }
      ]
    }
  },

  methods: {
    close_dialog () {
      this.show_dialog = false
    },
    async updateStatus (e) {
      console.log(e)
      this.loading = true
      const { data } = await this.$apollo.mutate({
        mutation: updateStationStatus,
        variables: {
          id: e.id,
          // isActive: JSON.stringify(e.isActive)
          isActive: e.isActive
        }
      })
      if (data) {
        this.loading = false
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: e.isActive === true ? 'Station Account is Active' : 'Station Account is Disabled'
        })
      }
    },
    showEdit (e) {
      this.barangay = e
      this.show_dialog = true
    },
    async showBarangay () {
      const { data } = await this.$apollo.query({
        query: showBarangayHall,
        fetchPolicy: 'network-only'
      })
      if (data.station.length > 0) {
        this.stationList = data.station.map((station) => {
          const usercount = station.users_aggregate.aggregate
          const user = station.users
          const stationData = {
            id: station.id,
            isActive: station.isActive,
            longitude: station.longitude,
            latitude: station.latitude,
            station_name: station.station_name,
            station_location: station.station_location,
            count: usercount.count,
            user: user

          }
          return stationData
        })
        this.stationMarkers = data.station.map((data) => {
          if (data.latitude != null && data.longitude != null) {
            return [data.latitude, data.longitude]
          }
        }).filter(function (coords) {
          return coords !== undefined
        })
        console.log(this.stationMarkers)
      }
    }
  },
  created () {
    this.showBarangay()
  }
}
</script>
