<template>
  <div>
    <q-dialog v-model="show" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section align="right">
          <q-btn icon="close" color="indigo-8" @click="close_dialog"></q-btn>
        </q-card-section>
        <q-card-section>
          <div class="text-center">
            <div class="text-h5">
              {{data.station_name}}
            </div>
            <span>{{data.station_location}}</span>
          </div>
        </q-card-section>
        <q-card-section>
          <div class="text-right">
              <q-btn class="q-my-xs"  icon="location_pin" color="indigo-8" @click="location()">Get Barangay Location</q-btn>
          </div>
            <Map :setCenter="setMapCenter" :stationMarkers="stationMarkers" />
          </q-card-section>
          <q-card-section v-for="data in data.user" :key="data.id">
            <div class="text-h6">{{data.first_name}} {{data.middle_name}} {{data.last_name}}</div>
            <span>{{data.rank}}</span>
            <q-carousel
              animated
              v-model="slide"
              arrows
              navigation
              infinite
              height="300px"
              width="300px"
            >
              <q-carousel-slide v-for="i in JSON.parse(data.image)" :name="JSON.parse(data.image).indexOf(i)" :key="JSON.parse(data.image).indexOf(i)" :img-src="i" />
            </q-carousel>
         </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Map from '../../mobile/Components/Map'
export default {
  name: 'ViewBarangay',
  components: { Map },
  props: {
    stationMarkers: {
      type: Array
    },
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      setMapCenter: [],
      slide: 0
    }
  },
  methods: {
    location () {
      this.setMapCenter = [this.data.latitude, this.data.longitude]
      console.log(this.setMapCenter)
      if (this.setMapCenter === ['0', '0']) {
        this.$q.notify({
          color: 'negative',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'No Coordinates Found! Please check your Location!'
        })
      }
    },
    close_dialog () {
      this.$emit('close_dialog')
    }
  }
}
</script>
