<template>
  <div class="">
    <template>
      <div class="row q-pa-sm">
        <q-btn
          size="1.2em"
          class="text-indigo-8"
          @click="dialog = true"
          icon="group_add"
        >
          <q-tooltip
            content-class="bg-indigo-8"
            content-style="font-size:.9em"
            :offset="[10, 10]"
            transition-show="scale"
            transition-hide="scale"
            >
            Create Team
          </q-tooltip>
        </q-btn>
      </div>
    </template>
    <q-dialog v-model="dialog" persistent>
      <q-card  style="min-width: 355px;min-height:300px">
        <q-card-section>
          <div class="text-h5 text-grey">Create New Team<q-btn class="float-right" flat icon="close" v-close-popup /></div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <form
            class="q-gutter-md"
            @submit="createTeam"
          >
            <q-stepper
              class="shadow-0"
              v-model="step"
              ref="stepper"
              animated
              contracted
              done-color="green-6"
              active-color="indigo-8"
              inactive-color="grey"
            >
              <q-step
                title="team info"
                :name="1"
                icon="account_box"
                :done="step > 1"
              >
                <div>
                  <q-input
                    filled
                    type="text"
                    v-model="team_name"
                    label="Team Name"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                    required
                  />
                </div>
                <q-stepper-navigation>
                  <q-btn class="q-ml-sm" :loading="loading" color="indigo-8" type="submit">Create</q-btn>
                </q-stepper-navigation>
              </q-step>
            </q-stepper>
          </form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

export default {
  name: 'createTeam',
  data () {
    return {
      dialog: false,
      step: 1,
      team_name: '',
      loading: false,
      station_id: ''
    }
  },
  methods: {
    async createTeam () {
      this.loading = true
      var sid = JSON.parse(localStorage.getItem('user'))
      await this.$apollo.mutate({
        mutation: this.$gql`mutation CreateTeam
        (
          $team_name: String,
          $station_id: uuid
        )
        {
          insert_team
          (objects:
            {
              team_name: $team_name,
              station_id: $station_id
            }
          )
          {
             returning
              {
                id
              }
          }
        }
        `,
        variables: {
          team_name: this.team_name,
          station_id: sid.station_id
        }
      })
    }
  },
  created () {
    this.loading = false
  }
}
</script>
