<template>
  <div class="">
    <div class="row">
      <div class="col-6">
        <div class="bg-white q-pa-xs q-ma-sm">
         <CreateTeam/>
        </div>
      </div>
      <div class="col-6">
        <div class="bg-white q-pa-md q-ma-sm"> </div>
      </div>
      <div class="col-12">
        <div class="bg-white q-pa-xs q-ma-sm">
           <Table
            :title=title
            :data=teamList
            :columns=columns
            enableAction: enableAction
            @toggleDelete= showDeleteMessage
            @toggleEdit= showEdit
          >
          </Table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Table from 'components/Tables.vue'
import CreateTeam from './createTeam.vue'
export default {
  name: 'TeamPage',
  components: { Table, CreateTeam },
  data () {
    return {
      id: null,
      title: 'Team List',
      teamList: [],
      enableAction: true,
      columns: [
        {
          name: 'team_name',
          required: true,
          label: 'Team Name',
          align: 'left',
          field: row => row.team_name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'memeber', align: 'center', label: 'Member', field: 'count', sortable: true },
        { name: 'action', label: 'Action', field: 'action' }
      ]
    }
  },
  methods: {
    async showDeleteMessage (e) {
      await this.$apollo.mutate({
        mutation: this.$gql`
         mutation MyMutation($id: uuid!) {
            delete_team_by_pk(id: $id)
              {
                id
              }
          }
        `,
        variables: {
          id: e.id
        }
      })
    },
    showEdit () {
    }
  },
  async created () {
    var sid = JSON.parse(localStorage.getItem('user'))
    const { data } = await this.$apollo.query({
      query: this.$gql`query MyQuery($station_id: uuid) {
         team(where: {station_id: {_eq: $station_id}}){
          id  
          team_name
          users_aggregate {
            aggregate {
              count(columns: id)
            }
          }
        }
      }
      `,
      variables: {
        station_id: sid.station_id
      }
    })
    if (data.team.length > 0) {
      const t = data.team.map((team) => {
        const count = team.users_aggregate.aggregate
        const teamdata = {
          id: team.id,
          team_name: team.team_name,
          count: count.count
        }
        return teamdata
      })
      this.teamList = t
    }
  }
}
</script>
