<template>
  <div>
    <div v-if="visibility == true">
      <div style="height:200px" class="bg-white q-pa-sm">
        <div class="row">
          <div class="col">
              <div class="q-pa-md">
                <div class="">Team info</div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div style="height:200px" class="bg-white q-pa-sm">
        <div class="row">
          <div class="col">
              <div class="q-pa-md">
                <q-skeleton type="text" square width="20%" animation="fade" />
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ViewAdmin',
  data () {
    return {
      visibility: false
    }
  },
  created () {
    setTimeout(() => {
      this.visibility = true
    }, 2500)
  }
}
</script>
