<template>
  <div >
    <div class="row">
      <div class="col-10">
        <div class="">
           <!-- <img class="q-pa-none" style="width:12em" src="/images/undraw_Selecting_team_re_ndkb.png" alt=""> -->
        </div>
      </div>
      <div class="col-2">
        <div class="bg-white ">
            <AddMember
              @addMember="addMember"
            />
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white">
          <div class="text-h6 q-pl-md">LIST OF BARANGAY MEMBER</div>
          <Table
            :loading="loading"
            :title=title
            :data=userList
            :columns=columns
            enableAction: enableAction
            :togglestatusButton="togglestatusButton"
            @toggleDelete=showDeleteMessage
            @toggleEdit=showEdit
            @updateStatus="updateStatus"
          />
          <ViewMember
            :show="show_dialog"
            :data="user"
            @updateMemberEvent="updateMemberEvent"
            @close_dialog="close_dialog"
          />
        </div>
      </div>
      <div class="col-12">
      </div>
    </div>
  </div>
</template>

<script>
import ViewMember from './viewBarangayMember'
import API from '../../API/api-endpoint.js'
import Table from 'components/Tables'
import AddMember from './addBarangayMember'
import { showBarangayUser, deleteUser, updateUser, addUser, updateUserStatus } from '../../Graphql/query/user'
var sid = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'BarangayMemberPage',
  components: { Table, AddMember, ViewMember },
  action: null,
  data () {
    return {
      title: 'List of Barangay Official',
      userList: [],
      loading: false,
      togglestatusButton: true,
      checkDepartment: '',
      enableAction: true,
      show_dialog: false,
      // user: {} this must be an object initial value
      user: {},
      columns: [
        {
          name: 'username',
          required: true,
          label: 'username',
          align: 'left',
          field: row => row.username,
          format: val => `${val}`,
          sortable: true
        },
        // { name: 'middle_name', align: 'center', label: 'Middle Name', field: 'middle_name', sortable: true },
        { name: 'Full name', align: 'left', label: 'Full name', field: row => row.first_name + ' ' + row.middle_name + ' ' + row.last_name, sortable: true },
        // { name: 'userna', align: 'center', label: 'Username', field: 'username', sortable: true },
        { name: 'Gender', align: 'left', label: 'Gender', field: 'gender', sortable: true },
        { name: 'contact_nmber', align: 'left', label: 'Contacts', field: 'contact_number', sortable: true },

        { name: 'Title', align: 'left', label: 'Title', field: 'rank', sortable: true },
        { name: 'action', align: 'center', label: '', field: 'action' }

      ]
    }
  },

  methods: {
    async updateStatus (e) {
      console.log(e)
      const { data } = await this.$apollo.mutate({
        mutation: updateUserStatus,
        variables: {
          id: e.id,
          status: e.status
        }
      })
      if (data) {
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: e.status === true ? 'Account is Active' : 'Account is Disabled'
        })
      }
    },
    close_dialog () {
      this.show_dialog = false
    },
    async showMember () {
      const { data } = await this.$apollo.query({
        query: showBarangayUser,
        variables: {
          station_id: sid.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.users.length > 0) {
        this.userList = data.users.map((user) => {
          const userdata = {
            id: user.id,
            first_name: user.first_name,
            middle_name: user.middle_name,
            last_name: user.last_name,
            username: user.username,
            gender: user.gender,
            rank: user.rank,
            status: user.status,
            image: JSON.parse(user.image),
            contact_number: user.contact_number
          }
          return userdata
        })
      }
    },
    updateMemberEvent () {
      this.updateMember()
      this.show_dialog = false
    },
    async updateMember () {
      // this.$q.loading.show()
      this.loading = true
      const variables = {
        id: this.user.id,
        first_name: this.user.first_name,
        middle_name: this.user.middle_name,
        last_name: this.user.last_name,
        rank: this.user.rank,
        contact_number: this.user.contact_number

      }
      const { data } = await this.$apollo.mutate({
        mutation: updateUser, variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.loading = false
        // this.$q.loading.hide()
        return error
      })
      // console.log(data)
      if (data) {
        // this.loading = true
        // this.$q.loading.hide()
        // setTimeout(() => {
        this.loading = false
        // location.reload()
        // }, 1800)
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Police Updated Successfully!'
        })
      }
    },

    async showDeleteMessage (e) {
      const confirm = window.confirm('Are you sure to delete this acccount?')
      if (confirm) {
        // this.$q.loading.show()
        this.loading = true
        const { data } = await this.$apollo.mutate({
          mutation: deleteUser,
          variables: {
            id: e.id
          }
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          this.loading = false
          // this.$q.loading.hide()
          return error
        })
        if (data) {
          this.showMember()
          // this.$q.loading.hide()
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Successfully Deleted'
          })
          // setTimeout(() => {
          this.loading = false
          // location.reload()
          // }, 1800)
        }
        console.log(data)
        return data
      }
    },

    showEdit (e) {
      this.user = e
      this.checkDepartment = e.department_name
      this.show_dialog = true
    },
    // addMember (e) {
    //   this.addMemberEvent(e)
    // },
    async addMember (e) {
      // this.$q.loading.show()
      this.loading = true
      var newpass = {
        password: e.password
      }
      var hash = await API.hashpassword(newpass)
      const { data } = await this.$apollo.mutate({
        mutation: addUser,
        variables: {
          first_name: e.first_name,
          middle_name: e.middle_name,
          last_name: e.last_name,
          rank: e.rank,
          user_type: 'barangay_member',
          station_id: sid.station_id,
          username: e.username,
          password: hash.data.data,
          birthday: e.birthday,
          gender: e.gender,
          contact_number: e.contact_number,
          image: JSON.stringify(e.userimage)
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.loading = false
        // this.$q.loading.hide()
        return error
      })
      if (data) {
        this.showMember()
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Police Added Successfully!'
        })

        // this.$q.loading.hide()
        // setTimeout(() => {
        this.loading = false
        // location.reload()
        // }, 1800)
      }
      return data
    },
    test (e) {
    }
  },
  created () {
    this.showMember()
  }
}
</script>
