<template>
  <div>
    <q-dialog v-model="show" persistent>
      <q-card style="width:400px">
        <div class="text-right q-pa-xs">
          <q-btn icon="close" color="indigo-8" @click="close_dialog"></q-btn>
        </div>
        <q-card-section>
          <div class="q-ml-lg">
            <q-avatar v-if="data.image !== null || data.image !== []" size="5em">
              <img :src="data.image">
            </q-avatar>
            <q-avatar v-else  size="5em">
              <img src="/logo/b.png" alt="">
            </q-avatar>

          </div>
          <form
            class="q-gutter-md"
          >
            <div class="text-caption text-grey-10">
              <q-timeline color="indigo-8">
                <q-timeline-entry
                  :title="data.first_name + ' ' + data.middle_name + ' ' + data.last_name + ' - ' + data.contact_number"
                  subtitle="BARANGAY MEMBER INFORMATION"
                  icon="person"
                >
                  <q-input
                    filled
                    type="text"
                    v-model="data.first_name"
                    label="First Name"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                    required
                  />
                  <q-input
                    filled
                    type="text"
                    v-model="data.middle_name"
                    label="Middle Name"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                    required
                  />
                  <q-input
                    filled
                    type="text"
                    v-model="data.last_name"
                    label="Last Name"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                    required
                  />
                  <q-input
                    filled
                    type="text"
                    v-model="data.contact_number"
                    label="Contact Number"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                    required
                  />
                </q-timeline-entry>
                <q-timeline-entry
                  subtitle="USERNAME"
                  :title="data.username"
                  icon="account_circle"
                >
                </q-timeline-entry>
                <q-timeline-entry
                  subtitle="TITLE"
                  :title="data.rank"
                  icon="shield"
                >
                  <q-select
                    filled
                    v-model="data.rank"
                    :options="title"
                    option-value="rank"
                    label="Select Title "
                  />
                </q-timeline-entry>
              </q-timeline>
            </div>
          <q-card-actions align="center">
            <q-btn label="Update Account" @click="updateMemberEvent" color="indigo-8" ></q-btn>
          </q-card-actions>
        </form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Barangaytitle from '../../Commons/title.js'
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: function () {
        return []
      }
    }
  },
  name: 'ViewMemeberPage',
  data () {
    return {
      disable: false,
      title: Barangaytitle
    }
  },

  methods: {
    updateMemberEvent () {
      this.$emit('updateMemberEvent')
    },
    close_dialog () {
      this.$emit('close_dialog')
    }
  },
  created () {
  }
}
</script>
