<template>
  <div>
    <div
      v-for="User in user"
      :key="User.id"
      v-bind="User"
    >
      <Profile
        :data="User"
        @updateEvent="updateEvent"
      />
    </div>
  </div>
</template>

<script>
import Profile from '../../components/viewProfileComponent'
import { showUserById, updateUser } from '../../Graphql/query/user'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ProfilePage',
  components: { Profile },
  data () {
    return {
      user: {}
    }
  },
  methods: {
    updateEvent () {
      this.update()
    },
    async update () {
      this.$q.loading.show()
      const { data } = await this.$apollo.mutate({
        mutation: updateUser,
        variables: {
          id: this.user[0].id,
          first_name: this.user[0].first_name,
          middle_name: this.user[0].middle_name,
          last_name: this.user[0].last_name,
          rank: this.user[0].rank,
          contact_number: this.user[0].contact_number
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      // console.log(data)
      if (data) {
        this.$q.loading.hide()
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Member Updated Successfully!'
        })
      }
    },
    async showUser () {
      const { data } = await this.$apollo.query({
        query: showUserById,
        variables: {
          id: account.id
        },
        fetchPolicy: 'network-only'
      })
      this.user = data.users.map(user => {
        if (typeof user.image !== 'object') {
          user.image = JSON.parse(user.image)
        }
        return user
      })
    }
  },
  created () {
    this.showUser()
  }
}
</script>
