<template>
  <div>
     <div class="text-h6 text-uppercase q-pa-md">Citizen Arrest Case</div>
    <Table
      :data="citizen_arrest"
      :columns=columns
      :enableAction= enableAction
      @toggleEdit= showEdit
    />
  <ViewComplaint
    :data="complaint"
    :show="complaint_dialog"
    @submitStation="submitStation"
    @cancel="cancel"
    @makeAction="makeAction"
    :iconReport="iconReport"
    :btnshow2="btnshow2"
    :btnshow3="btnshow3"
  />
  <MakeAction
    :data="user"
    :show="action_dialog"
    @close="close"
    @assign="assign"
    :selected.sync="selected"
  />
  </div>
</template>

<script>
import { createBlotter } from '../../Graphql/query/blotter'
import { saveNotification } from '../../Graphql/query/notification'
import MakeAction from '../../components/makeAction'
import { updateStatus, getStationCitizenArrest, updateStation } from '../../Graphql/query/complaint'
import { showAllUserByType } from '../../Graphql/query/user'
import { saveActivity } from '../../Graphql/query/respondent_activity'
import ViewComplaint from '../../components/viewPendingComplaint'
import Table from '../../components/Tables'
var account = JSON.parse(localStorage.getItem('user'))
import moment from 'moment'
export default {
  name: 'CitizenArrestPage',
  components: { Table, ViewComplaint, MakeAction },
  data () {
    return {
      btnshow2: true,
      btnshow3: true,
      loading: false,
      complaintList: [],
      selected: [],
      user: [],
      iconReport: [],
      enableAction: false,
      citizen_arrest: [],
      complaint: {},
      complaint_dialog: false,
      action_dialog: false,
      columns: [
        {
          name: 'complaint_title',
          required: true,
          label: 'COMPLAINT',
          align: 'left',
          field: row => row.complaint_type,
          format: val => `${val}`,
          sortable: true,
          classes: 'ellipsis',
          style: 'max-width: 200px'
        },
        // { name: 'accused Person', align: 'center', label: 'Accused Person', field: 'complaint_accuse_person', sortable: true },
        { name: 'complainant', classes: 'ellipsis', align: 'center', label: 'complainant', field: row => row.first_name + ' ' + row.middle_name + ' ' + row.last_name },
        { name: 'contact_number', align: 'center', label: 'CONTACT NUMBER', field: 'contact_number', sortable: true },
        { name: 'time', align: 'center', label: 'DATE AND TIME', field: 'created_at', sortable: true },
        // { name: 'status', align: 'center', label: 'STATUS', field: 'status', sortable: true },
        { name: 'action', align: 'center', label: '', field: 'action' }
      ]
    }
  },
  created () {
    this.getCitizenArrest()
    this.showUser()
  },
  methods: {
    async submitStation (e) {
      this.$q.loading.show()
      // console.log(e)
      // console.log(this.complaint.id)
      const variables = {
        id: this.complaint.id,
        station_id: e.id
      }
      const { data } = await this.$apollo.mutate({
        mutation: updateStation,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      if (data) {
        this.cancel()
        this.$q.loading.hide()
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Sent to Successfully!'
        })
        setTimeout(() => {
          location.reload()
        }, 1800)
        const notification = {
          user_id: null,
          station_id: e.id,
          respondent_id: null,
          complaint_id: this.complaint.id,
          notification_content: 'We move this complaint ' + this.complaint.complaint_type + ' to your ' + e.station_name + ' ' + e.station_type + 'Thank you!',
          notification_type: 'changing station'
        }
        this.saveToNotification(notification)
      }
      const notification = {
        user_id: this.complaint.user_id,
        station_id: null,
        respondent_id: null,
        complaint_id: this.complaint.id,
        notification_content: 'We move your complaint' + this.complaint.complaint_type + ' to ' + e.station_name + ' ' + e.station_type + ' that would be the right to handle your complaint. Thank you!',
        notification_type: 'changing station'
      }
      this.saveToNotification(notification)
      console.log(data)
      console.log(variables)
    },
    assign () {
      this.assigning()
      this.updateComplaintStatus()
      this.creatd_blotter()
    },
    async creatd_blotter () {
      const variables = {
        status: 'For Filling',
        station_id: account.station_id,
        user_id: this.complaint.user_id,
        complaint_id: this.complaint.id
      }
      console.log(variables)
      const { data } = await this.$apollo.mutate({
        mutation: createBlotter,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      if (data) {
        const notification = {
          user_id: this.complaint.user_id,
          station_id: null,
          respondent_id: null,
          complaint_id: this.complaint.id,
          notification_content: 'We receive your complaint and You are requested to visit the station for filling the incident record form. thank you',
          notification_type: 'for filling'
        }
        this.saveToNotification(notification)
      }
    },
    async updateComplaintStatus () {
      const { data } = await this.$apollo.mutate({
        mutation: updateStatus,
        variables: {
          id: this.complaint.id,
          // need to fix
          status: 'Confirmed'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      return data
    },
    assigning () {
      console.log(account)
      this.$q.loading.show()
      this.selected.forEach(async element => {
        const variables = {
          user_id: element,
          complaint_id: this.complaint.id,
          station_id: account.station_id
        }
        const { data } = await this.$apollo.mutate({
          mutation: saveActivity,
          variables
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          return error
        })
        // console.log(data.insert_users.returning[0].id,)
        if (data) {
          this.close()
          this.cancel()
          this.$q.loading.hide()
          this.loading = true
          setTimeout(() => {
            this.loading = false
            location.reload()
          }, 1800)
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Assign Successfully!'
          })
        }
        // send to respondent
        const notification = {
          user_id: null,
          station_id: null,
          respondent_id: element,
          complaint_id: this.complaint.id,
          notification_content: 'You have been assigned with a case to handle. Read and verify the complaint',
          notification_type: 'assigning'
        }
        this.saveToNotification(notification)
      })
      // send to buster
      // const notification = {
      //   user_id: this.complaint.user_id,
      //   station_id: null,
      //   respondent_id: null,
      //   complaint_id: this.complaint.id,
      //   notification_contennt: 'We receive your complaint and we are working on it, you will receive further notification regarding your complaint. Thank you.',
      //   notification_type: 'assigning'
      // }
      // this.saveToNotification(notification)
    },

    async saveToNotification (noti) {
      const variables = {
        user_id: noti.user_id,
        station_id: noti.station_id,
        respondent_id: noti.respondent_id,
        complaint_id: noti.complaint_id,
        notification_content: noti.notification_content,
        notification_type: noti.notification_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      return data
    },
    makeAction () {
      this.action_dialog = true
    },
    close () {
      this.action_dialog = false
    },
    cancel () {
      this.complaint_dialog = false
    },
    showEdit (e) {
      this.complaint = e
      this.complaint_dialog = true
    },
    async showUser () {
      const { data } = await this.$apollo.query({
        query: showAllUserByType,
        variables: {
          station_id: account.station_id,
          user_type: account.user_type === 'barangay_admin' ? 'barangay_member' : 'police'
        },
        fetchPolicy: 'network-only'
      })
      this.user = data.users.map(user => {
        if (typeof user.image !== 'object') {
          user.image = JSON.parse(user.image)
        }
        return user
      })
    }, //
    async getCitizenArrest () {
      const { data } = await this.$apollo.query({
        query: getStationCitizenArrest,
        variables: {
          station_id: account.station_id,
          status: 'Pending'
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.citizen_arrest = data.complaint.map((complaint) => {
          const user = complaint.user
          const complaintdata = {
            id: complaint.id,
            latitude: complaint.latitude,
            longitude: complaint.longitude,
            complaint_statement: complaint.complaint_statement,
            complaint_type: complaint.complaint_type,
            /* Note: I put this condition (typeof)to avoid the (VM182455:1 Uncaught (in promise) SyntaxError: Unexpected end of JSON input) error

            -> kay kung dili nimo butangan condition kay ig kung ma double
            click nimo ang link  sa drawer tas mo click ka og lain link sa drawer nya ig
            balik nimog click atong previews link kay mo triggered and error
            -lojee :)
            */
            complaint_evid: typeof complaint.complaint_evid !== 'object' ? JSON.parse(complaint.complaint_evid) : '',
            complaint_accuse_person: complaint.complaint_accuse_person,
            status: complaint.status,
            created_at: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            user_id: user.id,
            first_name: user.first_name,
            user_image: JSON.parse(user.image),
            isReported: user.isReported,
            // image: typeof user.image !== 'object' ? user.image = JSON.parse(user.image) : '',
            last_name: user.last_name,
            username: user.username,
            middle_name: user.middle_name,
            contact_number: user.contact_number
          }
          return complaintdata
        })
        this.iconReport = data.complaint.map((data) => {
          if (data.latitude != null && data.longitude != null) {
            return [data.latitude, data.longitude]
          }
        }).filter(function (coords) {
          return coords !== undefined
        })
        // console.log(this.peddingComplaint)
      }
    }
  }

}
</script>
