<template>
  <div>
        <div class="row">
            <div class="col-12 text-left">
              <q-chip size="16px" class="shadow-2 text-bold q-pa-md q-mb-md" square label="TOTAL REGISTERED CLIENTS" color="indigo-6" text-color="grey-3"/>
            </div>
            <div class="col-4">
                <div>
                  <q-chip class="text-bold" color="grey-3" text-color="indigo-5" square label="POLICE STATION" icon="shield"/>
                </div>
                <q-knob
                readonly
                v-model="stationList.length"
                show-value
                label="station"
                size="170px"
                :thickness="0.22"
                color="indigo-5"
                track-color="grey-4"
                class="text-indigo-5 q-ma-md"
                />
            </div>
            <div class="col-4">
                <div>
                  <q-chip class="text-bold" color="grey-3" text-color="teal-5" square label="BARANGAY HALL" icon="apartment"/>
                </div>
                <q-knob
                readonly
                v-model="barangayList.length"
                show-value
                label="station"
                size="170px"
                :thickness="0.22"
                color="teal-5"
                track-color="grey-4"
                class="text-teal-5 q-ma-md"
                />
            </div>
            <div class="col-4">
               <div>
                  <q-chip class="text-bold" color="grey-3" text-color="blue-5" square label="BUSTERS" icon="group"/>
               </div>
                <q-knob
                readonly
                v-model="busterList.length"
                show-value
                :max="1000"
                label="station"
                size="170px"
                :thickness="0.22"
                color="blue-5"
                track-color="grey-4"
                class="text-blue-5 q-ma-md"
                />
            </div>
        </div> <!---row--->
  </div>
</template>
<script>
import { showbuster } from '../../Graphql/query/user.js'
import { showPoliceStation, showBarangayHall } from '../../Graphql/query/station.js'
export default {
  name: 'SuperAdminDashboard',
  data () {
    return {
      value: 20,
      stationList: [],
      barangayList: [],
      busterList: []
    }
  },
  created () {
    this.station()
    this.barangay()
    this.buster()
  },
  methods: {
    async station () {
      const { data } = await this.$apollo.query({
        query: showPoliceStation,
        fetchPolicy: 'network-only'
      })
      if (data.station.length > 0) {
        this.stationList = data.station.map((station) => {
          return station
        })
      }
    },
    async barangay () {
      const { data } = await this.$apollo.query({
        query: showBarangayHall,
        fetchPolicy: 'network-only'
      })
      if (data.station.length > 0) {
        this.barangayList = data.station.map((barangay) => {
          return barangay
        })
      }
    },
    async buster () {
      const { data } = await this.$apollo.query({
        query: showbuster,
        fetchPolicy: 'network-only'
      })
      if (data.users.length > 0) {
        this.busterList = data.users.map((buster) => {
          return buster
        })
        console.log(this.busterList)
      }
    }
  }
}
</script>
