<template>
  <div>
      <q-card class="shadow-0">
        <q-tabs
          v-model="tab"
          class="text-grey-8"
          active-color="white"
           active-bg-color="indigo-5"
          indicator-color="transparent"
          align="justify"
        >
          <q-tab class="shadow-2  q-my-xs text-bold" name="dashboard">
            <div class="">dashboard</div>
          </q-tab>
          <q-tab  v-show="account.user_type !== 'superadmin'" class="shadow-2  q-my-xs text-bold" name="appointment">
            <div>Appointment Calendar</div>
          </q-tab>
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="dashboard">
            <div class="row q-ma-sm">
            <div class="col-12 bg-grey-2">
              <div style="height:100%;border-radius:8px" class="q-pa-md shadow-2 bg-wave-white text-center">
                <div v-if="account.user_type === 'superadmin'">
                  <SuperAdminDashboard/>
                </div>
                <div v-else>
                  <InstitutionDashBoard/>
                </div>
              </div> <!---row--->
            </div>
          </div>
          </q-tab-panel>

          <q-tab-panel name="appointment">
            <div class="text-h6 text-uppercase">
              <q-chip class="text-bold" label="appointment" square color="grey-2" text-color="indigo-8" size="xl" icon="events"/>
              </div>
            <span class="text-grey-8">We are on a journey to keep an appointment with whatever we are</span>
              <AppointCalendar/>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
  </div>
</template>
<script>
import InstitutionDashBoard from '../pages/institutionDashboard'
import SuperAdminDashboard from '../pages/SuperAdmin/dashboard'
import AppointCalendar from '../components/AppointmentCalendar'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'DashboardPage',
  components: { AppointCalendar, SuperAdminDashboard, InstitutionDashBoard },
  data () {
    return {
      label: '',
      slide: 1,
      value: 20,
      autoplay: true,
      tab: account.user_type === 'superadmin' ? 'dashboard' : 'dashboard',
      account: account
    }
  }
}
</script>

<style scoped>
.bg-wave-white{
  width:100%;
  background-image: url('/images/wave-white.svg');
  background-repeat:no-repeat;
  background-position: bottom;
}
</style>
