<template>
  <div class="fullscreen text-center q-pa-md flex flex-center">
    <div>
        <!-- <img  style="width:50%" src="/images/undraw_page_not_found_su7k.png" alt=""> <br> -->
      <q-btn
        class="q-mt-xl"
        color="indigo-8"
        @click="back"
        label="Go Back"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error404',
  methods: {
    back () {
      window.history.back()
    }
  }
}
</script>
