<template>
  <q-page class="">
    <!-- <div class="welcome" v-show="visible"> -->
    <div>
    </div>
    <div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-7 flex flex-center slowgan">
          <div class="q-pt-xl q-px-md">
            <span class="text-h2 text-bold text-indigo-8 title">BUST APP</span> <br>
              <span class="text-grey-8">
                "An Online Platform that allows you to report directly to the police."
              </span> <br> <br>
                <q-btn
                  to="/signup"
                  label="Get Started"
                  color="indigo-8"
                />
          </div>
        </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-5 flex flex-center">
            <div class="">
              <img  class="bust q-pt-xl"  src="/images/bust-image.png" alt="">
            </div>
          </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { QSpinnerCube } from 'quasar'
export default {
  name: 'Welcomepage',
  data () {
    return {
      visible: true
    }
  },
  methods: {
    showwelcome () {
      this.$q.loading.show({
        spinner: QSpinnerCube,
        spinnerColor: 'indigo-8',
        spinnerSize: 140,
        backgroundColor: 'grey'
      })
      setTimeout(() => {
        this.$q.loading.hide()
      }, 2900)
    }
  },
  created () {
    // this.showwelcome()
  }
}
</script>
