<template>
  <div>
        <div class="row">
            <div class="col-4 ">
                <div>
                    <q-chip class="text-bold" color="grey-3" text-color="indigo-5" square label="POLICE OFFICIAL" icon="person"/>
                </div>
                <q-knob
                readonly
                v-model="peopleList.length"
                show-value
                size="160px"
                :thickness="0.22"
                color="indigo-5"
                track-color="grey-4"
                class="text-indigo-5 q-ma-md"
                />
            </div>
            <div class="col-4">
                <div>
                    <q-chip class="text-bold" color="grey-3" text-color="teal-5" square label="TOTAL COMPLAINTS" icon="book"/>
                </div>
                <q-knob
                readonly
                v-model="complaintList.length"
                show-value
                size="150px"
                :thickness="0.22"
                color="teal-5"
                track-color="grey-4"
                class="text-teal-5 q-ma-md"
                />
            </div>
            <div class="col-4">
                <div>
                    <q-chip class="text-bold" color="grey-3" text-color="deep-orange-5" square label="TOTAL INCIDENT" icon="warning"/>
                </div>
                <q-knob
                readonly
                v-model="incidentList.length"
                show-value
                size="150px"
                :thickness="0.22"
                color="deep-orange-5"
                track-color="grey-4"
                class="text-deep-orange-5 q-ma-md"
                />
            </div>
            <div class="col-4">
                <div>
                    <q-chip class="text-bold" color="grey-3" text-color="blue-5" square label="TOTAL APPOINTMENT" icon="events"/>
                </div>
                <q-knob
                readonly
                v-model="appointmentList.length "
                show-value
                size="150px"
                :thickness="0.22"
                color="blue-5"
                track-color="grey-4"
                class="text-blue-5 q-ma-md"
                />
            </div>
            <div class="col-4">
                <div>
                    <q-chip class="text-bold" color="grey-3" text-color="orange-5" square label="TOTAL BLOTTER" icon="content_copy"/>
                </div>
                <q-knob
                readonly
                v-model="blotterList.length "
                show-value
                size="150px"
                :thickness="0.22"
                color="orange-5"
                track-color="grey-4"
                class="text-orange-5 q-ma-md"
                />
            </div>
        </div> <!---row--->
  </div>
</template>
<script>
import { getIncident } from '../Graphql/query/incident'
import { Blotter } from '../Graphql/query/blotter'
import { getAllComplaint, getAppointment } from '../Graphql/query/complaint'
import { showPoliceUser, showBarangayUser } from '../Graphql/query/user'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'InstitutionAdminDashboard',
  data () {
    return {
      value: 20,
      peopleList: [],
      complaintList: [],
      appointmentList: [],
      blotterList: [],
      incidentList: [],
      total_report: 0,
      account: account
    }
  },
  created () {
    this.people()
    this.complaint()
    this.appointments()
    this.blotter()
    this.incident()
  },
  methods: {
    async people () {
      const { data } = await this.$apollo.query({
        query: this.account.user_type === 'barangay_admin' ? showBarangayUser : showPoliceUser,
        variables: {
          station_id: this.account.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.users.length > 0) {
        this.peopleList = data.users.map((people) => {
          return people
        })
      }
    },
    async complaint () {
      const { data } = await this.$apollo.query({
        query: getAllComplaint,
        variables: {
          station_id: this.account.station_id
        },
        fetchPolicy: 'network-only'
      })
      console.log(this.account.station_id)
      if (data.complaint.length > 0) {
        this.complaintList = data.complaint.map((report) => {
          return report
        })
      }
    },
    async appointments () {
      const { data } = await this.$apollo.query({
        query: getAppointment,
        variables: {
          station_id: account.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.appointmentList = data.complaint.map((appointment) => {
          return appointment
        })
      }
    },
    async blotter () {
      const { data } = await this.$apollo.query({
        query: Blotter,
        variables: {
          station_id: this.account.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.blotter.length > 0) {
        this.blotterList = data.blotter.map((blotter) => {
          return blotter
        })
      }
    },
    async incident () {
      const { data } = await this.$apollo.query({
        query: getIncident,
        variables: {
          station_id: this.account.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.incident.length > 0) {
        this.incidentList = data.incident.map((incident) => {
          return incident
        })
      }
    }
  }
}
</script>
