<template>
  <div>
    <q-page class="flex flex-center">
      <div>
        <div class="fixed-center" style="width:24em">
          <Login/>
          <!-- <q-btn @click="send('hello')">send</q-btn> -->
         </div>
      </div>
    </q-page>
  </div>
</template>

<script>
import Login from 'components/LoginComponent'
export default {
  name: 'WebLogin',
  components: { Login },
  data () {
    return {
      connection: null
    }
  },
  methods: {
    // send (message) {
    //   console.log(this.connection)
    //   this.connection.send(message)
    // }
  },
  created () {
    // console.log('landing')
    // this.connection = new WebSocket('wss://echo.websocket.org')
    // this.connection.onmessage = function (event) {
    //   console.log(event)
    //   console.log(MessageEvent.data.message)
    //   this.$q.notify({
    //     color: 'green',
    //     textColor: 'white',
    //     icon: 'check_circle',
    //     position: 'top',
    //     message: MessageEvent.data.message
    //   })
    // }
    // this.connection.onopen = function (event) {
    //   // console.log(event)
    //   console.log('success')
    // }
  }
}
</script>
