<template>
    <div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-7">
           <div class="flex flex-center q-ma-lg">
             <div class="text-h5 text-indigo-8">REGISTER</div>
          </div>
          <div class="flex flex-center">
              <!-- <img class="banner" src="/images/undraw_fill_form_re_cwyf.png" alt=""> -->
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 flex flex-center">
          <div style="width:30em">
            <form
              class="q-gutter-md"
            >
              <q-stepper
                v-model="step"
                vertical
                color="primary"
                animated
                class="shadow-0"
                done-color="green-6"
                active-color="indigo-8"
                inactive-color="grey"
              >
                <q-step
                  :name="1"
                  title="Instituition Information"
                  icon="settings"
                  :done="step > 1"
                >
                  <q-select
                    filled
                    v-model="station"
                    :options="station_type"
                    option-value="station"
                    label="Select Institution"
                    lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                  />
                  <q-input
                      filled
                      v-model="station_name"
                      :label="station+' Name'"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Please type something'] "
                  />
                  <q-input
                    dense
                    clearable
                    readonly
                    v-model="stationimage"
                    label="Image File"
                    lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                  />
                   <ImageUploaderVue :uploaderLabel="stationimagelabel" :imageUrl.sync="stationimage" :maxFile="1"/>
                  <q-stepper-navigation>
                    <!-- <q-btn @click="station !== '' && station_name !=='' ? step = 2:BlankError()" color="indigo-8" label="Continue" /> -->
                    <q-btn @click="stationimage.length > 0 && station !== '' && station_name !=='' ? step = 2:BlankError()" color="indigo-8" label="Continue" />
                  </q-stepper-navigation>
                </q-step>
                <q-step
                  :name="2"
                  :title="station + ' Location'"
                  icon="location_pin"
                  :done="step > 2"
                >
                  <q-input
                    filled
                    v-model="station_location"
                    :label="station + ' Address'"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Please type something'] "
                  />
                  <q-input
                    readonly
                    dense
                    v-model="location[0]"
                    label="Latitude"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Please type something'] "
                  />
                  <q-input
                    readonly
                    dense
                    v-model="location[1]"
                    label="Longitude"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Please type something'] "
                  />
                  <Map :label="label" :showbtn="showbtn" @CurrentLocation="CurrentLocation" :setCenter="setMapCenter" :stationMarkers="stationMarkers"/>
                  <q-stepper-navigation>
                    <q-btn @click="location[0] && location[1] && station_location !== '' ? step = 3:BlankError()" color="indigo-8" label="Continue" />
                    <q-btn flat @click="step = 1" color="indigo-8" label="Back" class="q-ml-sm" />
                  </q-stepper-navigation>
                </q-step>
                <q-step
                  :name="3"
                  :title="station === 'Police Station'? 'Desk Officer Information': 'Operator Information'"
                  icon="person_pin"
                  :done="step > 3"
                >
                    <q-input
                      v-model="first_name"
                      filled
                      label="First Name"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                  />
                   <q-input
                      v-model="middle_name"
                      label="Middle Name"
                      filled
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                    />
                   <q-input
                      v-model="last_name"
                      label="Last Name"
                      filled
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                    />
                     <div v-if="station !=='' && station === 'Police Station' ">
                       <q-select
                        filled
                        v-model="rank"
                        :options="police"
                        option-value="rank"
                        label="Select Rank "
                        class="q-mb-md"
                      />
                     </div>
                     <div v-else>
                        <q-select
                          filled
                          v-model="rank"
                          :options="barangay"
                          option-value="rank"
                          label="Select Barangay Title"
                          class="q-mb-md"
                        />
                     </div>
                    <q-input
                      v-model="contact_number"
                      label="Contact Number"
                      filled
                      type="number"
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                    />
                    <div class=" q-mb-md q-pa-sm bg-grey-3">
                      <q-icon color="grey-8" name="face" size="2em"></q-icon>
                      <q-radio v-model="gender" size="md" val="Male" label="Male" color="indigo-8" />
                      <q-radio v-model="gender" size="md" val="Female" label="Female" color="indigo-8" />
                    </div>
                    <q-input
                      v-model="birthday"
                      label="Birthday"
                      filled
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                    >
                      <!-- <q-btn class="bg-grey-3 q-pa-sm" icon="cake" flat :label="birthday === null ? 'Birthday' : birthday " color="grey-7"> -->
                        <q-popup-proxy transition-show="scale" transition-hide="scale">
                           <q-card class="fixed-center">
                            <q-date
                              :title="first_name + ' ' + last_name"
                              subtitle="Birthday"
                              v-model="birthday"
                              today-btn
                              color="indigo-8"
                              mask="dddd, MMM D, YYYY"
                            >
                              <q-btn  label="OK" color="indigo-8" flat v-close-popup />
                            </q-date>
                           </q-card>
                        </q-popup-proxy>
                      <!-- </q-btn> -->
                    </q-input>
                  <q-stepper-navigation>
                    <q-btn
                      @click="first_name !== ''
                      && middle_name !== ''
                      && last_name !== ''
                      && birthday !== null
                      && gender !==''
                      && contact_number !==''
                      ? step = 4 : BlankError() "
                      color="indigo-8"
                      label="Continue"
                    />
                    <q-btn flat @click="step = 2" color="indigo-8" label="Back" class="q-ml-sm" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="4"
                  title="Account Information"
                  icon="account_circle"
                  :done="step > 4"
                >
                    <q-input
                      v-model="username"
                      label="Username"
                      filled
                      lazy-rules
                      :rules="[ val => val && val.length > 0 || 'Please type something']"
                    />
                    <q-input
                      v-model="password"
                      label="Password"
                      type="password"
                      filled
                      lazy-rules
                      :rules="[
                      val => val !== null && val !== '' || 'Please type your password',
                      val => val.length > 8 && val.length < 100 || 'please input more than 8 character'
                      ]"
                    />
                    <q-input
                      v-model="confirm"
                      label="Confirm Password"
                      type="password"
                      filled
                      lazy-rules
                      :rules="[
                      val => val !== null && val !== '' || 'Please type your password',
                      val => val.length > 8 && val.length < 100 || 'please input more than 8 character',
                      ]"
                    />
                     <!-- ? password === confirm ? step = 4 : PassError() : BlankError()" -->
                  <q-stepper-navigation>
                    <q-btn
                    @click="username !== '' && password !== '' && confirm !== ''
                      ?password === confirm? password.length < 8 && confirm.length < 8 ? PassLengthError():  step = 5 : PassError() : BlankError()"
                      color="indigo-8"
                      label="Continue"
                    />
                    <q-btn flat @click="step = 3" color="indigo-8" label="Back" class="q-ml-sm" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="5"
                  title="Insert Photo"
                  caption="Desk Officer picture with valid ID"
                  icon="insert_photo"
                >
                 <ImageUploaderVue :uploaderLabel="userimagelabel" :imageUrl.sync="userimage" :maxFile="5"/>
                  <q-stepper-navigation>
                    <q-btn  v-on:click=" userimage.length < 0 ? BlankError() : submitStation()" :color="userimage.length > 0? 'green': 'indigo'" :disable="userimage.length > 0 ? false : true" :loading="loading" label="Finish" />
                    <q-btn flat @click="step = 4" :disable="loading" color="indigo-8" label="Back" class="q-ml-sm" />
                  </q-stepper-navigation>
                </q-step>
              </q-stepper>
            </form>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import Map from '../mobile/Components/Map'
import API from '../API/api-endpoint'
import policeRank from '../Commons/rank'
import barangayTitle from '../Commons/title.js'
import { createStation } from '../Graphql/query/station'
import ImageUploaderVue from '../mobile/Components/ImageUploader'
const type = ['Police Station', 'Barangay Hall']
export default {
  name: 'Register',
  components: { ImageUploaderVue, Map },
  data () {
    return {
      showbtn: true,
      location: [],
      setMapCenter: [],
      stationMarkers: [],
      station_location: '',
      station_name: '',
      first_name: '',
      middle_name: '',
      last_name: '',
      username: '',
      password: '',
      userimage: [],
      userimagelabel: 'upload valid image',
      stationimage: [],
      stationimagelabel: 'Add Instituition Logo',
      hash: [],
      confirm: '',
      step: 1,
      station: '',
      station_type: type,
      loading: false,
      birthday: null,
      gender: '',
      contact_number: '',
      police: policeRank,
      rank: null,
      barangay: barangayTitle,
      label: 'Get Current Coordinates'
    }
  },
  methods: {
    CurrentLocation (e) {
      // console.log(e)
      this.location = e
      this.$q.notify({
        color: 'green',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Coordinates Found Successfully'
      })
      console.log(this.location)
    },
    setMapView (value) {
      this.setMapCenter = [value.latitude, value.longitude]
      // console.log(this.)
    },
    PassError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Password Not Matched!'
      })
    },
    PassLengthError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Password Must Be 8 characters and More!'
      })
    },
    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Please fill up All input fields'
      })
    },
    submitStation () {
      this.CreateStation()
    },
    async CreateStation () {
      // try {
      this.loading = true
      var newpass = {
        password: this.password
      }
      var hash = await API.hashpassword(newpass)
      const { data } = await this.$apollo.mutate({
        mutation: createStation,
        variables: {
          station_type: this.station,
          station_location: this.station_location,
          latitude: JSON.stringify(this.location[0]),
          longitude: JSON.stringify(this.location[1]),
          station_name: this.station_name,
          first_name: this.first_name,
          middle_name: this.middle_name,
          last_name: this.last_name,
          username: this.username,
          password: hash.data.data,
          rank: this.rank,
          gender: this.gender,
          birthday: this.birthday,
          contact_number: this.contact_number,
          image: JSON.stringify(this.userimage),
          station_logo: JSON.stringify(this.stationimage),
          // setting user type  depends on station type
          user_type: this.station === 'Barangay Hall' ? 'barangay_admin' : 'station_admin'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.loading = false
        return error
      })
      // if register success redirecting to login
      if (data) {
        this.loading = false
        this.$router.push('login')
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Registered Successfully!'
        })
      }
      console.log(data)
      // } catch (e) { // catch error
      //   this.loading = false
      //   this.$q.notify({
      //     color: 'red',
      //     textColor: 'white',
      //     icon: 'highlight_off',
      //     position: 'top',
      //     message: e.message
      //   })
      // }
    },
    // for testing
    submit () {
      this.loading = true
    }
  }
}
</script>
