<template>
  <div >
    <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <div class="bg-white q-pa-xs q-mb-sm">
        <div class="row q-pa-xs">
          <div class="col">
             <div class="text-h6">ACTIVE BUSTER LIST</div>
          </div>
          <!-- <div class="col text-right">
            <q-btn color="indigo-8" label="REPORTED BUSTERS">

              <q-popup-proxy>
                    <q-card style="width:320px">
                      <q-card-section>
                        <div class="q-my-sm" v-show="reportedBuster.length > 0" v-for="data in reportedBuster" :key="data.id">
                            <div class="shadow-2 row">
                              <div class="col-3">
                                <q-avatar class="q-ma-sm" size="25">
                                  <img :src="data.user_image" alt="">
                                </q-avatar>
                              </div>
                              <div class="col-6 text-center">

                              <q-chip  size="18" class="text-uppercase text-bold" color="grey-2" text-color="teal-8" square :label="data.username"/>
                              <div class="text-uppercase ">
                                <span>{{data.first_name}} {{data.middle_name}} {{data.last_name}}</span>
                                <small class="text-grey-8 text-bold">Reported {{data.isReported}} TIME<span v-show="data.isReported > 1">s</span></small>
                              </div>
                              </div>
                              <div class="col-3 text-right">
                                <q-toggle
                                  size="md"
                                  color="teal-8"
                                  checked-icon="person"
                                  unchecked-icon="person_off"
                                  v-on:input="data.status,updateStatus(data)"
                                  v-model="data.status"
                                />
                              </div>
                            </div>
                          </div>
                      </q-card-section>
                    </q-card>
                </q-popup-proxy>
            </q-btn>
          </div> -->
        </div>
          <Table
            :title=title
            :data=busterList
            :columns=columns
            :enableAction=enableAction
            :togglestatusButton="togglestatusButton"
            :admintoggle="admintoggle"
            @toggleEdit=showEdit
            @updateStatus=updateStatus
            :loading="loading"
          />
        </div>
      </div>
      <ViewBuster :data="busters" :show="buster_dialog" @cancel="cancel"/>
    </div>
  </div>
</template>

<script>
import Table from 'components/Tables'
import ViewBuster from '../../components/viewBuster'
import { showActiveBuster, updateUserStatus, showReportedBuster } from '../../Graphql/query/user'
export default {
  name: 'StationPage',
  components: { Table, ViewBuster },
  action: null,
  data () {
    return {
      title: 'List of Buster',
      busterList: [],
      reportedBuster: [],
      togglestatusButton: true,
      enableAction: false,
      admintoggle: false,
      busters: {},
      buster_dialog: false,
      loading: false,
      columns: [
        {
          name: '',
          required: true,
          label: 'username',
          align: 'left',
          field: row => row.username,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'name', align: 'left', label: 'Full Name', field: row => row.first_name + ' ' + row.middle_name + ' ' + row.last_name, sortable: true },
        { name: 'contact', align: 'left', label: 'Contacts', field: row => row.contact_number, sortable: true },
        // { name: 'contact', align: 'left', label: 'Contacts', field: row => row.contact_number, sortable: true },
        // { name: 'Total_Users', align: 'center', label: 'Total Members', field: 'count', sortable: true },
        { name: 'action', align: 'center', label: 'Action', field: 'action' }
      ]
    }
  },

  methods: {
    cancel () {
      this.buster_dialog = false
    },
    async updateStatus (e) {
      this.loading = true
      console.log(e)
      const { data } = await this.$apollo.mutate({
        mutation: updateUserStatus,
        variables: {
          id: e.id,
          status: e.status
        }
      })
      if (data) {
        this.showBuster()
        this.showReportedBuster()
        this.loading = false
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: e.status === true ? 'Account is Active' : 'Account is Disabled'
        })
      }
    },
    showEdit (e) {
      this.busters = e
      this.buster_dialog = true
    },
    async showBuster () {
      const { data } = await this.$apollo.query({
        query: showActiveBuster,
        fetchPolicy: 'network-only'
      })
      if (data.users.length > 0) {
        this.busterList = data.users.map((buster) => {
          const BusterData = {
            id: buster.id,
            username: buster.username,
            first_name: buster.first_name,
            middle_name: buster.middle_name,
            last_name: buster.last_name,
            contact_number: buster.contact_number,
            status: buster.status,
            isReported: buster.isReported,
            user_image: JSON.parse(buster.image)
          }
          return BusterData
        })
        console.log(this.busterList)
      }
    },
    async showReportedBuster () {
      const { data } = await this.$apollo.query({
        query: showReportedBuster,
        fetchPolicy: 'network-only'
      })
      if (data.users.length > 0) {
        this.reportedBuster = data.users.map((buster) => {
          const BusterData = {
            id: buster.id,
            username: buster.username,
            first_name: buster.first_name,
            middle_name: buster.middle_name,
            last_name: buster.last_name,
            contact_number: buster.contact_number,
            status: buster.status,
            isReported: buster.isReported,
            user_image: JSON.parse(buster.image)
          }
          return BusterData
        })
        console.log(this.busterList)
      }
    }
  },
  created () {
    this.showBuster()
    this.showReportedBuster()
  }
}
</script>
