<template>
  <div >
    <q-tabs
      align="justify"
      v-model="tab"
      class="text-grey-8"
      active-color="white"
      active-bg-color="indigo-5"
      indicator-color="transparent"
    >
      <q-tab name="newbuster" label="New Busters" />
      <q-tab name="activebuster" label="Active Busters" />
      <q-tab name="reportbuster" label="Reported Busters" />
    </q-tabs>
    <q-separator/>
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="newbuster">
       <NewBuster/>
      </q-tab-panel>
      <q-tab-panel name="activebuster">
       <ActiveBuster/>
      </q-tab-panel>
       <q-tab-panel name="reportbuster">
       <ReportedBuster/>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
import ReportedBuster from './reportedBuster'
import ActiveBuster from './activeBuster'
import NewBuster from './newBuster'
// import { B } from '../../Graphql/query/user'
export default {
  name: 'StationPage',
  components: { ActiveBuster, ReportedBuster, NewBuster },
  action: null,
  data () {
    return {
      tab: 'activebuster'
    }
  },

  methods: {
  }
}
</script>
