<template>
  <div >
    <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <div class="bg-white q-pa-xs q-mb-sm">
        <div class="row q-pa-xs">
          <div class="col">
             <div class="text-h6">NEW REGISTERED BUSTER</div>
          </div>
        </div>
          <Table
            :title=title
            :data=busterList
            :columns=columns
            :enableAction=enableAction
            :togglestatusButton="togglestatusButton"
            :admintoggle="admintoggle"
            @toggleEdit=showEdit
            @updateStatus=updateStatus
            :loading="loading"
          />
        </div>
      </div>
      <ViewBuster :data="busters" :show="buster_dialog" @cancel="cancel"/>
    </div>
  </div>
</template>

<script>
import Table from 'components/Tables'
import ViewBuster from '../../components/viewBuster'
import { showNewBuster, updateUserStatus, updateIsNew } from '../../Graphql/query/user'
export default {
  name: 'StationPage',
  components: { Table, ViewBuster },
  action: null,
  data () {
    return {
      title: 'List of Buster',
      busterList: [],
      reportedBuster: [],
      togglestatusButton: true,
      enableAction: false,
      admintoggle: false,
      busters: {},
      buster_dialog: false,
      loading: false,
      columns: [
        {
          name: '',
          required: true,
          label: 'username',
          align: 'left',
          field: row => row.username,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'name', align: 'left', label: 'Full Name', field: row => row.first_name + ' ' + row.middle_name + ' ' + row.last_name, sortable: true },
        { name: 'contact', align: 'left', label: 'Contacts', field: row => row.contact_number, sortable: true },
        // { name: 'contact', align: 'left', label: 'Contacts', field: row => row.contact_number, sortable: true },
        // { name: 'Total_Users', align: 'center', label: 'Total Members', field: 'count', sortable: true },
        { name: 'action', align: 'center', label: 'Action', field: 'action' }
      ]
    }
  },

  methods: {
    cancel () {
      this.buster_dialog = false
    },
    async updateStatus (e) {
      this.loading = true
      console.log(e)
      const { data } = await this.$apollo.mutate({
        mutation: updateUserStatus,
        variables: {
          id: e.id,
          status: e.status
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.loading = false
        return error
      })
      if (data) {
        this.updateIsNew(e.id)
        this.showBuster()
        this.loading = false
        setTimeout(() => {
          location.reload()
        }, 1800)
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: e.status === true ? 'Account is Active' : 'Account is Disabled'
        })
      }
    },
    showEdit (e) {
      this.busters = e
      this.buster_dialog = true
    },
    async updateIsNew (id) {
      const { data } = await this.$apollo.mutate({
        mutation: updateIsNew,
        variables: {
          id: id
        }
      })
      if (data) {
        this.showBuster()
      }
    },
    async showBuster () {
      const { data } = await this.$apollo.query({
        query: showNewBuster,
        fetchPolicy: 'network-only'
      })
      if (data.users.length > 0) {
        this.busterList = data.users.map((buster) => {
          const BusterData = {
            id: buster.id,
            username: buster.username,
            first_name: buster.first_name,
            middle_name: buster.middle_name,
            last_name: buster.last_name,
            contact_number: buster.contact_number,
            status: buster.status,
            isReported: buster.isReported,
            user_image: JSON.parse(buster.image)
          }
          return BusterData
        })
        console.log(this.busterList)
      }
    }
  },
  created () {
    this.showBuster()
  }
}
</script>
