<template>
  <div class="">
    <template>
      <div class="row q-pa-sm">
        <q-btn
          size="1.2em"
          class="text-indigo-8"
          @click="add_admin"
          icon="person_add_alt_1"
        >
          <q-tooltip
            content-class="bg-indigo-8"
            content-style="font-size:.9em"
            :offset="[10, 10]"
            transition-show="scale"
            transition-hide="scale"
            >
            Add Admin
          </q-tooltip>
        </q-btn>
      </div>
    </template>
    <q-dialog v-model="dialog" persistent>
      <q-card style="min-width: 355px;min-height:300px">
        <q-card-section>
          <div class="text-h5 text-grey">Add Admin <q-btn class="float-right" flat icon="close" v-close-popup /></div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <form
            class="q-gutter-md"
          >
             <q-stepper
                v-model="step"
                ref="stepper"
                animated
                contracted
                done-color="indigo-8"
                active-color="primary"
                inactive-color="grey"
              >
                <q-step
                  :name="1"
                  icon="account_box"
                  :done="step > 1"
                >
                  <div>
                      <q-input
                        filled
                        type="text"
                        v-model="firstname"
                        label="First Name"
                        hint="First Name"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                        required
                      />
                  </div>
                  <div>
                      <q-input
                        filled
                        type="text"
                        v-model="lastname"
                        label="Last Name"
                        hint="Last Name"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                      />
                  </div>
                  <div>
                      <q-input
                        filled
                        type="text"
                        v-model="middlename"
                        label="Middle Name"
                        hint="Middle Name"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                       />
                  </div>
                </q-step>
                <q-step
                  :name="2"
                  icon="accessibility_new"
                  :done="step > 2"
                >
                </q-step>

                <q-step
                  :name="3"
                   icon="policy"
                  :done="step > 3"
                >
                </q-step>
                <template v-slot:navigation>
                  <q-stepper-navigation>
                    <q-btn v-if="step > 1" flat color="indigo-8" @click="$refs.stepper.previous()" label="Back"></q-btn>
                    <q-btn @click="$refs.stepper.next()"  class="q-ml-sm" color="indigo-8" :label="step === 3 ? 'Finish' : 'Continue'"></q-btn>
                  </q-stepper-navigation>
                </template>
              </q-stepper>
          </form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'AddAdmin',
  data () {
    return {
      lastname: '',
      firstname: '',
      middlename: '',
      dialog: false,
      step: 1
    }
  },
  methods: {
    add_admin () {
      this.dialog = true
    }
  }
}
</script>
