<template>
  <div>
    <q-splitter
      v-model="splitterModel"
      style="height: 450px"
    >
      <template v-slot:before>
        <div class="q-pa-md">
          <q-date
            v-model="date"
            :events="events"
            event-color="orange"
            color="indigo-6"
          />
        </div>
      </template>

      <template v-slot:after>
        <q-tab-panels
          v-model="date"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel  v-for="data in eventsData" :key="data.id" :name="data.date">
            <q-card>
              <q-card-section>
                <div class="text-h4 q-mb-md text-indigo-8">{{date}}</div>
                  <span>Complainant</span>
                  <div class="text-h6 text-uppercase">
                     {{data.user.first_name}} {{data.user.middle_name}} {{data.user.last_name}}
                  </div>
                  <span>Complaint</span>
                  <div class="text-h6">
                     {{data.complaint.complaint_type}}
                  </div>
                  <small>{{data.complaint.created_at}}</small>
              </q-card-section>
            </q-card>
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </div>
</template>

<script>
import { getAppointment } from '../Graphql/query/complaint'
import moment from 'moment'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'AppointmentCalendar',
  data () {
    return {
      appointment: [],
      splitterModel: 50,
      //   date: date.getFullYear() + '-' + (date.getMonth() < 10 ? '0' + date.getUTCMonth() : date.getUTCMonth()) + '-' + (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()),
      date: null,
      current_date: null,
      d: null,
      events: [],
      eventsData: []
    }
  },
  created () {
    this.todays_date()
    this.event()
    this.eventData()
  },
  methods: {
    appointmentdadatete () {
    },
    todays_date () {
      this.date = moment(this.current_date = new Date()).format('YYYY/MM/DD')
    },
    async event () {
      const { data } = await this.$apollo.query({
        query: getAppointment,
        variables: {
          station_id: account.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.events = data.complaint.map((complaint) => {
          const dateData = {
            date: moment(complaint.to).format('YYYY/MM/DD')
          }
          return dateData.date
        })
        // console.log(this.events)
        // var d = moment(this.appointment[0].to)
        // this.events = JSON.parse(d.format('YYYY/MM/DD'))
        // console.log(moment(this.appointment).calendar())
      }
    },
    async eventData () {
      const { data } = await this.$apollo.query({
        query: getAppointment,
        variables: {
          station_id: account.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.eventsData = data.complaint.map((complaint) => {
        //   const EventData = {
        //      date: moment(complaint.to).format('YYYY/MM/DD')
        //   }
        //   return EventData
          const respondent = complaint.respondent_activities
          const station = complaint.station
          const user = complaint.user
          const EventData = {
            user: user,
            station: station,
            respondent: respondent,
            complaint: complaint,
            date: moment(complaint.to).format('YYYY/MM/DD')
          }
          return EventData
        })
        console.log(this.eventsData)
        // var d = moment(this.appointment[0].to)
        // this.events = JSON.parse(d.format('YYYY/MM/DD'))
        // console.log(moment(this.appointment).calendar())
      }
    }
  }
}
</script>
