<template>
  <div>
    <q-item
    clickable
    @click="log"
    class="shadow-2 q-mb-sm text-grey-9 bg-white"
  >
    <q-item-section
      avatar
      class="q-ml-sm"
    >
      <q-icon :color="color"  size="md" :name="icon" />
    </q-item-section>
    <q-item-section exact>
      <q-item-label>
        <span>
            {{label}}
           <div class="q-py-sm">
           </div>
           <!-- {{data.complaint}} -->
          <span>{{data.created_at}}</span>
        </span>
      </q-item-label>
    </q-item-section>
  </q-item>
  <ViewAsk :data="data" :show="show" @close="close" @sendResponds="sendResponds"/>
  </div>
</template>

<script>
import { saveNotification } from '../Graphql/query/notification'
import ViewAsk from '../components/AskingCard'
export default {
  components: { ViewAsk },
  props: {
    link: {
      type: String
    },
    label: {
      type: String
    },
    data: {
      type: Object
    },
    sender: {
      type: String
    },
    icon: {
      type: String
    },
    color: {
      type: String
    }
  },
  data () {
    return {
      counter: 0,
      show: false
    }
  },

  methods: {
    log () {
      console.log(this.data)
      this.show = true
    },
    startCounting () {
      this.timer = setInterval(() => {
        this.counter++
      }, 1000)
    },
    close () {
      this.show = false
    },
    async sendResponds (e) {
      console.log(e)
      console.log(e[1].complaint_id)
      // return saveNotification
      const variables = {
        user_id: e[1].user_id,
        station_id: null,
        respondent_id: null,
        complaint_id: e[1].complaint_id,
        notification_content: e[0],
        notification_type: 'responds'
      }
      console.log(variables)
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      if (data) {
        this.show = false
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Send Successfully!'
        })
      }
    },
    stopCounting () {
      clearInterval(this.timer)
    }
  },

  beforeDestroy () {
    this.stopCounting()
  }
}
</script>
