<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 800px; max-width: 80vw;">
         <div class="text-right q-ma-xs">
            <q-btn @click="close" icon="close"></q-btn>
        </div>
     <q-card-section>
                     <div v-for="data in data.blotter" :key="data.id">
               <!-- <div v-for="d in  data.ItemDs" :key="d.id">
                   {{d.desk_offiicer}}
               </div> -->
                    <div class="row justify shadow-2" v-for="d in  data.ItemDs" :key="d.id">
                        <div class="col-12 bg-grey-4">
                            <div class="text-h6 text-center">
                            ITEM "D" NARRATIVE OF INCIDENT
                            </div>
                        </div>
                        <div class="col-3">
                        <q-input
                            readonly
                            :value="d.blotter_entry_number"
                            square outlined
                            dense
                            label="BLOTTER ENTRY NUMBER"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="d.type_of_incident"
                            square outlined
                            dense
                            label="TYPE OF INCIDENT"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="d.time"
                            square outlined
                            dense
                            label="TIME"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="d.date"
                            square outlined
                            dense
                            label="DATE"
                        />
                    </div>
                    <div class="col-12">
                        <q-input
                            readonly
                            :value="d.place_of_incident"
                            square outlined
                            dense
                            label="PLACE OF INCIDENT"
                        />
                    </div>
                    <div class="col-12">
                        <div class="text-grey-7 q-pa-sm">
                            ENTER IN DETAIL THE NARRATIVE OF THE INCIDENT OR EVENT, ANSWERING THE WHO, WHEN, WHERE, WHY OF REPORTING (USE ADDITIONAL SHEET/S IF NECESSARY)
                        </div>
                            <q-input
                                readonly
                                :value="d.narrative_of_incident"
                                type="textarea"
                                square outlined
                                dense
                            />
                    </div>
                    <div class="col-12 bg-grey-4 ">
                        <div class="text-h6 text-center">
                        AUTHENTICATION
                        </div>
                    </div>
                    <div class="col-4 bg-grey-3">
                        <div class="text-center q-pt-md q-px-xs" style="font-size:86%">
                            <span>
                                I HEREBY CERTIFY TO THE CONNECTNESS OF THE FOREGOING
                                TO THE BEST OF MY KNOWLEDGE AND  BELIEF
                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <q-input
                            readonly
                            :value="d.reporting_person"
                            style="height:100px"
                            type="textarea"
                            square outlined
                            dense
                            label="NAME/SIGNATURE OF REPORTING PERSON"
                        />
                    </div>
                    <div class="col-4">
                        <q-input
                            readonly
                            :value="d.desk_offiicer"
                            style="height:100px"
                            type="textarea"
                            square outlined
                            dense
                            label="NAME/SIGNATURE OF DESK OFFICER"
                        />
                    </div>
                    <div class="col-12 bg-grey-4">
                        <div class="text-h6 text-center">
                        CASE DISPOSITION (For Chief/Head of Office Use Only)
                        </div>
                    </div>
                    <div class="col-4">
                        <q-input
                            readonly
                            :value="d.chief_instructions"
                            square outlined
                            label="CHIEF OF STATION/OFFICE INSTRUCTIONS"
                        />
                    </div>
                    <div class="col-4">
                        <q-input
                            readonly
                            :value="d.name_of_investigator"
                            square outlined
                            label="NAME OF DESIGNATED INVESTIGATOR-ON-CASE"
                        />
                    </div>
                    <div class="col-4">
                        <q-input
                            readonly
                            :value="d.name_of_chief"
                            square outlined
                            label="NAME OF CHIEF OF STATION/OFFICE"
                        />
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="q-ma-sm">
                <q-input
                  v-model="reply"
                  autogrow
                  filled
                  label="Reply"
                >
               <q-btn :disable="reply !== '' ? false : true " @click="sendResponds" label="Send responds"/>
                </q-input>
            </div>
     </q-card-section>
      </q-card>
    </q-dialog>
</div>
</template>

<script>
export default {
  name: 'ViewBuster',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },

  data () {
    return {
      slide: 0,
      setMapCenter: [],
      bloter: [],
      reply: ''
    }
  },
  created () {
  },
  methods: {
    close () {
      this.$emit('close')
    },
    sendResponds (e) {
      e = [this.reply, this.data]
      this.$emit('sendResponds', e)
    }
  }
}
</script>
