`<template>
  <div>
    <q-card class="">
        <q-card-section align="center">
            <q-avatar size="200px">
              <img :src="data.user_image" alt="">
            </q-avatar>
            <!-- <div class="title text-center text-uppercase text-bold">
                <div class="">
                  {{data}}

                   <h5> Office of {{data.station_name}}</h5>
                </div>
                <span>{{data.station_location}}</span>
            </div> -->
        </q-card-section>
        <div class=" status text-h5 text-bold text-center text-uppercase">{{data.status}}</div>
        <q-card-section>
          <div class="text-h6 text-bold">COMPLAINT CASE:</div>
          <div class="content">
              <span>
                  {{data.complaint_type}} on <strong>{{data.first_name}} {{data.middle_name}} {{data.last_name}} </strong>
                  submit  a report on this station and reported that he/she was <strong> {{data.complaint_statement}}</strong>
                  by <strong>{{data.complaint_accuse_person = undefined ? 'Unidentified' : data.complaint_accuse_person}}</strong> on <strong>{{data.created_at}}</strong>
              </span>
          </div>
        </q-card-section>
        <q-card-section>
          <div class="text-h6 text-bold">APPOINTMENT DATE</div>
            <span> {{data.from}} <strong>To</strong> {{data.to}}</span>
        </q-card-section>
        <!-- <q-card-section>
           <div class="respond">
              <span class="text-bold ">RESPONDENT OF THE CASE</span>
           </div>
                <div v-for="respondent in data.respondent" :key="respondent.id">
                    <q-item>
                         <q-item-section avatar>
                            <q-avatar>
                                <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                            </q-avatar>
                        </q-item-section>
                        <q-item-section>
                            {{respondent.user.first_name}}  {{respondent.user.middle_name}}  {{respondent.user.last_name}}
                            <small>{{respondent.user.rank}}</small>
                        </q-item-section>
                    </q-item>
                </div>
        </q-card-section> -->
        <!-- <q-card-section>
            <div class="prepare">
              <span class="text-bold ">PREPARED BY</span>
            </div><br> <br>
                <q-item>
                    <q-item-section avatar>
                        <q-avatar>
                            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                        </q-avatar>
                    </q-item-section>
                    <q-item-section>
                        {{data.prepared.first_name}} {{data.prepared.middle_name}} {{data.prepared.last_name}}
                        <small>{{data.prepared.rank}} - {{data.prepared.user_type}}</small>
                    </q-item-section>
                </q-item>
        </q-card-section> -->
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'ViewComplaintPage',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      select: this.s,
      selected: [],
      step: 1
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Please fill up All input fields'
      })
    },
    createBlotterCertification (e) {
      e = this.data
      this.$emit('createBlotterCertification', e)
    }
  }
}
</script>
