<template>
  <div >
    <q-dialog v-model="show" :maximized="show" persistent>
      <q-card class="my-card">
        <div class="text-right q-pa-xs">
           <q-btn @click="close" color="indigo-8" icon="close"/>
        </div>
        <q-card-section >
          <div id='content'>
             <ForConfirmationComplaintCcard :data="data"/>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-actions align="right">
          <q-btn @click="printing" color="indigo-8" label="download" />
          <!-- <q-btn @click="makeAction" color="indigo-8" label="SEND BLOTTER CERTIFICATION" /> -->
          <!-- <q-btn  flat color="indigo-8" round icon="message" /> -->
        </q-card-actions>
      </q-card>
    </q-dialog>
</div>
</template>
<script>
// import jsPDF from 'jspdf'
import { Printd } from 'printd'
import ForConfirmationComplaintCcard from '../components/CertificateCard'
export default {
  name: 'ViewComplaintPage',
  components: { ForConfirmationComplaintCcard },
  props: {
    processReportMarkers: {
      type: Array
    },
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },

  data () {
    return {
      setMapCenter: []
    }
  },
  methods: {
    printing () {
      const cssText = `
        * {
          color: black;
          font-family: sans-serif;
          font-size:25px

        }
        .title {
          text-align:center
        }
        .title {s
          text-transform:uppercase
        }
        .title {
          font-size: 35px
        }
        .status {
          text-align:center
        }
        .status {
          font-size: 30px
        }
        .status {
          margin:15px
        }
        .para {
          margin:15px
        }
        .code {
          margin:15px
        }
        .fact{
          margin-top:25px
        }
        .respond {
           margin:30px
        }
        .prepare {
           margin:30px
        }
        .content {
          margin:15px 15px
        }
        img {
          width:50px
        }
        img {
          height:50px
        }
      `
      const print = new Printd()
      print.print(document.getElementById('content'), [cssText])
    },
    location () {
      this.setMapCenter = [this.data.latitude, this.data.longitude]
      console.log(this.setMapCenter)
    },
    close () {
      this.$emit('close')
    }
    // makeAction () {
    //   this.$emit('makeAction')
    // }
  },
  created () {

  }
}
</script>
