<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 700px; max-width: 80vw;">
         <q-card-section>
        </q-card-section>
        <q-separator />
        <q-card-actions align="center">
          <q-btn @click="cancel" color="grey-8" label="Close" />
          <q-btn v-show="data.status_desc !=='For Respond'" @click="makeAction" color="indigo-8" :label="account.user_type === 'barangay_admin' ? 'assign barangay official': 'assign police official' " />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'EditStation',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    iconReport: {
      type: Array
    },
    data: {
      type: Object
    }
  },
  data () {
    return {
      account: account,
      slide: 0,
      setMapCenter: []
    }
  },
  methods: {
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>
