<template>
    <div>
       <div class="row justify shadow-2">
            <div class="col-12 bg-grey-4">
                <div class="text-h6 text-center">
                    FOR CHILDREN IN CONFLICT WITH THE LAW
                </div>
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="NAME OF GUARDIAN"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="GUARDIAN ADDRESS"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="HOME PHONE"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="MOBILE PHONE"
                />
            </div>
             <div class="col-12">
                <q-input
                    square outlined
                    dense
                    label="DEVERSION MECHANISM"
                />
            </div>
             <div class="col-12">
                <div class="text-grey-7 q-pa-sm">
                    OTHER DISTINGUISING FEATURE
                    (DISCRIBE IN DATAILS, CLOTHES, VEHICLE, SUNGLASSES, WEAPON/S SCARS, AND OTHER DATA ACTIVITY OF THE SUSPECT/S WHICH WARE
                     OBSERVED BY THE REPORTING PERSON/S AND/OR WITNESS/ES TO IDENTIFY THE SUSPECT/S.  THESE ARE IMPORTANT AND MAY BECOME EVIDENCE TO.
                     IDENTIFY, AND LINK TO THE CRIME, THE SUSPECT/S USE ADDITIONAL SHEET/S NECESSARY.
                    )
                </div>
                <q-input
                    type="textarea"
                    square outlined
                    dense
                />
            </div>
        </div>  <!-- END ROW -->
    </div>
</template>

<script>
export default {
  name: 'IncidentRecordFormPage3',
  props: {
    data: {
      type: Object
    }
  }
}
</script>
