<template>
    <div>
        <div class="text-grey-7 text-center">
            - - - - - - - - - - CUT HERE. ISSUE THEIR RECIEPT TO THE REPORTING PERSON- - - - - - - - - -
        </div>
       <div class="row justify shadow-2">
            <!-- <div class="col-12 bg-grey-4">
                <div class="text-h6 text-center">
                   INCIDNET RECORD TRANSACTION RECIEPT
                </div>
            </div> -->
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="BLOTTER ENTRY NUMBER"
                />
            </div>
            <div class="col-9 bg-grey-4">
                <div class="text-center">
                    <div class="text-h6">
                       INCIDENT RECORD TRANSACTION RECIEPT
                    </div>
                </div>
            </div>
            <div class="col-3 bg-grey-4 border">
                 <div class="text-center">
                    <div class="q-pt-sm">THIS CERTIFIES THAT</div>
                </div>
            </div>
            <div class="col-5">
                <q-input
                    square outlined
                    dense
                    label="NAME OF REPORTING PERSON"
                />
            </div>
            <div class="col-4">
                <q-input
                    square outlined
                    dense
                    label="ADDRESS OF REPORTING PERSON"
                />
            </div>
             <div class="col-3">
                <div class="q-pl-xs q-pt-xs bg-grey-4" style="font-size:86%">
                    <small class="text-bold q-pt-sm">
                        REPORTED AN INCIDENT TO BE
                        RECORDED IN THE POLICE BLOTTER
                        WHICH INVOLVES
                    </small>
                </div>
                <div class="text-center">
                    <q-input
                        square outlined
                        dense
                        label="DATE/TIME OF REPORT"
                    />
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-12">
                        <q-input
                            square outlined
                            dense
                            label="TYPE OF INCIDENT"
                        />
                    </div>
                    <div class="col-6">
                        <q-input
                            square outlined
                            dense
                            label="DATE/TIME OF INCIDENT"
                        />
                    </div>
                    <div class="col-6">
                        <q-input
                            square outlined
                            dense
                            label="PLACE OF INCIDENT"
                        />
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-3 bg-grey-4" style="height:80px">
                        <div class="text-center q-pa-xs">
                            <small>
                                AND RECORDED BY
                            </small>
                        </div>
                    </div>
                    <div class="col-9">
                        <q-input
                            style="height:80px"
                            type="textarea"
                            square outlined
                            dense
                            label="RANK/NAME/SIGNATURE OF DESK OFFICER"
                        />
                    </div>
                </div>
            </div>
        </div>  <!-- END ROW -->
    </div>
</template>

<script>
export default {
  name: 'IncidentRecordFormPage4',
  props: {
    data: {
      type: Object
    }
  }
}
</script>
