    <template>
    <div id="content">
    <q-dialog v-model="show" persistent full-width>
      <q-card >
        <q-card-section align="right">
            <q-btn @click="close" icon="close"></q-btn>
        </q-card-section>
        <q-card-section>
            <q-tab-panels v-model="tab" animated>
                <!-- PAGE1 -->
                <q-tab-panel name="page1">
                    <div class="row justify shadow-2">
                        <!-- {{data}} -->
                        <div class="col-3 border">
                            <q-input
                                v-model="reporting['entry_number']"
                                square outlined
                                dense
                                label="BLOTTER ENTRY NUMBER"
                            />
                            <q-input
                                square outlined
                                v-model="reporting['type_incident']"
                                dense
                                label="TYPE OF INCIDENT"
                            />
                        </div>
                        <div class="col-9 border">
                            <div class="text-center q-pa-none">
                                <!-- <div class="text-h6">{{data.station_name}}</div> -->
                                <div class="text-h5 text-bold">INCIDENT RECORD FORM</div>
                                <!-- <q-btn @click="reporterSaveEvent">testsave</q-btn> -->
                            </div>
                        </div>
                        <div class="col-12 border q-pa-xs">
                        <span> INSTRUCTIONS:</span>
                        </div>
                        <div class="col-3 border">
                            <q-input
                                v-model="data.report_date"
                                square outlined
                                dense
                                label="DATE AND TIME REPORTED"
                            />
                        </div>
                        <div class="col-3 border">
                            <q-input  label="DATE AND TIME OF INCIDENT"  square outlined dense v-model="reporting['incident_date_time']">
                                <template v-slot:prepend>
                                    <q-icon name="event" class="cursor-pointer">
                                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                                        <q-date v-model="reporting['incident_date_time']" mask="dddd, MMMM Do YYYY, h:mm:ss a">
                                        <div class="row items-center justify-end">
                                            <q-btn v-close-popup label="Close" color="primary" flat />
                                        </div>
                                        </q-date>
                                    </q-popup-proxy>
                                    </q-icon>
                                </template>

                                <template v-slot:append>
                                    <q-icon name="access_time" class="cursor-pointer">
                                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                                        <q-time v-model="reporting['incident_date_time']" mask="dddd, MMMM Do YYYY, h:mm:ss a" format24h>
                                        <div class="row items-center justify-end">
                                            <q-btn v-close-popup label="Close" color="primary" flat />
                                        </div>
                                        </q-time>
                                    </q-popup-proxy>
                                    </q-icon>
                                </template>
                            </q-input>
                        </div>
                        <div class="col-6 bg-grey-4">
                            <div class="text-center">
                                <div class="text-h6">
                                    ITEM "A" REPORTING PERSON
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="reporting['family_name']"
                                square outlined
                                dense
                                label="FAMILY NAME"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="reporting['last_name']"
                                square outlined
                                dense
                                label="FIRST NAME"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['middle_name']"
                                square outlined
                                dense
                                label="MIDDLE NAME"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['qualifier']"
                                square outlined
                                dense
                                label="QUALIFIER"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['nickname']"
                                square outlined
                                dense
                                label="NICKNAME"
                            />
                        </div>
                        <div class="col-1">
                            <q-input
                                v-model="reporting['citizenship']"
                                square outlined
                                dense
                                label="CITIZENSHIP"
                            />
                        </div>
                        <div class="col-1">
                            <q-select
                              dense
                              outlined
                              v-model="reporting['gender']"
                              :options="gender"
                              label="GENDER"
                            />
                            <!-- <q-input
                                v-model="reporting['gender']"
                                square outlined
                                dense
                                label="GENDER"
                            /> -->
                        </div>
                        <div class="col-1">
                            <q-select
                              dense
                              outlined
                              v-model="reporting['status']"
                              :options="status"
                              label="STATUS"
                            />
                            <!-- <q-input
                                v-model="reporting['status']"
                                square outlined
                                dense
                                label="STATUS"
                            /> -->
                        </div>
                        <!-- reporting['birth] -->
                        <div class="col-2">
                            <q-input  label="DATE OF BIRTH"  square outlined dense v-model="reporting['birth']">
                                <q-popup-proxy transition-show="scale" transition-hide="scale">
                                    <q-date v-model="reporting['birth']" mask="dddd, MMMM Do YYYY" >
                                        <div class="row items-center justify-end q-gutter-sm">
                                            <q-btn label="Cancel" color="indigo-8" flat v-close-popup />
                                            <q-btn label="OK" color="indigo-8" flat  v-close-popup />
                                        </div>
                                    </q-date>
                                </q-popup-proxy>
                            </q-input>
                        </div>
                        <div class="col-1">
                            <q-input
                                v-model="reporting['age']"
                                type="number"
                                square outlined
                                dense
                                label="AGE"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['placebirth']"
                                square outlined
                                dense
                                label="PLACE OF BIRTH"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['phone']"
                                type="number"
                                square outlined
                                dense
                                label="PHONE NUMBER"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['mobile']"
                                type="number"
                                square outlined
                                dense
                                label="MOBILE NUMBER"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="reporting['current_home']"
                                square outlined
                                dense
                                label="CURRENT ADDRESS(HOME NUMBER/SREET)"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="reporting['current_sitio']"
                                square outlined
                                dense
                                label="VILLAGE/SITIO"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['current_barangay']"
                                square outlined
                                dense
                                label="BARANGAY"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['current_town']"
                                square outlined
                                dense
                                label="TOWN/CITY"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['current_province']"
                                square outlined
                                dense
                                label="PROVINCE"
                            />
                        </div>

                        <div class="col-3">
                            <q-input
                                v-model="reporting['other_home']"
                                square outlined
                                dense
                                label="OTHER ADDRESS(HOME NUMBER/SREET)"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="reporting['other_sitio']"
                                square outlined
                                dense
                                label="VILLAGE/SITIO"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['other_barangay']"
                                square outlined
                                dense
                                label="BARANGAY"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['other_town']"
                                square outlined
                                dense
                                label="TOWN/CITY"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['other_province']"
                                square outlined
                                dense
                                label="PROVINCE"
                            />
                        </div>

                        <div class="col-4">
                            <q-input
                                v-model="reporting['highest_education']"
                                square outlined
                                dense
                                label="HIGHEST EDUCATION ATTAINMENT"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="reporting['occupation']"
                                square outlined
                                dense
                                label="OCCUPATION"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model=" reporting['id_presented']"
                                square outlined
                                dense
                                label="ID CARD PRESENTED"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model=" reporting['email']"
                                square outlined
                                dense
                                label="EMAIL ADDRESS (if Any)"
                            />
                        </div>
                    </div>
                <!-- END ROW -->
                 <div class="text-right q-mt-md">
                    <q-btn class="q-mx-xs" @click="tab = 'page2'" label="next page"/>
                </div>
                </q-tab-panel>
                <!-- page2 -->
                <q-tab-panel name="page2">
                    <div class="text-right">
                      <q-btn @click="count > 1 ? count-- : '' " color="grey-8" label="Remove Form" icon="remove"/>
                      <q-btn class="q-mx-xs" @click="count++" color="indigo-8" label="Add Form" icon="add"/>
                      <!-- <q-btn @click="suspectsSaveEvent" label="send"></q-btn> -->
                    </div>
                    <div class="row justify shadow-2 q-my-sm" v-for="s in count" :key="s">
                        <div class="col-12 bg-grey-4">
                            <div class="text-h6 text-center">
                                ITEM "B" SUSPECT {{s}} DATA
                            </div>
                        </div>
                        <div class="col-12 border q-pa-xs">
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="sfamily_name[s]"
                                square outlined
                                dense
                                label="FAMILY NAME"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="slast_name[s]"
                                square outlined
                                dense
                                label="FIRST NAME"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="smiddle_name[s]"
                                square outlined
                                dense
                                label="MIDDLE NAME"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="squalifier[s]"
                                square outlined
                                dense
                                label="QUALIFIER"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="snickname[s]"
                                square outlined
                                dense
                                label="NICKNAME"
                            />
                        </div>
                        <div class="col-1">
                            <q-input
                                v-model="scitizenship[s]"
                                square outlined
                                dense
                                label="CITIZENSHIP"
                            />
                        </div>
                        <div class="col-1">
                            <q-select
                              dense
                              outlined
                              v-model="sgender[s]"
                              :options="gender"
                              label="GENDER"
                            />
                            <!-- <q-input
                                v-model="sgender[s]"
                                square outlined
                                dense
                                label="GENDER"
                            /> -->
                        </div>
                        <div class="col-1">
                            <q-select
                              dense
                              outlined
                              v-model="sstatus[s]"
                              :options="status"
                              label="STATUS"
                            />
                            <!-- <q-input
                                v-model="sstatus[s]"
                                square outlined
                                dense
                                label="STATUS"
                            /> -->
                        </div>
                        <div class="col-2">
                            <q-input  label="DATE OF BIRTH"  square outlined dense v-model="sbirth[s]">
                                <q-popup-proxy transition-show="scale" transition-hide="scale">
                                    <q-date v-model="sbirth[s]" mask="dddd, MMMM Do YYYY" >
                                        <div class="row items-center justify-end q-gutter-sm">
                                            <q-btn label="Cancel" color="indigo-8" flat v-close-popup />
                                            <q-btn label="OK" color="indigo-8" flat  v-close-popup />
                                        </div>
                                    </q-date>
                                </q-popup-proxy>
                            </q-input>
                        </div>
                        <div class="col-1">
                            <q-input
                                type="number"
                                v-model="sage[s]"
                                square outlined
                                dense
                                label="AGE"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="splace_of_birth[s]"
                                square outlined
                                dense
                                label="PLACE OF BIRTH"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="sphone[s]"
                                type="number"
                                square outlined
                                dense
                                label="PHONE NUMBER"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="smobile[s]"
                                type="number"
                                square outlined
                                dense
                                label="MOBILE NUMBER"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="scurrent_home[s]"
                                square outlined
                                dense
                                label="CURRENT ADDRESS(HOME NUMBER/SREET)"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="scurrent_sitio[s]"
                                square outlined
                                dense
                                label="VILLAGE/SITIO"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                 v-model="scurrent_barangay[s]"
                                square outlined
                                dense
                                label="BARANGAY"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                 v-model="scurrent_town[s]"
                                square outlined
                                dense
                                label="TOWN/CITY"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                 v-model="scurrent_province[s]"
                                square outlined
                                dense
                                label="PROVINCE"
                            />
                        </div>

                        <div class="col-3">
                            <q-input
                                v-model="sother_home[s]"
                                square outlined
                                dense
                                label="OTHER ADDRESS(HOME NUMBER/SREET)"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="sother_sitio[s]"
                                square outlined
                                dense
                                label="VILLAGE/SITIO"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="sother_barangay[s]"
                                square outlined
                                dense
                                label="BARANGAY"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="sother_town[s]"
                                square outlined
                                dense
                                label="TOWN/CITY"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="sother_province[s]"
                                square outlined
                                dense
                                label="PROVINCE"
                            />
                        </div>

                        <div class="col-3">
                            <q-input
                                v-model="shighest_education[s]"
                                square outlined
                                dense
                                label="HIGHEST EDUCATION ATTAINMENT"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="soccupation[s]"
                                square outlined
                                dense
                                label="OCCUPATION"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                 v-model="swork_address[s]"
                                square outlined
                                dense
                                label="WORK ADDRESS"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="srelation_to_victim[s]"
                                square outlined
                                dense
                                label="RELATION TO VICTIM"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="semail[s]"
                                type="email"
                                square outlined
                                dense
                                label="EMAIL ADDRESS (if Any)"
                            />
                        </div>

                        <div class="col-3">
                            <q-input
                                v-model="spersonel[s]"
                                square outlined
                                dense
                                label="IF AFP/PNP PERSONEL RANK"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="sunit[s]"
                                square outlined
                                dense
                                label="UNIT ASSIGNMENT"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="saffiliation[s]"
                                square outlined
                                dense
                                label="GROUP AFFILIATION"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                 v-model="sprevious_record[s]"
                                square outlined
                                dense
                                label="WITH PREVIOUS CRIMINAL RECORD (if yes pls spesify)"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="sprevious_record_status[s]"
                                square outlined
                                dense
                                label="STATUS OF PREVIOUS CASE"
                            />
                        </div>
                        <div class="col-1">
                            <q-input
                                v-model="sheight[s]"
                                type="number"
                                square outlined
                                dense
                                label="HEIGHT"
                            />
                        </div>
                        <div class="col-1">
                            <q-input
                                v-model="sweight[s]"
                                type="number"
                                square outlined
                                dense
                                label="WEIGHT"
                            />
                        </div>
                        <div class="col">
                            <q-input
                                v-model="seyes[s]"
                                square outlined
                                dense
                                label="COLOR OF EYES"
                            />
                        </div>
                        <div class="col">
                            <q-input
                                v-model="seyes_desc[s]"
                                square outlined
                                dense
                                label="DISCRIPTION OF EYES"
                            />
                        </div>
                        <div class="col">
                            <q-input
                                v-model="shair[s]"
                                square outlined
                                dense
                                label="COLOR OF HAIR"
                            />
                        </div>
                        <div class="col-2">
                            <q-input
                                v-model="shair_desc[s]"
                                square outlined
                                dense
                                label="DESCRIPTION OF HAIR"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="sinfluence_of[s]"
                                square outlined
                                dense
                                label="UNDER THE INFLUENCE OF"
                            />
                        </div>
                    </div>
                    <!-- END ROW -->
                    <div class="text-right q-mt-md">
                        <q-btn class="q-mx-xs" @click="tab = 'page1'" label="back"/>
                        <q-btn class="q-mx-xs" @click="tab = 'page3'" label="next page"/>
                    </div>
                </q-tab-panel>
                <q-tab-panel name="page3">
                    <!-- PAGE3 -->
                    <div class="row justify shadow-2">
                        <div class="col-12 bg-grey-4">
                            <div class="text-h6 text-center">
                                FOR CHILDREN IN CONFLICT WITH THE LAW
                            </div>
                            <!-- <q-btn @click="childrenConflictSaveEvent">Test</q-btn> -->
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="children['name_guardian']"
                                square outlined
                                dense
                                label="NAME OF GUARDIAN"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="children['guardian_address']"
                                square outlined
                                dense
                                label="GUARDIAN ADDRESS"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                type="number"
                                v-model="children['phone']"
                                square outlined
                                dense
                                label="HOME PHONE"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                type="number"
                                v-model="children['mobile']"
                                square outlined
                                dense
                                label="MOBILE PHONE"
                            />
                        </div>
                        <div class="col-12">
                            <q-input
                                v-model="children['deversion']"
                                square outlined
                                dense
                                label="DEVERSION MECHANISM"
                            />
                        </div>
                        <div class="col-12">
                            <div class="text-grey-7 q-pa-sm">
                                OTHER DISTINGUISING FEATURE
                                (DISCRIBE IN DATAILS, CLOTHES, VEHICLE, SUNGLASSES, WEAPON/S SCARS, AND OTHER DATA ACTIVITY OF THE SUSPECT/S WHICH WARE
                                OBSERVED BY THE REPORTING PERSON/S AND/OR WITNESS/ES TO IDENTIFY THE SUSPECT/S.  THESE ARE IMPORTANT AND MAY BECOME EVIDENCE TO.
                                IDENTIFY, AND LINK TO THE CRIME, THE SUSPECT/S USE ADDITIONAL SHEET/S NECESSARY.
                                )
                            </div>
                            <q-input
                                v-model="children['distinguising']"
                                type="textarea"
                                square outlined
                                dense
                            />
                        </div>
                    </div>
                    <!-- END ROW -->
                    <div class="text-right q-mt-md">
                        <q-btn class="q-mx-xs" @click="tab = 'page2'" label="back"/>
                        <q-btn class="q-mx-xs" @click="tab = 'page4'" label="next page"/>
                    </div>
                </q-tab-panel>
                <q-tab-panel name="page4">
                    <!-- PAGE4 -->
                    <div class="row justify shadow-2">
                        <!-- <div class="col-12 bg-grey-4">
                            <div class="text-h6 text-center">
                            INCIDNET RECORD TRANSACTION RECIEPT
                            </div>
                        </div> -->
                        <div class="col-3">
                            <q-input
                                v-model="reciept['blotter_entry']"
                                square outlined
                                dense
                                label="BLOTTER ENTRY NUMBER"
                            />
                        </div>
                        <div class="col-9 bg-grey-4">
                            <div class="text-center">
                                <div class="text-h6">
                                INCIDENT RECORD TRANSACTION RECIEPT
                                 <!-- <q-btn @click="recieptSaveEvent">testsave</q-btn> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-3 bg-grey-4 border">
                            <div class="text-center">
                                <div class="q-pt-sm">THIS CERTIFIES THAT</div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div v-show="false">
                                {{ reporting['family_name'] === undefined && reporting['middle_name'] ===  undefined && reporting['last_name'] === undefined ? reciept['name'] = ''  : reciept['name'] = reporting['family_name'] + ' ' + reporting['middle_name'] + ' ' +reporting['last_name'] }}
                                {{ reporting['current_home'] === undefined && reporting['current_sitio'] === undefined && reporting['current_barangay'] === undefined && reporting['current_town'] === undefined && reporting['current_province'] === undefined ? reciept['address'] = '' : reciept['address'] = reporting['current_home'] + ' ' + reporting['current_sitio'] + ' '+ reporting['current_barangay'] + ' ' + reporting['current_town'] + ' ' + reporting['current_province'] }}
                            </div>
                            <q-input
                                disable
                                v-model="reciept['name']"
                                square outlined
                                dense
                                label="NAME OF REPORTING PERSON"
                            />
                        </div>
                        <div class="col-4">
                            <q-input
                                disable
                                v-model="reciept['address']"
                                square outlined
                                dense
                                label="ADDRESS OF REPORTING PERSON"
                            />
                        </div>
                        <div class="col-3">
                            <div class="q-pl-xs q-pt-xs bg-grey-4" style="font-size:86%">
                                <small class="text-bold q-pt-sm">
                                    REPORTED AN INCIDENT TO BE
                                    RECORDED IN THE POLICE BLOTTER
                                    WHICH INVOLVES
                                </small>
                            </div>
                            <div class="text-center">
                                <q-input
                                    v-model="data.report_date"
                                    square outlined
                                    dense
                                    label="DATE/TIME OF REPORT"
                                />
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-12">
                                    <q-input
                                        v-model="reporting['type_incident']"
                                        square outlined
                                        dense
                                        label="TYPE OF INCIDENT"
                                    />
                                </div>
                                <div class="col-6">
                                    <q-input
                                        v-model="reporting['incident_date_time']"
                                        square outlined
                                        dense
                                        label="DATE/TIME OF INCIDENT"
                                    />
                                </div>
                                <div class="col-6">
                                    <q-input
                                        v-model="reciept['incident_place']"
                                        square outlined
                                        dense
                                        label="PLACE OF INCIDENT"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-3 bg-grey-4" style="height:80px">
                                    <div class="text-center q-pa-xs">
                                        <small>
                                            AND RECORDED BY
                                        </small>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <q-input
                                         v-model="reciept['desk_officer']"
                                        style="height:80px"
                                        type="textarea"
                                        square outlined
                                        dense
                                        label="RANK/NAME/SIGNATURE OF DESK OFFICER"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END ROW -->
                    <div class="text-right q-mt-md">
                        <q-btn class="q-mx-xs" @click="tab = 'page3'" label="back"/>
                        <q-btn class="q-mx-xs" @click="tab = 'page5'" label="next page"/>
                    </div>
                </q-tab-panel>
                <q-tab-panel name="page5">
                  <!-- PAGE 5 -->
                   <div class="text-right">
                      <q-btn @click="count2 > 1 ? count2-- : ''" label="Remove Form" color="grey-8" icon="remove"></q-btn>
                      <q-btn class="q-mx-xs" @click="count2++" label="Add Form" color="indigo-8" icon="add"/>
                      <!-- <q-btn @click="victimsSaveEvent" label="send"></q-btn> -->
                  </div>
                  <div class="row justify shadow-2 q-my-sm" v-for="v in count2 " :key="v">
                      <div class="col-12 bg-grey-4">
                          <div class="text-center">
                              <div class="text-right">
                              </div>
                              <div class="text-h6">
                                  ITEM "C" VICTIM {{v}} DATA
                              </div>
                          </div>
                      </div>
                      <div class="col-12">

                      </div>
                      <div class="col-3">
                          <q-input
                              v-model="vfamily_name[v]"
                              square outlined
                              dense
                              label="FAMILY NAME"
                          />
                      </div>
                      <div class="col-3">
                          <q-input
                              v-model="vlast_name[v]"
                              square outlined
                              dense
                              label="FIRST NAME"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vmiddle_name[v]"
                              square outlined
                              dense
                              label="MIDDLE NAME"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vqualifier[v]"
                              square outlined
                              dense
                              label="QUALIFIER"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vnickname[v]"
                              square outlined
                              dense
                              label="NICKNAME"
                          />
                      </div>
                      <div class="col-1">
                          <q-input
                              v-model="vcitizenship[v]"
                              square outlined
                              dense
                              label="CITIZENSHIP"
                          />
                      </div>
                      <div class="col-1">
                          <q-select
                              dense
                              outlined
                              v-model="vgender[v]"
                              :options="gender"
                              label="GENDER"
                            />
                          <!-- <q-input
                              v-model="vgender[v]"
                              square outlined
                              dense
                              label="GENDER"
                          /> -->
                      </div>
                      <div class="col-1">
                          <q-select
                              dense
                              outlined
                              v-model="vstatus[v]"
                              :options="status"
                              label="STATUS"
                            />
                          <!-- <q-input
                              v-model="vstatus[v]"
                              square outlined
                              dense
                              label="STATUS"
                          /> -->
                      </div>
                      <div class="col-2">
                          <!-- vbirth[v] -->
                          <q-input  label="DATE OF BIRTH"  square outlined dense v-model="vbirth[v]">
                                <q-popup-proxy transition-show="scale" transition-hide="scale">
                                    <q-date v-model="vbirth[v]" mask="dddd, MMMM Do YYYY" >
                                        <div class="row items-center justify-end q-gutter-sm">
                                            <q-btn label="Cancel" color="indigo-8" flat v-close-popup />
                                            <q-btn label="OK" color="indigo-8" flat  v-close-popup />
                                        </div>
                                    </q-date>
                                </q-popup-proxy>
                            </q-input>
                      </div>
                      <div class="col-1">
                          <q-input
                              v-model="vage[v]"
                              type="number"
                              square outlined
                              dense
                              label="AGE"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vplace_of_birth[v]"
                              square outlined
                              dense
                              label="PLACE OF BIRTH"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vphone[v]"
                              type="number"
                              square outlined
                              dense
                              label="HOME PHONE"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vmobile[v]"
                              type="number"
                              square outlined
                              dense
                              label="MOBILE NUMBER"
                          />
                      </div>
                      <div class="col-3">
                          <q-input
                              v-model="vcurrent_home[v]"
                              square outlined
                              dense
                              label="CURRENT ADDRESS(HOME NUMBER/SREET)"
                          />
                      </div>
                      <div class="col-3">
                          <q-input
                              v-model="vcurrent_sitio[v]"
                              square outlined
                              dense
                              label="VILLAGE/SITIO"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vcurrent_barangay[v]"
                              square outlined
                              dense
                              label="BARANGAY"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vcurrent_town[v]"
                              square outlined
                              dense
                              label="TOWN/CITY"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vcurrent_province[v]"
                              square outlined
                              dense
                              label="PROVINCE"
                          />
                      </div>

                      <div class="col-3">
                          <q-input
                              v-model="vother_home[v]"
                              square outlined
                              dense
                              label="OTHER ADDRESS(HOME NUMBER/SREET)"
                          />
                      </div>
                      <div class="col-3">
                          <q-input
                              v-model="vother_sitio[v]"
                              square outlined
                              dense
                              label="VILLAGE/SITIO"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vother_barangay[v]"
                              square outlined
                              dense
                              label="BARANGAY"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vother_town[v]"
                              square outlined
                              dense
                              label="TOWN/CITY"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="vother_province[v]"
                              square outlined
                              dense
                              label="PROVINCE"
                          />
                      </div>

                      <div class="col-4">
                          <q-input
                              v-model="vhighest_education[v]"
                              square outlined
                              dense
                              label="HIGHEST EDUCATION ATTAINMENT"
                          />
                      </div>
                      <div class="col-2">
                          <q-input
                              v-model="voccupation[v]"
                              square outlined
                              dense
                              label="OCCUPATION"
                          />
                      </div>
                      <div class="col-3">
                          <q-input
                              v-model="vwork_address[v]"
                              square outlined
                              dense
                              label="WORK ADDRESS"
                          />
                      </div>
                      <div class="col-3">
                          <q-input
                              v-model="vemail[v]"
                              square outlined
                              dense
                              label="EMAIL ADDRESS (if Any)"
                          />
                      </div>
                  </div>
                    <div class="text-right q-mt-md">
                        <q-btn class="q-mx-xs" @click="tab = 'page4'" label="back"/>
                        <q-btn class="q-mx-xs" @click="tab = 'page6'" label="next page"/>
                    </div>
                </q-tab-panel>
                <q-tab-panel name="page6">
                    <div class="row justify shadow-2">
                        <div class="col-12 bg-grey-4">
                            <div class="text-h6 text-center">
                            ITEM "D" NARRATIVE OF INCIDENT
                            </div>
                            <!-- <q-btn @click="narrativeSaveEvent">save test</q-btn> -->
                        </div>
                        <div class="col-3">
                            <q-input
                                 v-model="narrative['entry_number']"
                                square outlined
                                dense
                                label="BLOTTER ENTRY NUMBER"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="narrative['incident_type']"
                                square outlined
                                dense
                                label="TYPE OF INCIDENT"
                            />
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="narrative['time']"
                                square outlined
                                dense
                                label="TIME"
                            >
                                <template v-slot:append>
                                    <q-icon name="access_time" class="cursor-pointer">
                                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                                        <q-time v-model="narrative['time']" mask="h:mm:ss a" format24h>
                                        <div class="row items-center justify-end">
                                            <q-btn v-close-popup label="Close" color="primary" flat />
                                        </div>
                                        </q-time>
                                    </q-popup-proxy>
                                    </q-icon>
                                </template>
                            </q-input>
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="narrative['date']"
                                square outlined
                                dense
                                label="DATE"
                            >
                                <template v-slot:prepend>
                                    <q-icon name="event" class="cursor-pointer">
                                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                                        <q-date v-model="narrative['date']" mask="dddd, MMMM Do YYYY">
                                        <div class="row items-center justify-end">
                                            <q-btn v-close-popup label="Close" color="primary" flat />
                                        </div>
                                        </q-date>
                                    </q-popup-proxy>
                                    </q-icon>
                                </template>
                            </q-input>
                        </div>
                        <div class="col-12">
                            <q-input
                                v-model="narrative['place_of_incident']"
                                square outlined
                                dense
                                label="PLACE OF INCIDENT"
                            />
                        </div>
                        <div class="col-12">
                            <div class="text-grey-7 q-pa-sm">
                                ENTER IN DETAIL THE NARRATIVE OF THE INCIDENT OR EVENT, ANSWERING THE WHO, WHEN, WHERE, WHY OF REPORTING (USE ADDITIONAL SHEET/S IF NECESSARY)
                            </div>
                            <q-input
                                v-model="narrative['narrative_of_incident']"
                                type="textarea"
                                square outlined
                                dense
                            />
                        </div>
                        <div class="col-12 bg-grey-4 ">
                            <div class="text-h6 text-center">
                            AUTHENTICATION
                            </div>
                        </div>
                        <div class="col-4 bg-grey-3">
                            <div class="text-center q-pt-md q-px-xs" style="font-size:86%">
                                <span>
                                    I HEREBY CERTIFY TO THE CONNECTNESS OF THE FOREGOING
                                    TO THE BEST OF MY KNOWLEDGE AND  BELIEF
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <q-input
                                v-model="narrative['reporting_person']"
                                style="height:100px"
                                type="textarea"
                                square outlined
                                dense
                                label="NAME/SIGNATURE OF REPORTING PERSON"
                            />
                        </div>
                        <div class="col-4">
                            <q-input
                                v-model="narrative['desk_offiicer']"
                                style="height:100px"
                                type="textarea"
                                square outlined
                                dense
                                label="NAME/SIGNATURE OF DESK OFFICER"
                            />
                        </div>
                        <div class="col-12 bg-grey-4">
                            <div class="text-h6 text-center">
                            CASE DISPOSITION (For Chief/Head of Office Use Only)
                            </div>
                        </div>
                        <div class="col-4">
                            <q-input
                                v-model="narrative['chief_instructions']"
                                square outlined
                                label="CHIEF OF STATION/OFFICE INSTRUCTIONS"
                            />
                        </div>
                        <div class="col-4">
                            <q-input
                                v-model="narrative['name_of_investigator']"
                                square outlined
                                label="NAME OF DESIGNATED INVESTIGATOR-ON-CASE"
                            />
                        </div>
                        <div class="col-4">
                            <q-input
                                 v-model="narrative['name_of_chief']"
                                square outlined
                                label="NAME OF CHEIF OF STATION/OFFICE"
                            />
                        </div>
                        <div class="col-12 text-center q-pa-sm text-grey-7">
                        - - - - - - - - - - CUT HERE- - - - - - - - - - CUT HERE- - - - - - - - - -
                        </div>
                        <div class="col-12 text-center q-pa-sm text-grey-7 text-bold">
                            <div>
                                INSTRUCTIONS TO REPORTING PERSON
                            </div>
                            <small>
                                keep this incident Record Transaction Reciept(IRTR). An update of the process of the investigation
                                of the crime or incident that you reported
                                will be given to you upon presentation of this IRTR. For your referencesm, the data below is the contact details of this {{data.station_type}}
                            </small>
                        </div>
                        <div class="col-3 bg-grey-4 text-center q-pt-sm">
                            <small>Name of {{data.station !== undefined ?  data.station.station_type : '' }}</small>
                        </div>
                        <div v-show="false">
                            {{data.station !== undefined ? IRTR['station_name'] = data.station.station_name : ''}}
                        </div>
                        <div class="col-4">
                            <q-input
                                v-model="IRTR['station_name']"
                                square outlined
                                dense
                            />
                        </div>
                        <div class="col-2 bg-grey-4 text-center q-pt-sm">
                            <small>Telephone</small>
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="IRTR['station_telephone']"
                                type="number"
                                square outlined
                                dense
                            />
                        </div>
                        <!--  -->
                        <div class="col-3 bg-grey-4 text-center q-pt-sm border">
                            <small>Investigator-on-Case</small>
                        </div>
                        <div class="col-4">
                            <q-input
                                v-model="IRTR['investigator']"
                                square outlined
                                dense
                            />
                        </div>
                        <div class="col-2 bg-grey-4 text-center q-pt-sm border">
                            <small>Mobile Phone</small>
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="IRTR['investigator_mobile']"
                                type="number"
                                square outlined
                                dense
                            />
                        </div>
                    <!--  -->
                    <div class="col-3 bg-grey-4 text-center q-pt-sm border">
                            <small>Name of Chief/Head of Office</small>
                        </div>
                        <div class="col-4">
                            <q-input
                                v-model="IRTR['chief']"
                                square outlined
                                dense
                            />
                        </div>
                        <div class="col-2 bg-grey-4 text-center q-pt-sm border">
                            <small>Mobile Phone</small>
                        </div>
                        <div class="col-3">
                            <q-input
                                v-model="IRTR['chief_mobile']"
                                type="number"
                                square outlined
                                dense
                            />
                        </div>
                    </div>
                            <!-- END ROW -->
                    <div class="text-right q-mt-md">
                        <q-btn class="q-mx-xs" @click="tab = 'page5'" label="back"/>
                        <q-btn class="q-mx-xs" @click="saveall" label="save All"/>
                    </div>
                </q-tab-panel>
            </q-tab-panels>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>

// import Page1 from './IncidentRecordFormPage1'
// import Page2 from './IncidentRecordFormPage2'
// import Page3 from './IncidentRecordFormPage3'
// import Page4 from './IncidentRecordFormPage4'
// import Page6 from './IncidentRecordFormPage6'
import { Printd } from 'printd'
import { updateStatus } from '../Graphql/query/complaint'
import { saveSuspect, saveVictims, saveReporter, saveChildrenConflict, saveIncidentReciept, saveNarrative, updateBlotterStatus, saveIRTR } from '../Graphql/query/blotter'
export default {
  name: 'ViewComplaintPage',
  components: { },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
    //   tab: 'REPORTING_PERSON',
      gender: [
        'Male', 'Female', 'Transgender'
      ],
      status: [
        'Married', 'Single'
      ],
      tab: 'page1',
      count: 1,
      count2: 1,
      IRTR: [],
      narrative: [],
      reciept: [],
      children: [],
      reporting: [],
      suspects: [],
      sfamily_name: [],
      slast_name: [],
      smiddle_name: [],
      squalifier: [],
      snickname: [],
      scitizenship: [],
      sgender: [],
      sstatus: [],
      sbirth: [],
      sage: [],
      splace_of_birth: [],
      sphone: [],
      smobile: [],
      scurrent_home: [],
      scurrent_sitio: [],
      scurrent_barangay: [],
      scurrent_town: [],
      scurrent_province: [],
      sother_home: [],
      sother_sitio: [],
      sother_barangay: [],
      sother_town: [],
      sother_province: [],
      shighest_education: [],
      soccupation: [],
      swork_address: [],
      srelation_to_victim: [],
      semail: [],
      spersonel: [],
      sunit: [],
      saffiliation: [],
      sprevious_record: [],
      sprevious_record_status: [],
      sheight: [],
      sweight: [],
      seyes: [],
      seyes_desc: [],
      shair: [],
      shair_desc: [],
      sinfluence_of: [],
      //
      victims: [],
      vfamily_name: [],
      vlast_name: [],
      vmiddle_name: [],
      vqualifier: [],
      vnickname: [],
      vcitizenship: [],
      vgender: [],
      vstatus: [],
      vbirth: [],
      vage: [],
      vplace_of_birth: [],
      vphone: [],
      vmobile: [],
      vcurrent_home: [],
      vcurrent_sitio: [],
      vcurrent_barangay: [],
      vcurrent_town: [],
      vcurrent_province: [],
      vother_home: [],
      vother_sitio: [],
      vother_barangay: [],
      vother_town: [],
      vother_province: [],
      vhighest_education: [],
      voccupation: [],
      vwork_address: [],
      vemail: []
    }
  },
  methods: {
    saveall () {
      const confirm = window.confirm('Are you sure to Save?')
      if (confirm) {
        this.reporterSaveEvent()
        this.suspectsSaveEvent()
        this.childrenConflictSaveEvent()
        this.recieptSaveEvent()
        this.victimsSaveEvent()
        this.narrativeSaveEvent()
        this.changeStatustoBlotter()
        this.IRTRSaveEvent()
        this.updateComplaintStatus(this.data.complaint.id)
        this.$router.push('master-list')
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Successfully Save'
        })
      }
    },
    async updateComplaintStatus (id) {
      const { data } = await this.$apollo.mutate({
        mutation: updateStatus,
        variables: {
          id: id,
          status: 'Filed'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      return data
    },
    async changeStatustoBlotter () {
      const { data } = await this.$apollo.mutate({
        mutation: updateBlotterStatus,
        variables: {
          id: this.data.blotter.id,
          status: 'Blotter'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      return data
    },
    print () {
      const print = new Printd()
      print.print(this.$name)
    },
    async IRTRSaveEvent () {
      const variables = {
        station_name: this.IRTR.station_name,
        investigator: this.IRTR.station_telephone,
        chief: this.IRTR.chief,
        chief_mobile: this.IRTR.chief_mobile,
        station_telephone: this.IRTR.station_telephone,
        investigator_mobile: this.IRTR.investigator_mobile,
        blotter_id: this.data.blotter.id
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveIRTR,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      console.log(data)
    },
    async narrativeSaveEvent () {
      const variables = {
        Dblotter_entry_number: this.narrative.entry_number,
        Dblotter_id: this.data.blotter.id,
        Dchief_instructions: this.narrative.chief_instructions,
        Ddate: this.narrative.date,
        Ddesk_offiicer: this.narrative.desk_offiicer,
        Dname_of_chief: this.narrative.name_of_chief,
        Dname_of_investigator: this.narrative.name_of_investigator,
        Dnarrative_of_incident: this.narrative.narrative_of_incident,
        Dplace_of_incident: this.narrative.place_of_incident,
        Dreporting_person: this.narrative.reporting_person,
        Dtime: this.narrative.time,
        Dtype_of_incident: this.narrative.incident_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNarrative,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      console.log(data)
    },
    async recieptSaveEvent () {
      const variables = {
        IRblotter_id: this.data.blotter.id,
        IRdate_incident: this.reporting.incident_date_time,
        IRdate_report: this.data.report_date,
        IRdesk_officer: this.reciept.desk_officer,
        IRname_of_reporting: this.reciept.name,
        IRplace_incident: this.reciept.incident_place,
        IRtype_incident: this.reporting.type_incident,
        IRaddress_reporting: this.reciept.address,
        IRblotter_entry: this.reciept.blotter_entry
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveIncidentReciept,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      console.log(data)
    },
    async childrenConflictSaveEvent () {
      const variables = {
        CCblotter_id: this.data.blotter.id,
        CCdeversion: this.children.deversion,
        CCdistinguising: this.children.distinguising,
        CCguardian_address: this.children.guardian_address,
        CCmobile: this.children.mobile,
        CCname_of_guardian: this.children.name_guardian,
        CCphone: this.children.phone
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveChildrenConflict,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      console.log(data)
    },
    async reporterSaveEvent () {
      const variables = {
        Aage: this.reporting.age,
        Ablotter_entry_number: this.reporting.entry_number,
        Acitizen: this.reporting.citizenship,
        Acurrent_barangay: this.reporting.current_barangay,
        Acurrent_home: this.reporting.current_home,
        Acurrent_province: this.reporting.current_province,
        Acurrent_sitio: this.reporting.current_sitio,
        Acurrent_town: this.reporting.current_town,
        Adate_of_birth: this.reporting.birth,
        Adate_time_incident: this.reporting.incident_date_time,
        Adate_time_reported: this.data.report_date,
        Aemail: this.reporting.email,
        Afamily_name: this.reporting.family_name,
        Agender: this.reporting.gender,
        Ahighest_education: this.reporting.highest_education,
        Aid_presented: this.reporting.id_presented,
        Alast_name: this.reporting.last_name,
        Amiddle_name: this.reporting.middle_name,
        Amobile: this.reporting.mobile,
        Anickname: this.reporting.nickname,
        Aoccupation: this.reporting.occupation,
        Aother_barangay: this.reporting.other_barangay,
        Aother_home: this.reporting.other_home,
        Aother_province: this.reporting.other_province,
        Aother_sitio: this.reporting.other_sitio,
        Aother_town: this.reporting.other_town,
        Aphone: this.reporting.phone,
        Aplace_of_birth: this.reporting.placebirth,
        Aqualifier: this.reporting.qualifier,
        Astatus: this.reporting.status,
        Atype_of_incident: this.reporting.type_incident,
        Ablotter_id: this.data.blotter.id
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveReporter,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      console.log(data)
    },
    async suspectsSaveEvent () {
      console.log('clcik')
      for (var i = 1; i - 1 < this.count; i++) {
        console.log(i)
        console.log(this.sfamily_name[i])
        const variables = {
          Bage: this.sage[i],
          Bcitizen: this.scitizenship[i],
          Bcolor_hair: this.shair[i],
          Bcolor_of_eye: this.seyes[i],
          Bcurrent_barangay: this.scurrent_barangay[i],
          Bcurrent_home: this.scurrent_home[i],
          Bcurrent_province: this.scurrent_province[i],
          Bcurrent_sitio: this.scurrent_sitio[i],
          Bcurrent_town: this.scurrent_town[i],
          Bdate_of_birth: this.sbirth[i],
          Bdesc_eye: this.seyes_desc[i],
          Bdesc_of_hair: this.shair_desc[i],
          Bemail: this.semail[i],
          Bfamily_name: this.sfamily_name[i],
          Bgender: this.sgender[i],
          Bgroup_affiliation: this.saffiliation[i],
          Bheight: this.sheight[i],
          Bhighest_education: this.shighest_education[i],
          Blast_name: this.slast_name[i],
          Bmiddle_name: this.smiddle_name[i],
          Bmobile: this.smobile[i],
          Bnickname: this.snickname[i],
          Boccupation: this.soccupation[i],
          Bother_barangay: this.sother_barangay[i],
          Bother_home: this.sother_home[i],
          Bother_province: this.sother_province[i],
          Bother_sitio: this.sother_sitio[i],
          Bother_town: this.sother_town[i],
          Bpersonel_rank: this.spersonel[i],
          Bphone: this.sphone[i],
          Bplace_of_birth: this.splace_of_birth[i],
          Bprevious_criminal_record: this.sprevious_record[i],
          Bqualifier: this.squalifier[i],
          Brelation_to_victim: this.srelation_to_victim[i],
          Bstatus: this.sstatus[i],
          Bstatus_of_previous_case: this.sprevious_record_status[i],
          Bunder_influence_of: this.sinfluence_of[i],
          Bunit_assignment: this.sunit[i],
          Bweight: this.sweight[i],
          Bwork_address: this.swork_address[i],
          Bblotter_id: this.data.blotter.id
        }
        const { data } = await this.$apollo.mutate({
          mutation: saveSuspect,
          variables
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          return error
        })
        console.log(data)
      }
    },

    async victimsSaveEvent () {
      console.log('clcik')
      for (var i = 1; i - 1 < this.count2; i++) {
        console.log(i)
        // console.log(this.sfamily_name[i])
        const variables = {
          Cage: this.vage[i],
          Ccitizen: this.vcitizenship[i],
          Ccurrent_barangay: this.vcurrent_barangay[i],
          Ccurrent_home: this.vcurrent_home[i],
          Ccurrent_province: this.vcurrent_province[i],
          Ccurrent_sitio: this.vcurrent_sitio[i],
          Ccurrent_town: this.vcurrent_town[i],
          Cdate_of_birth: this.vbirth[i],
          Cemail: this.vemail[i],
          Cfamily_name: this.vfamily_name[i],
          Cgender: this.vgender[i],
          Chighest_education: this.vhighest_education[i],
          Clast_name: this.vlast_name[i],
          Cmiddle_name: this.vmiddle_name[i],
          Cmobile: this.vmobile[i],
          Cnickname: this.vnickname[i],
          Coccupation: this.voccupation[i],
          Cother_barangay: this.vother_barangay[i],
          Cother_home: this.vother_home[i],
          Cother_province: this.vother_province[i],
          Cother_sitio: this.vother_sitio[i],
          Cother_town: this.vother_town[i],
          Cphone: this.vphone[i],
          Cplace_of_birth: this.vplace_of_birth[i],
          Cqualifier: this.vqualifier[i],
          Cstatus: this.vstatus[i],
          Cwork_address: this.vwork_address[i],
          Cblotter_id: this.data.blotter.id
        }
        const { data } = await this.$apollo.mutate({
          mutation: saveVictims,
          variables
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          return error
        })
        console.log(data)
      }
    },
    submit () {
      console.log(this.victims)
      console.log(this.suspects)
    },
    close () {
      this.$emit('close')
    },
    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Please fill up All input fields'
      })
    }
  }
}
</script>
<style>
    .border {
     border: 1px solid rgb(216, 213, 213);
    }
</style>
