<template>
    <div>
       <div class="row justify shadow-2">
            <div class="col-12 bg-grey-4">
                <div class="text-h6 text-center">
                   ITEM "D" NARRATIVE OF INCIDENT
                </div>
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="BLOTTER ENTRY NUMBER"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="TYPE OF INCIDENT"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="TIME"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="DATE"
                />
            </div>
             <div class="col-12">
                <q-input
                    square outlined
                    dense
                    label="PLACE OF INCIDENT"
                />
            </div>
            <div class="col-12">
                <div class="text-grey-7 q-pa-sm">
                    ENTER IN DETAIL THE NARRATIVE OF THE INCIDENT OR EVENT, ANSWERING THE WHO, WHEN, WHERE, WHY OF REPORTING (USE ADDITIONAL SHEET/S IF NECESSARY)
                </div>
                <q-input
                    type="textarea"
                    square outlined
                    dense
                />
            </div>
            <div class="col-12 bg-grey-4 ">
                <div class="text-h6 text-center">
                  AUTHENTICATION
                </div>
            </div>
            <div class="col-4 bg-grey-3">
                <div class="text-center q-pt-md q-px-xs" style="font-size:86%">
                    <span>
                        I HEREBY CERTIFY TO THE CONNECTNESS OF THE FOREGOING
                        TO THE BEST OF MY KNOWLEDGE AND  BELIEF
                    </span>
                </div>
            </div>
             <div class="col-4">
                 <q-input
                    style="height:100px"
                    type="textarea"
                    square outlined
                    dense
                    label="NAME/SIGNATURE OF REPORTING PERSON"
                />
            </div>
            <div class="col-4">
                 <q-input
                    style="height:100px"
                    type="textarea"
                    square outlined
                    dense
                    label="NAME/SIGNATURE OF DESK OFFICER"
                />
            </div>
            <div class="col-12 bg-grey-4">
                <div class="text-h6 text-center">
                  CASE DISPOSITION (For Chief/Head of Office Use Only)
                </div>
            </div>
            <div class="col-4">
                <q-input
                    square outlined
                    label="CHIEF OF STATION/OFFICE INSTRUCTIONS"
                />
            </div>
             <div class="col-4">
                <q-input

                    square outlined
                    label="NAME OF DESIGNATED INVESTIGATOR-ON-CASE"
                />
            </div>
            <div class="col-4">
                 <q-input
                    square outlined
                    label="NAME OF CHEIEF OF STATION/OFFICE"
                />
            </div>
            <div class="col-12 text-center q-pa-sm text-grey-7">
             - - - - - - - - - - CUT HERE- - - - - - - - - - CUT HERE- - - - - - - - - -
            </div>
            <div class="col-12 text-center q-pa-sm text-grey-7 text-bold">
                <div>
                    INSTRUCTIONS TO REPORTING PERSON
                </div>
                <small>
                    keep this incident Record Transaction Reciept(IRTR). An update of the process of the investigation
                    of the crime or incident that you reported
                    will be given to you upon presentation of this IRTR. For your referencesm, the data below is the contact details of this {{data.station_type}}
                </small>
            </div>
            <div class="col-3 bg-grey-4 text-center q-pt-sm">
                <small>Name of {{data.station_type}}</small>
            </div>
            <div class="col-4">
                <q-input
                    square outlined
                    dense
                />
            </div>
            <div class="col-2 bg-grey-4 text-center q-pt-sm">
                <small>Telephone</small>
            </div>
            <div class="col-3">
                <q-input
                    type="number"
                    square outlined
                    dense
                />
            </div>
            <!--  -->
            <div class="col-3 bg-grey-4 text-center q-pt-sm border">
                <small>Investigator-on-Case</small>
            </div>
            <div class="col-4">
                <q-input
                    square outlined
                    dense
                />
            </div>
            <div class="col-2 bg-grey-4 text-center q-pt-sm border">
                <small>Mobile Phone</small>
            </div>
            <div class="col-3">
                <q-input
                    type="number"
                    square outlined
                    dense
                />
            </div>
        <!--  -->
         <div class="col-3 bg-grey-4 text-center q-pt-sm border">
                <small>Name of Chief/Head of Office</small>
            </div>
            <div class="col-4">
                <q-input
                    square outlined
                    dense
                />
            </div>
            <div class="col-2 bg-grey-4 text-center q-pt-sm border">
                <small>Mobile Phone</small>
            </div>
            <div class="col-3">
                <q-input
                    type="number"
                    square outlined
                    dense
                />
        </div>
        </div>  <!-- END ROW -->

    </div>
</template>

<script>
export default {
  name: 'IncidentRecordFormPage5',
  props: {
    data: {
      type: Object
    }
  }
}
</script>
