<template>
    <div>
        <!-- <q-card> -->

        <!-- </q-card> -->
    </div>
</template>

<script>
export default {
  name: 'IncidentRecordFormPage1',
  props: {
    data: {
      type: Object
    }
  }
}
</script>
