<template>
    <div>
       <div class="row justify shadow-2">
            <div class="col-12 bg-grey-4">
                <div class="text-h6 text-center">
                    ITEM "B" SUSPECT DATA
                </div>
            </div>
            <div class="col-12 border q-pa-xs">
                <span> note</span>
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="FAMILY NAME"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="LAST NAME"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="MIDDLE NAME"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="QUALIFIER"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="NICKNAME"
                />
            </div>
            <div class="col-1">
                <q-input
                    square outlined
                    dense
                    label="CITIZENSHIP"
                />
            </div>
            <div class="col-1">
                <q-input
                    square outlined
                    dense
                    label="GENDER"
                />
            </div>
            <div class="col-1">
                <q-input
                    square outlined
                    dense
                    label="STATUS"
                />
            </div>
            <div class="col-2">
                <q-btn label="DATE OF BIRTH" class="border" style="width:100%; height:100%"  color="grey-6" flat>
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date >
                    <div class="row items-center justify-end q-gutter-sm">
                        <q-btn label="Cancel" color="indigo-8" flat v-close-popup />
                        <q-btn label="OK" color="indigo-8" flat  v-close-popup />
                    </div>
                    </q-date>
                </q-popup-proxy>
                </q-btn>
            </div>
            <div class="col-1">
                <q-input
                    square outlined
                    dense
                    label="AGE"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="PLACE OF BIRTH"
                />
            </div>
            <div class="col-2">
                <q-input
                    type="number"
                    square outlined
                    dense
                    label="PHONE NUMBER"
                />
            </div>
            <div class="col-2">
                <q-input
                    type="number"
                    square outlined
                    dense
                    label="MOBILE NUMBER"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="CURRENT ADDRESS(HOME NUMBER/SREET)"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="VILLAGE/SITIO"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="BARANGAY"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="TOWN/CITY"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="PROVINCE"
                />
            </div>

            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="OTHER ADDRESS(HOME NUMBER/SREET)"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="VILLAGE/SITIO"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="BARANGAY"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="TOWN/CITY"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="PROVINCE"
                />
            </div>

            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="HIGHEST EDUCATION ATTAINMENT"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="OCCUPATION"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="WORK ADDRESS"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="RELATION TO VICTIM"
                />
            </div>
            <div class="col-3">
                <q-input
                    type="email"
                    square outlined
                    dense
                    label="EMAIL ADDRESS (if Any)"
                />
            </div>

            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="IF AFP/PHP PERSONEL RANK"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="UNIT ASSIGNMENT  "
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="GROUP AFFILIATION"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="WITH PREVIOUS CRIMINAL RECORD (if yes pls spesify)"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="STATUS OF PREVIOUS CASE"
                />
            </div>
            <div class="col-1">
                <q-input
                    type="number"
                    square outlined
                    dense
                    label="HEIGHT"
                />
            </div>
            <div class="col-1">
                <q-input
                    type="number"
                    square outlined
                    dense
                    label="WEIGHT"
                />
            </div>
            <div class="col">
                <q-input
                    square outlined
                    dense
                    label="COLOR OF EYES"
                />
            </div>
            <div class="col">
                <q-input
                    square outlined
                    dense
                    label="DISCRIPTION OF EYES"
                />
            </div>
            <div class="col">
                <q-input
                    square outlined
                    dense
                    label="COLOR OF HAIR"
                />
            </div>
            <div class="col-2">
                <q-input
                    square outlined
                    dense
                    label="DESCRIPTION OF HAIR"
                />
            </div>
            <div class="col-3">
                <q-input
                    square outlined
                    dense
                    label="UNDER THE INFLUENCE OF"
                />
            </div>
        </div>  <!-- END ROW -->
    </div>
</template>

<script>
export default {
  name: 'IncidentRecordFormPage2',
  props: {
    data: {
      type: Object
    }
  }
}
</script>
