<template>
    <div>
        <!-- <q-card> -->

        <!-- END ROW -->
        <!-- </q-card> -->
        <!-- <q-btn @click="add">add</q-btn>
        <q-btn @click="submit">submit</q-btn>
            <div v-for="(v, index) in count" :key="index">
            <q-input
                type="text"
                v-model="victim.name[v]"
                :value="data"
                square outlined
                label="name"
            />
        </div> -->
    </div>
</template>

<script>

export default {
  name: 'IncidentRecordFormPage5',
  props: {
    data: {
      type: Object
    }
  },
  data () {
    return {
      name: '',
      count: 1,

    }
  },
  methods: {
    add () {
      this.victims.push(this.victim)
      console.log(this.victims)
    },
    remove (index) {
      console.log(index)
      const i = this.victims.indexOf(index)
      var d = this.victims.splice(i, 1)
      console.log(i)
      console.log(d)
    },
    submit () {
      console.log(this.victims)
    }
  }
}
</script>
