<template>
  <q-item
    clickable
    :to="link"
  >
    <q-item-label>
      <span>
        <div class="text-subtitle1 text-bold text-grey-6">
          {{header}}
        </div>
      </span>
    </q-item-label>
    <q-item-section
      avatar
      class="q-ml-sm"
    >

    <!-- <q-icon  size="md" :name="icon" /> -->
    <q-btn dense  size="17px" flat :icon="icon">
      <template v-if="icon==='notification_important' && count.length > 0">
        <span class="pulse"></span>
        <span class="pulse"></span>
        <span class="pulse"></span>
      </template>
    </q-btn>
    </q-item-section>
    <q-item-section exact>
      <q-item-label>
        <span>
            {{ title }}
        </span>
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
var account = JSON.parse(localStorage.getItem('user'))
import { getStationCitizenArrest } from '../Graphql/query/complaint'
export default {
  name: 'Links',
  props: {
    title: {
      type: String,
      default: ''
    },
    link: {
      type: String,
      default: '#'
    },
    icon: {
      type: String,
      default: ''
    },
    header: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      count: 0
    }
  },
  methods: {
    async getCitizenArrest () {
      const { data } = await this.$apollo.query({
        query: getStationCitizenArrest,
        variables: {
          station_id: account.station_id,
          status: 'Pending'
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.count = data.complaint.map((count) => {
          return count
        })
      }
      // console.log(this.count)
    }
  },
  created () {
    this.getCitizenArrest()
  }
}
</script>
