<template>
  <div>
    <q-card class="shadow-0 bg-content">
      <div class="row">
        <div class="col text-center">
            <q-avatar size="100px">
                <img src="/logo/b.png" alt="">
            </q-avatar>
        </div>
      </div>
      <div class="q-pa-md">
        <q-form
          @submit="onSubmit"
          class="q-gutter-md"
        >
          <q-input
            filled
            v-model="username"
            label="Username"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please input username']"
          />
          <q-input
            filled
            type="password"
            v-model="password"
            label="Password"
            lazy-rules
            :rules="[
              val => val !== null && val !== '' || 'Please type your password',
              val => val.length > 8 && val.length < 100 || 'please input more than 8 character'
            ]"
          />
            <div class="text-center">
              <q-btn :disable="loading" :loading="loading" label="Login" type="submit" color="indigo-8">
                <template v-slot:loading>
                  <q-spinner/>
                </template>
              </q-btn>
            </div>
        </q-form>
      </div>
    </q-card>
  </div>
</template>
<script>
import API from '../API/api-endpoint'
import { getStationById } from '../Graphql/query/station'
export default {
  name: 'LoginPage',
  data () {
    return {
      username: '', // attached to v-model input bind
      password: '', // attached to v-model input bind
      loading: false
    }
  },

  methods: {
    async onSubmit () { // async the function for future API calls
      try {
        if (this.accept !== true) {
          this.loading = true // enable loading state
          var userCredentials = {
            username: this.username,
            password: this.password
          }
          var { data } = await API.login(userCredentials) // await API call - this will not trigger next line of code unless the request is done
          if (data.code === 200) {
            // save to local storage for reference
            // if code is 200 redirected to dashboard
            delete data.data.password
            localStorage.setItem('user', JSON.stringify(data.data))
            var stationData = await this.$apollo.query({
              query: getStationById,
              variables: {
                station_id: data.data.station_id
              },
              fetchPolicy: 'network-only'
            })
            console.log(stationData.data.station[0].isActive)
            console.log(data)
            console.log(stationData.data)
            if (stationData.data.station[0].isActive === true || data.data.user_type === 'user' || data.data.user_type === 'superadmin') {
              if (data.data.status === true) {
                this.$q.notify({
                  color: 'green',
                  textColor: 'white',
                  icon: 'check_circle',
                  position: 'top',
                  message: 'successfully login'
                })
                switch (data.data.user_type) {
                  case 'station_admin' :
                  case 'barangay_admin' :
                  case 'superadmin':
                    this.$router.push('/dashboard')
                    break
                  case 'user':
                  case 'police':
                  case 'barangay_member':
                    this.$router.push('/home')
                    break
                }
              } else {
                this.$q.notify({
                  color: 'red',
                  textColor: 'white',
                  icon: 'highlight_off',
                  position: 'top',
                  message: 'Account is Disabled'
                })
              }
            } else {
              this.$q.notify({
                color: 'red',
                textColor: 'white',
                icon: 'highlight_off',
                position: 'top',
                message: 'Station Account is Disabled'
              })
            }
          } else {
            // for improvement create a common file with a function that accept an error code and then return a nofication like the one above
            // common error and success code 200, 301, 404, 500 etc..
            // this will be temporary
            this.$q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'highlight_off',
              position: 'top',
              message: 'error in login'
            })
          }
        }
      } catch (e) { // catching the error eq
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'highlight_off',
          position: 'top',
          message: e.message
        })
      }
      this.loading = false // enable loading state
    }
  },
  created () {
    this.loading = false
  }
}
</script>
