`<template>
  <div>
    <q-dialog v-model="show" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <div class="text-right">
           <q-btn @click="close" color="grey-8" icon="close" class="q-ma-xs" />
        </div>
        <form class="q-gutter-md">
        <q-card-section align="center">
          <!-- <div class="text-center"> -->
            <!-- <img style="width:7em" :src="data.station_logo" alt=""> -->
            <!-- <div class="text-uppercase">
              <div class="text-h6">
                  office of {{data.station_name}}
              </div>
              <span>{{data.station_location}}</span>
            </div> -->
          <!-- </div> -->
          <q-avatar size="200px">
              <img :src="data.user_image" alt="">
            </q-avatar>
        </q-card-section>
      <div class="text-h5 text-bold text-center">MAKE APPOINTMENT</div>
        <!-- <q-stepper
          class="shadow-0 q-mx-xl"
          v-model="step"
          ref="stepper"
          animated
          contracted
          done-color="green-6"
          active-color="indigo-8"
          inactive-color="grey"
        >
          <q-step
            title="member_name"
            :name="1"
            icon="account_box"
            :done="step > 1"
          > -->
          <!-- <q-card-section class="text-grey-10"> -->
              <!-- <span class="text-bold text-uppercase">{{data.station_type}} Report:</span>  <br>
              As per report and records of events available in the official
              <span class="text-lowercase">{{data.station_type}} </span> blotter of this office
              there appears the following data, to with<br><br> -->
                <!-- <code class="text-uppercase">
                  <span class="text-bold">
                    {{data.station_type}} BLOTTER SERIES OF {{ d = new Date().getFullYear()}}
                  </span> <br>
                  <span class="text-bold"> BLOTTER ENTRY NUMBER:</span> -- {{data.id}}<br>
                  <span class="text-bold">Date & Time Entered</span>  -- {{data.created_at}} <br> <br>
                </code> -->

              <!-- <q-input
                  v-model="data.complaint_type"
                  label="the case could be imposed"
                  filled
                  type="text"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Please type something']"
                /> -->
              <q-card-section>
                <div class="text-h6 text-bold">COMPLAINT CASE:</div>
                <span>
                  {{data.complaint_type}} on <strong>{{data.first_name}} {{data.middle_name}} {{data.last_name}} </strong>
                  submit  a report on this station and reported that he/she was <strong> {{data.complaint_statement}}</strong>
                  by <strong>{{data.complaint_accuse_person = undefined ? 'Unidentified' : data.complaint_accuse_person}}</strong> on <strong>{{data.created_at}}</strong>
                </span>
               </q-card-section>
               <q-card-section>
                  <strong>APPOINTMENT DATE
                  <q-btn dense class="bg-grey-3" :label="data.validity !== undefined ? 'From ' + data.validity.from + ' To ' + data.validity.to: 'Set Appointment date'" flat  color="grey-7">
                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                       <q-card class="fixed-center">
                        <q-date
                        subtitle="SET APPOINTMENT DATE"
                        color="indigo-8"
                        v-model="data.validity"
                        range
                         mask="dddd, MMM D, YYYY"
                        >
                        <div class="text-right">
                          <q-btn  label="OK" color="indigo-8" flat v-close-popup />
                        </div>
                      </q-date>
                  </q-card>
                    </q-popup-proxy>
                </q-btn>
               </strong>
               </q-card-section>
               <!-- <div v-for="data in data.validity" :key="data">-->
               <!-- </div> -->
              <!-- <span class="text-bold"> ENTRY NO. {{data.id}}</span><br>
              {{data.created_at}}: Person of {{data.first_name}} {{data.middle_name}} {{data.last_name}}
              appeared this office and reported that the suspect who
              {{data.complaint_statement}} him/her was {{data.complaint_accuse_person === ''? 'Unidentified' : data.complaint_accuse_person}} -->

            <!-- <div class="text-center"> -->
              <!-- <q-btn style="width:100%" class="bg-grey-2 q-pa-sm" icon="policy" flat :label=" data.date  ===  undefined ||  data.time === undefined ? ' Date of Investigation' :'DATE: ' + data.date +' TIME: '+ data.time" color="grey-7">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-card class="fixed-center">
                    <q-card-section>
                      <q-time
                          style="width:20%"
                          v-model="data.time"
                          mask="YYYY-MM-DD HH:mm"
                          color="indigo-8"
                      >
                        <div class="row items-center justify-end">
                            <q-btn v-close-popup label="SET" color="indigo-8"/>
                        </div>
                      </q-time>
                    </q-card-section>
                  </q-card>
                </q-popup-proxy>
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-card class="fixed-center">
                      <q-card-section>
                        <q-date
                          class=""
                          align="center"
                          subtitle="DATE OF INVESTIGATION"
                          v-model="data.date"
                          today-btn
                          color="indigo-8"
                          mask="dddd, MMM D, YYYY"
                        >
                          <div class="row items-center justify-end">
                            <q-btn  label="SET" color="indigo-8" v-close-popup />
                          </div>
                        </q-date>
                      </q-card-section>
                  </q-card>
                </q-popup-proxy>
              </q-btn> -->
              <!-- <div class="q-py-sm">
                <q-input
                  v-model="data.investigation"
                  label="Write Investigation Statement"
                  filled
                  type="textarea"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Please type something']"
                />
              </div> -->
              <!-- <div class="text-center">
              <div class="text-h5 q-pa-md text-indigo-8">DATE OF APPOINTMENT</div>
              <q-date
                subtitle="SET APPOINTMENT DATE"
                color="indigo-8"
                v-model="data.validity"
                range />
            </div> -->
            <!-- </div>
          </q-card-section> -->
          <!-- <q-card-section>
            <q-stepper-navigation align="center">
                <q-btn @click="close" color="grey-8" label="Back" class="q-ml-sm" />
                <q-btn class="q-ml-sm" @click="data['date'] && data['time'] && data['investigation'] ? step = 2: BlankError () " color="indigo-8" label="Continue" />
            </q-stepper-navigation>
          </q-card-section> -->
          <!-- </q-step>
          <q-step
            title="user_image"
            :name="2"
            icon="calendar_today"
            :done="step > 2"
          > -->
            <!-- <div class="text-center">
              <div class="text-h5 text-indigo-8">DATE OF APPOINTMENT</div>
              <q-date
                subtitle="SET APPOINTMENT DATE"
                color="indigo-8"
                v-model="data.validity"
                mask="dddd, MMM D, YYYY"
                range />
            </div> -->
            <q-card-section align="center">
              <!-- <q-btn @click="step = 1" color="grey-8" label="Back" class="q-ml-sm" /> -->
              <q-btn class="q-ml-sm"  @click="data['validity'] ? createBlotterCertification() : BlankError()" color="indigo-8" label="Submit" />
            </q-card-section>
          <!-- </q-step>
        </q-stepper> -->
        </form>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'ViewComplaintPage',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      select: this.s,
      selected: [],
      step: 1
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Please fill up All input fields'
      })
    },
    createBlotterCertification (e) {
      e = this.data
      this.$emit('createBlotterCertification', e)
    }
  },
  created () {
  }
}
</script>
