`<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card style="width:440px">
        <form >
          <q-card-section>
            <div class="row">
              <div class="col">
                <!-- <img style="width:100%" src="/images/undraw_add_tasks_mxew (1).png" alt=""> -->
              </div>
              <div class="col">
                <div class="text-h6 q-mb-xl">Assign</div>
                <q-select
                  filled
                  emit-value
                  multiple
                  use-chips
                  map-options
                  option-value="id"
                  option-label="first_name"
                  v-model="selected"
                  label="Select Member"
                  :options="data"
                  style="width: 100%; margin-bottom: 20px"
                >
                <template v-slot:option="data">
                  <div  :key="data.id" v-bind="data">
                    <q-item
                      v-bind="data.itemProps"
                      v-on="data.itemEvents"
                    >
                    <q-item-section avatar>
                      <q-avatar rounded size="24px" color="indigo-8">
                        <!-- <img class="bordered-0" :src="data.opt.image" alt=""> -->
                      </q-avatar>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label > {{data.opt.first_name}} {{data.opt.middle_name}} {{data.opt.last_name}} </q-item-label>
                        <q-item-label caption>{{data.opt.rank}} </q-item-label>
                        <q-item-label caption>{{data.opt.contact_nmber}} </q-item-label>
                      </q-item-section>
                    </q-item>
                    </div>
                </template>
                </q-select>
              </div>
            </div>

          </q-card-section>
            <q-card-section class="q-pt-none text-center">
                 <q-btn class="q-ml-sm"  circle color="grey-8" label="cancel" @click="close"/>
              <q-btn class="q-ml-sm" @click="assign" color="indigo-8" label="Assign"/>
            </q-card-section>
          </form>
        </q-card>
    </q-dialog>
</div>
</template>

<script>
export default {
  name: 'ViewComplaintPage',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      select: this.s,
      selected: []
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    assign () {
      this.$emit('update:selected', this.selected)
      if (Object.keys(this.selected).length) {
        this.$emit('assign')
      } else {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Please Select Someone to Assign'
        })
      }
    }
  }
}
</script>
