<template>
  <div>
    <q-item
    clickable
    @click="log"
    class="shadow-2 q-mb-sm text-grey-9 bg-white"
  >
    <q-item-section
      avatar
      class="q-ml-sm"
    >
      <q-icon :color="color"  size="md" :name="icon" />
    </q-item-section>
    <q-item-section exact>
      <q-item-label>
        <span>
            {{label}}
           <div class="q-py-sm">
           </div>
           <!-- {{data.complaint}} -->
          <span>{{data.created_at}}</span>
        </span>
      </q-item-label>
    </q-item-section>
  </q-item>
  </div>
</template>

<script>
export default {
  props: {
    link: {
      type: String
    },
    label: {
      type: String
    },
    data: {
      type: Object
    },
    sender: {
      type: String
    },
    icon: {
      type: String
    },
    color: {
      type: String
    }
  },
  data () {
    return {
      counter: 0
    }
  },

  methods: {
    log () {
      console.log(this.data)
    },
    startCounting () {
      this.timer = setInterval(() => {
        this.counter++
      }, 1000)
    },

    stopCounting () {
      clearInterval(this.timer)
    }
  },

  beforeDestroy () {
    this.stopCounting()
  }
}
</script>
