<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 700px; max-width: 80vw;">
          <q-card-section align="right">
              <q-btn @click="cancel" icon="close"/>
          </q-card-section>
          <q-card-section align="center">
            <SelectStation @close="cancel" :mapbtnlabel="mapbtnlabel" :selected.sync="station" @submit="submitStation"/>
          </q-card-section>
      </q-card>
    </q-dialog>
</div>
</template>
<script>
import SelectStation from '../mobile/Components/SelectStationComponent'
export default {
  name: 'PassToStationComponent',
  components: { SelectStation },
  props: {
    processReportMarkers: {
      type: Array
    },
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },

  data () {
    return {
      mapbtnlabel: 'submit',
      slide: 0,
      setMapCenter: [],
      station: {}
    }
  },
  methods: {

    cancel () {
      this.$emit('close')
    },
    submitStation (e) {
      e = this.station
      this.$emit('submitStation', e)
    }
  },
  created () {

  }
}
</script>
