<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 500px; max-width: 80vw;">
        <q-card-section>
            {{data}}
        </q-card-section>
        <q-card-actions align="center">
          <q-btn @click="close" color="grey-8" label="Close" />
          <q-btn @click="PrintForm" color="indigo-8" label="print" />
        </q-card-actions>
      </q-card>
    </q-dialog>
</div>
</template>

<script>
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ViewComplaintPage',
  components: {},
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },
  data () {
    return {
      image: {},
      account: account
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    PrintForm () {
      this.$emit('PrintForm')
    }
  },
  created () {
    // this.location()
  }
}
</script>
