<template>
  <div class="">
    <q-table
      dense
      :filter="filter"
      :loading="loading"
      :title="title"
      :data="data"
      :columns="columns"
      row-key="id"
      color="amber"
      table-header-class="text-bold text-grey-9 text-uppercase"
      table-class="text-grey-8"
      class="shadow-0 q-mx-sm"
    >
    <template v-slot:loading>
      <q-inner-loading showing color="indigo" />
    </template>
    <template v-slot:top-left>
    </template>
    <template v-slot:top-right>
      <q-input filled style="width:100%" debounce="300" color="indigo" v-model="filter" placeholder="Search">
        <template v-slot:append>
          <q-icon name="search" ></q-icon>
        </template>
      </q-input>
    </template>
    <template v-slot:body-cell-action="props">
      <q-td :props="props">
        <template v-if="togglestatusButton">
          <q-toggle
            size="lg"
            color="indigo-8"
            checked-icon="visibility"
            unchecked-icon="visibility_off"
            v-on:input="props.row.status,updateStatus(props.row)"
            v-model="props.row.status"
          />
        </template>
        <template>
          <q-btn color="white" class="q-ma-xs" text-color="black" label="VIEW" v-on:click="editEvent(props.row)" />
          <q-btn  v-if="enableAction" color="white" class="q-ma-xs" text-color="black" label="remove" v-on:click="deleteEvent(props.row)"/>
        </template>

        <!--NOTE: this is just my ref for toggle  -->
        <!-- <q-btn-toggle
          v-if="account.user_type === 'superadmin'"
          v-on:click="updateStatus(props.row)"
          v-model="props.row.isActive"
          toggle-color="green-8"
          :options="[
            {label: 'Inactive', value: 'inactive'},
            {label: 'Active', value: 'active'}
          ]"
        /> -->
        <template>
          <q-btn-toggle
            v-if="togglebutton"
            :readonly="props.row.status === togglevalue ? false : true "
            v-on:click="toggled(props.row)"
            v-model="props.row.status"
            :toggle-color="btncolor"
            :options="[
              {label: togglelabel, value: togglevalue},
            ]"
          />
        </template>
        <template>
          <q-toggle
            size="lg"
            color="indigo-8"
            checked-icon="shield"
            unchecked-icon="remove_moderator"
            v-if="account.user_type === 'superadmin' && admintoggle"

            v-on:input="props.row.isActive,updateStatus(props.row)"
            v-model="props.row.isActive"
          />
        </template>
      </q-td>
    </template>
    </q-table>
  </div>
</template>
<script>
var account = JSON.parse(localStorage.getItem('user'))
// import Category from '../mobile/Components/ComplaintCategory'
export default {
  name: 'TablePage',
  // components: { Category },
  data () {
    return {
      account: account,
      filter: '',
      counter: 0
    }
  },
  props: {
    columns: {
      type: Array,
      default: function () {
        return []
      }
    },
    data: {
      type: Array,
      default: function () {
        return []
      }
    },
    admintoggle: {
      type: Boolean,
      default: true
    },
    togglebutton: {
      type: Boolean,
      default: false
    },
    togglestatusButton: {
      type: Boolean,
      default: false
    },
    btncolor: {
      type: String,
      default: 'white'
    },
    // readonly: {
    //   type: Boolean,
    //   default: true
    // },
    togglelabel: {
      type: String,
      default: 'toogle'
    },
    togglevalue: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    enableAction: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    buttonClick () {
    },
    updateStatus (e) {
      this.$emit('updateStatus', e)
    },
    toggled (e) {
      this.$emit('toggled', e)
    },
    editEvent (e) {
      this.$emit('toggleEdit', e) // pass back to parent
    },
    deleteEvent (e) {
      this.$emit('toggleDelete', e) // pass back to parent
    }
  },

  created () {
    if (this.data.length > 0) {
      return this.data
    }
  }
}
</script>
