<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 500px; max-width: 80vw;">
        <q-card-section>
          <div v-for="respondent in data.respondent" :key="respondent.id">
            <q-card :disabled="respondent.investigation_statement === null ? true : false" class="q-my-md">
              <!-- <div class="text-right q-px-xs">
                <q-icon clickable size="sm" color="indigo-8" name="place">
                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                        add location
                    </q-popup-proxy>
                  </q-icon>
                  <div class="text-grey text-caption">
                    <q-icon name="place" />
                    location
                  </div>
              </div> -->
              <q-item>
                <q-item-section avatar>
                  <q-avatar>
                    <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <div class="text-subtitle2 text-uppercase">{{respondent.user.first_name}} {{respondent.user.middle_name}} {{respondent.user.last_name}}</div>
                  <small>{{respondent.user.rank}}</small>
                </q-item-section>
              </q-item>
              <q-separator/>
              <div class="q-pa-sm">
                 <small>respondent feedback of the case</small>
              </div>
                <span>
                  <q-icon size="sm" class="q-pa-sm" color="indigo-8" name="feedback"></q-icon>
                  {{respondent.investigation_statement}}
                </span>
            </q-card>
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <q-btn @click="close" color="grey-8" label="Close" />
          <q-btn @click="SendCertification" color="indigo-8" label="Okay" />
        </q-card-actions>
      </q-card>
    </q-dialog>
</div>
</template>

<script>

var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ViewComplaintPage',
  components: { },
  props: {
    iconReport: {
      type: Array
    },
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },
  data () {
    return {
      image: {},
      account: account,
      setMapCenter: []
    }
  },
  methods: {
    location () {
      this.setMapCenter = [this.data.latitude, this.data.longitude]
      console.log(this.setMapCenter)
    },
    close () {
      this.$emit('close')
    },
    SendCertification () {
      this.$emit('SendCertification')
    }
  },
  created () {
    // this.location()
    console.log(this.data)
  }
}
</script>
