<template>
  <div>
    <q-dialog id="content" v-model="show" persistent maximized>
        <q-card class="text-uppercase">
            <div class="text-right">
                <q-btn @click="close" class="q-ma-xs" icon="close"/>
            </div>
            <div class="text-center">
               <div class="text-h5">
                    {{data.station !== undefined ? data.station.station_name : ''}}
               </div>
               <span> {{data.station !== undefined ? data.station.station_location : ''}}</span>
            </div>
            <q-card-section >
                <!-- {{data}} -->
                <div class="row justify shadow-2" v-for="data in data.ItemA" :key="data.id">
                    <div class="col-3 border">
                        <div class="col-3 border">
                            {{data.entry_number}}
                            <q-input
                                :value="data.blotter_entry_number"
                                square outlined
                                dense
                                readonly
                                label="BLOTTER ENTRY NUMBER"
                            />
                            <q-input
                                readonly
                                square outlined
                                :value="data.type_of_incident"
                                dense
                                label="TYPE OF INCIDENT"
                            />
                        </div>
                    </div>
                    <div class="col-9 border">
                        <div class="text-center q-pa-none">
                            <div class="text-h5 text-bold">INCIDENT RECORD FORM</div>
                        </div>
                    </div>
                    <div class="col-12 border q-pa-xs">
                        <span> INSTRUCTIONS:</span>
                    </div>
                    <div class="col-3 border">
                        <q-input
                            readonly
                            square outlined
                            :value="data.date_time_reported"
                            dense
                            label="DATE AND TIME REPORTED"
                        />
                    </div>
                    <div class="col-3 border">
                        <q-input
                            readonly
                            :value="data.date_time_incident"
                            square outlined
                            dense
                            label="DATE AND TIME OF INCIDENT"
                        />
                    </div>
                    <div class="col-6 bg-grey-4">
                        <div class="text-center">
                            <div class="text-h6">
                                ITEM "A" REPORTING PERSON
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.family_name"
                            square outlined
                            dense
                            label="FAMILY NAME"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.last_name"
                            square outlined
                            dense
                            label="FIRST NAME"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.middle_name"
                            square outlined
                            dense
                            label="MIDDLE NAME"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.qualifier"
                            square outlined
                            dense
                            label="QUALIFIER"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.nickname"
                            square outlined
                            dense
                            label="NICKNAME"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.citizen"
                            square outlined
                            dense
                            label="CITIZENSHIP"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.gender"
                            square outlined
                            dense
                            label="GENDER"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.status"
                            square outlined
                            dense
                            label="STATUS"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.date_of_birth"
                            square outlined
                            dense
                            label="DATE OF BIRTH"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.age"
                            type="number"
                            square outlined
                            dense
                            label="AGE"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.place_of_birth"
                            square outlined
                            dense
                            label="PLACE OF BIRTH"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.phone"
                            type="number"
                            square outlined
                            dense
                            label="PHONE NUMBER"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.mobile"
                            type="number"
                            square outlined
                            dense
                            label="MOBILE NUMBER"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.current_home"
                            square outlined
                            dense
                            label="CURRENT ADDRESS(HOME NUMBER/SREET)"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.current_sitio"
                            square outlined
                            dense
                            label="VILLAGE/SITIO"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.current_barangay"
                            square outlined
                            dense
                            label="BARANGAY"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.current_town"
                            square outlined
                            dense
                            label="TOWN/CITY"
                        />
                    </div>
                     <div class="col-2">
                        <q-input
                            readonly
                            :value="data.current_province"
                            square outlined
                            dense
                            label="PROVINCE"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.other_home"
                            square outlined
                            dense
                            label="OTHER ADDRESS(HOME NUMBER/SREET)"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.other_sitio"
                            square outlined
                            dense
                            label="VILLAGE/SITIO"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.other_barangay"
                            square outlined
                            dense
                            label="BARANGAY"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.other_town"
                            square outlined
                            dense
                            label="TOWN/CITY"
                        />
                    </div>
                     <div class="col-2">
                        <q-input
                            readonly
                            :value="data.other_province"
                            square outlined
                            dense
                            label="PROVINCE"
                        />
                    </div>
                    <div class="col-4">
                        <q-input
                            readonly
                            :value="data.highest_education"
                            square outlined
                            dense
                            label="HIGHEST EDUCATION ATTAINMENT"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.occupation"
                            square outlined
                            dense
                            label="OCCUPATION"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.id_presented"
                            square outlined
                            dense
                            label="ID CARD PRESENTED"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.email"
                            square outlined
                            dense
                            label="EMAIL ADDRESS (if Any)"
                        />
                    </div>
                </div>

                <div class="row justify shadow-2 q-my-sm"  v-for="(data, index) in data.ItemB" :key="index.id">
                    <div class="col-12 bg-grey-4">
                        <div class="text-h6 text-center">
                            ITEM "B" SUSPECT {{index + 1}} DATA
                        </div>
                    </div>
                     <div class="col-12 border q-pa-xs">
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.family_name"
                            square outlined
                            dense
                            label="FAMILY NAME"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.last_name"
                            square outlined
                            dense
                            label="FIRST NAME"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.middle_name"
                            square outlined
                            dense
                            label="MIDDLE NAME"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.qualifier"
                            square outlined
                            dense
                            label="QUALIFIER"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.nickname"
                            square outlined
                            dense
                            label="NICKNAME"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.citizen"
                            square outlined
                            dense
                            label="CITIZENSHIP"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.gender"
                            square outlined
                            dense
                            label="GENDER"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.status"
                            square outlined
                            dense
                            label="STATUS"
                        />
                    </div>
                     <div class="col-2">
                        <q-input
                            readonly
                            :value="data.date_of_birth"
                            square outlined
                            dense
                            label="DATE OF BIRTH"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.age"
                            square outlined
                            dense
                            label="AGE"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.place_of_birth"
                            square outlined
                            dense
                            label="PLACE OF BIRTH"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.phone"
                            type="number"
                            square outlined
                            dense
                            label="PHONE NUMBER"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.mobile"
                            type="number"
                            square outlined
                            dense
                            label="MOBILE NUMBER"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.current_home"
                            square outlined
                            dense
                            label="CURRENT ADDRESS(HOME NUMBER/SREET)"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.current_sitio"
                            square outlined
                            dense
                            label="VILLAGE/SITIO"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.current_barangay"
                            square outlined
                            dense
                            label="BARANGAY"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.current_town"
                            square outlined
                            dense
                            label="TOWN/CITY"
                        />
                    </div>
                     <div class="col-2">
                        <q-input
                            readonly
                            :value="data.current_province"
                            square outlined
                            dense
                            label="PROVINCE"
                        />
                    </div>
                     <div class="col-3">
                        <q-input
                            readonly
                            :value="data.other_home"
                            square outlined
                            dense
                            label="OTHER ADDRESS(HOME NUMBER/SREET)"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.other_sitio"
                            square outlined
                            dense
                            label="VILLAGE/SITIO"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.other_barangay"
                            square outlined
                            dense
                            label="BARANGAY"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.other_town"
                            square outlined
                            dense
                            label="TOWN/CITY"
                        />
                    </div>
                     <div class="col-2">
                        <q-input
                            readonly
                            :value="data.other_province"
                            square outlined
                            dense
                            label="PROVINCE"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.highest_education"
                            square outlined
                            dense
                            label="HIGHEST EDUCATION ATTAINMENT"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.occupation"
                            square outlined
                            dense
                            label="OCCUPATION"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                             readonly
                            :value="data.work_address"
                            square outlined
                            dense
                            label="WORK ADDRESS"
                        />
                    </div>
                     <div class="col-2">
                        <q-input
                            readonly
                            :value="data.relation_to_victim"
                            square outlined
                            dense
                            label="RELATION TO VICTIM"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.email"
                            type="email"
                            square outlined
                            dense
                            label="EMAIL ADDRESS (if Any)"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.personel_rank"
                            square outlined
                            dense
                            label="IF AFP/PNP PERSONEL RANK"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.unit_assignment"
                            square outlined
                            dense
                            label="UNIT ASSIGNMENT"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.group_affiliation"
                            square outlined
                            dense
                            label="GROUP AFFILIATION"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.previous_criminal_record"
                            square outlined
                            dense
                            label="WITH PREVIOUS CRIMINAL RECORD (if yes pls spesify)"
                        />
                    </div>
                     <div class="col-2">
                        <q-input
                            readonly
                            :value="data.status_of_previous_case"
                            square outlined
                            dense
                            label="STATUS OF PREVIOUS CASE"
                        />
                    </div><div class="col-1">
                        <q-input
                            readonly
                            :value="data.height"
                            type="number"
                            square outlined
                            dense
                            label="HEIGHT"
                        />
                    </div>
                     <div class="col-1">
                        <q-input
                            readonly
                            :value="data.weight"
                            type="number"
                            square outlined
                            dense
                            label="WEIGHT"
                        />
                    </div>
                     <div class="col">
                        <q-input
                            readonly
                            :value="data.color_of_eye"
                            square outlined
                            dense
                            label="COLOR OF EYES"
                        />
                    </div>
                    <div class="col">
                        <q-input
                            readonly
                            :value="data.desc_eye"
                            square outlined
                            dense
                            label="DISCRIPTION OF EYES"
                        />
                    </div>
                     <div class="col">
                        <q-input
                            readonly
                            :value="data.color_hair"
                            square outlined
                            dense
                            label="COLOR OF HAIR"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.desc_of_hair"
                            square outlined
                            dense
                            label="DESCRIPTION OF HAIR"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.under_influence_of"
                            square outlined
                            dense
                            label="DESCRIPTION OF HAIR"
                        />
                    </div>
                </div>
                <!----->
                <div class="row justify shadow-2" v-for="data in data.childrenconflicts" :key="data.id">
                   <div class="col-12 bg-grey-4">
                        <div class="text-h6 text-center">
                            FOR CHILDREN IN CONFLICT WITH THE LAW
                        </div>
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.name_of_guardian"
                            square outlined
                            dense
                            label="NAME OF GUARDIAN"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.guardian_address"
                            square outlined
                            dense
                            label="GUARDIAN ADDRESS"
                        />
                    </div>
                     <div class="col-3">
                        <q-input
                            readonly
                            :value="data.phone"
                            square outlined
                            dense
                            label="HOME PHONE"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.mobile"
                            square outlined
                            dense
                            label="MOBILE PHONE"
                        />
                    </div>
                    <div class="col-12">
                        <q-input
                            readonly
                            :value="data.deversion"
                            square outlined
                            dense
                            label="DEVERSION MECHANISM"
                        />
                    </div>
                    <div class="col-12">
                        <div class="text-grey-7 q-pa-sm">
                            OTHER DISTINGUISING FEATURE
                            (DISCRIBE IN DATAILS, CLOTHES, VEHICLE, SUNGLASSES, WEAPON/S SCARS, AND OTHER DATA ACTIVITY OF THE SUSPECT/S WHICH WARE
                            OBSERVED BY THE REPORTING PERSON/S AND/OR WITNESS/ES TO IDENTIFY THE SUSPECT/S.  THESE ARE IMPORTANT AND MAY BECOME EVIDENCE TO.
                            IDENTIFY, AND LINK TO THE CRIME, THE SUSPECT/S USE ADDITIONAL SHEET/S NECESSARY.
                            )
                        </div>
                        <q-input
                            readonly
                            :value="data.distinguising"
                            type="textarea"
                            square outlined
                            dense
                        />
                    </div>
                </div>

                <!--  -->
                <div class="row justify shadow-2" v-for="data in data.Incidentreciepts" :key="data.id">
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.blotter_entry"
                            square outlined
                            dense
                            label="BLOTTER ENTRY NUMBER"
                        />
                    </div>
                    <div class="col-9 bg-grey-4">
                        <div class="text-center">
                            <div class="text-h6">
                            INCIDENT RECORD TRANSACTION RECIEPT
                            </div>
                        </div>
                    </div>
                     <div class="col-3 bg-grey-4 border">
                        <div class="text-center">
                            <div class="q-pt-sm">THIS CERTIFIES THAT</div>
                        </div>
                    </div>
                    <div class="col-5">
                        <q-input
                            readonly
                            :value="data.name_of_reporting"
                            square outlined
                            dense
                            label="NAME OF REPORTING PERSON"
                        />
                    </div>
                    <div class="col-4">
                        <q-input
                            readonly
                            :value="data.address_reporting"
                            square outlined
                            dense
                            label="ADDRESS OF REPORTING PERSON"
                        />
                    </div>
                     <div class="col-3">
                        <div class="q-pl-xs q-pt-xs bg-grey-4" style="font-size:86%">
                            <small class="text-bold q-pt-sm">
                                REPORTED AN INCIDENT TO BE
                                RECORDED IN THE POLICE BLOTTER
                                WHICH INVOLVES
                            </small>
                        </div>
                        <div class="text-center">
                            <q-input
                                readonly
                                :value="data.date_report"
                                square outlined
                                dense
                                label="DATE/TIME OF REPORT"
                            />
                        </div>
                    </div>
                     <div class="col-5">
                        <div class="row">
                            <div class="col-12">
                                <q-input
                                    readonly
                                    :value="data.type_incident"
                                    square outlined
                                    dense
                                    label="TYPE OF INCIDENT"
                                />
                            </div>
                            <div class="col-6">
                                <q-input
                                    readonly
                                    :value="data.date_incident"
                                    square outlined
                                    dense
                                    label="DATE/TIME OF INCIDENT"
                                />
                            </div>
                            <div class="col-6">
                                <q-input
                                    readonly
                                    :value="data.place_incident"
                                    square outlined
                                    dense
                                    label="PLACE OF INCIDENT"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-3 bg-grey-4" style="height:80px">
                                <div class="text-center q-pa-xs">
                                    <small>
                                        AND RECORDED BY
                                    </small>
                                </div>
                            </div>
                            <div class="col-9">
                                <q-input
                                    readonly
                                    :value="data.desk_officer"
                                    style="height:80px"
                                    type="textarea"
                                    square outlined
                                    dense
                                    label="RANK/NAME/SIGNATURE OF DESK OFFICER"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify shadow-2 q-my-sm" v-for="(data, index) in data.ItemC " :key="index.id">
                    <div class="col-12 bg-grey-4">
                        <div class="text-center">
                            <div class="text-right">
                            </div>
                            <div class="text-h6">
                                ITEM "C" VICTIM {{index + 1}} DATA
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.family_name"
                            square outlined
                            dense
                            label="FAMILY NAME"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.last_name"
                            square outlined
                            dense
                            label="FIRST NAME"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.middle_name"
                            square outlined
                            dense
                            label="MIDDLE NAME"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.qualifier"
                            square outlined
                            dense
                            label="QUALIFIER"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.nickname"
                            square outlined
                            dense
                            label="NICKNAME"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.citizen"
                            square outlined
                            dense
                            label="CITIZENSHIP"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.gender"
                            dense
                            label="GENDER"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                           :value="data.status"
                            square outlined
                            dense
                            label="STATUS"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.date_of_birth"
                            square outlined
                            dense
                            label="DATE OF BIRTH"
                        />
                    </div>
                    <div class="col-1">
                        <q-input
                            readonly
                            :value="data.age"
                            type="number"
                            square outlined
                            dense
                            label="AGE"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.place_of_birth"
                            square outlined
                            dense
                            label="PLACE OF BIRTH"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.phone"
                            type="number"
                            square outlined
                            dense
                            label="HOME PHONE"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.mobile"
                            type="number"
                            square outlined
                            dense
                            label="MOBILE NUMBER"
                        />
                    </div>
                                        <div class="col-3">
                        <q-input
                            readonly
                            :value="data.current_home"
                            square outlined
                            dense
                            label="CURRENT ADDRESS(HOME NUMBER/SREET)"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.current_sitio"
                            square outlined
                            dense
                            label="VILLAGE/SITIO"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.current_barangay"
                            square outlined
                            dense
                            label="BARANGAY"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.current_town"
                            square outlined
                            dense
                            label="TOWN/CITY"
                        />
                    </div>
                     <div class="col-2">
                        <q-input
                            readonly
                            :value="data.current_province"
                            square outlined
                            dense
                            label="PROVINCE"
                        />
                    </div>
                     <div class="col-3">
                        <q-input
                            readonly
                            :value="data.other_home"
                            square outlined
                            dense
                            label="OTHER ADDRESS(HOME NUMBER/SREET)"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.other_sitio"
                            square outlined
                            dense
                            label="VILLAGE/SITIO"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.other_barangay"
                            square outlined
                            dense
                            label="BARANGAY"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.other_town"
                            square outlined
                            dense
                            label="TOWN/CITY"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.other_province"
                            square outlined
                            dense
                            label="PROVINCE"
                        />
                    </div>
                    <div class="col-4">
                        <q-input
                            readonly
                            :value="data.highest_education"
                            square outlined
                            dense
                            label="HIGHEST EDUCATION ATTAINMENT"
                        />
                    </div>
                    <div class="col-2">
                        <q-input
                            readonly
                            :value="data.occupation"
                            square outlined
                            dense
                            label="OCCUPATION"
                        />
                    </div>
                    <div class="col-3">
                        <q-input
                            readonly
                            :value="data.work_address"
                            square outlined
                            dense
                            label="WORK ADDRESS"
                        />
                    </div>
                     <div class="col-3">
                        <q-input
                            readonly
                            :value="data.email"
                            square outlined
                            dense
                            label="EMAIL ADDRESS (if Any)"
                        />
                    </div>
                </div>
                <div class="row justify shadow-2" v-for="data in data.ItemD" :key="data.id">
                    <div class="col-12 bg-grey-4">
                        <div class="text-h6 text-center">
                        ITEM "D" NARRATIVE OF INCIDENT
                        </div>
                    </div>
                    <div class="col-3">
                    <q-input
                        readonly
                        :value="data.blotter_entry_number"
                        square outlined
                        dense
                        label="BLOTTER ENTRY NUMBER"
                    />
                </div>
                <div class="col-3">
                    <q-input
                        readonly
                        :value="data.type_of_incident"
                        square outlined
                        dense
                        label="TYPE OF INCIDENT"
                    />
                </div>
                 <div class="col-3">
                    <q-input
                        readonly
                        :value="data.time"
                        square outlined
                        dense
                        label="TIME"
                    />
                </div>
                 <div class="col-3">
                    <q-input
                        readonly
                        :value="data.date"
                        square outlined
                        dense
                        label="DATE"
                    />
                </div>
                <div class="col-12">
                    <q-input
                        readonly
                        :value="data.place_of_incident"
                        square outlined
                        dense
                        label="PLACE OF INCIDENT"
                    />
                </div>
                <div class="col-12">
                    <div class="text-grey-7 q-pa-sm">
                        ENTER IN DETAIL THE NARRATIVE OF THE INCIDENT OR EVENT, ANSWERING THE WHO, WHEN, WHERE, WHY OF REPORTING (USE ADDITIONAL SHEET/S IF NECESSARY)
                    </div>
                        <q-input
                            readonly
                            :value="data.narrative_of_incident"
                            type="textarea"
                            square outlined
                            dense
                        />
                </div>
                <div class="col-12 bg-grey-4 ">
                    <div class="text-h6 text-center">
                    AUTHENTICATION
                    </div>
                </div>
                <div class="col-4 bg-grey-3">
                    <div class="text-center q-pt-md q-px-xs" style="font-size:86%">
                        <span>
                            I HEREBY CERTIFY TO THE CONNECTNESS OF THE FOREGOING
                            TO THE BEST OF MY KNOWLEDGE AND  BELIEF
                        </span>
                    </div>
                </div>
                <div class="col-4">
                    <q-input
                        readonly
                        :value="data.reporting_person"
                        style="height:100px"
                        type="textarea"
                        square outlined
                        dense
                        label="NAME/SIGNATURE OF REPORTING PERSON"
                    />
                </div>
                <div class="col-4">
                    <q-input
                        readonly
                        :value="data.desk_offiicer"
                        style="height:100px"
                        type="textarea"
                        square outlined
                        dense
                        label="NAME/SIGNATURE OF DESK OFFICER"
                    />
                </div>
                <div class="col-12 bg-grey-4">
                    <div class="text-h6 text-center">
                    CASE DISPOSITION (For Chief/Head of Office Use Only)
                    </div>
                </div>
                <div class="col-4">
                    <q-input
                        readonly
                        :value="data.chief_instructions"
                        square outlined
                        label="CHIEF OF STATION/OFFICE INSTRUCTIONS"
                    />
                </div>
                <div class="col-4">
                    <q-input
                        readonly
                        :value="data.name_of_investigator"
                        square outlined
                        label="NAME OF DESIGNATED INVESTIGATOR-ON-CASE"
                    />
                </div>
                <div class="col-4">
                    <q-input
                        readonly
                        :value="data.name_of_chief"
                        square outlined
                        label="NAME OF CHIEF OF STATION/OFFICE"
                    />
                </div>
            </div>
            <!--  -->
            </q-card-section>
           <div class="text-center q-pb-md">
                <q-btn color="indigo-8" @click="print">Print</q-btn>
           </div>
        </q-card>
    </q-dialog>
  </div>
</template>

<script>
// import { Printd } from 'printd'
export default {
  name: 'ViewBlotterComponents',
  props: {
    data: {
      type: Object
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    print () {
      window.print()
    //   const print = new Printd()
    //   print.print(document.getElementById('content'))
    }
  }
}
</script>
