<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 700px; max-width: 80vw;">
        <q-card-section class="q-pt-none">
          <div class="text-caption text-grey-8">
            <q-timeline color="indigo-8">
              <q-timeline-entry
                title="REPORTED BY"
                :subtitle="data.contact_number"
                :body="data.first_name + ' ' + data.middle_name + ' ' + data.last_name"
              />
              <q-timeline-entry
                title="DATE AND TIME"
                 icon="calendar_today"
                :body="data.created_at"
              />
              <q-timeline-entry
                title="INCIDENT"
                icon="warning"
                :body="data.incident_name"
              />
              <q-timeline-entry
                title="INCIDENT IMAGES"
                icon="photo_camera"
              >
                <q-carousel
                  animated
                  v-model="slide"
                  arrows
                  navigation
                  infinite
                  height="300px"
                  width="300px"
                >
                  <q-carousel-slide v-for="i in data.incident_evid" :name="data.incident_evid.indexOf(i)" :key="data.incident_evid.indexOf(i)" :img-src="i" />
                </q-carousel>
              </q-timeline-entry>

              <q-timeline-entry
                title="LOCATION"
                icon="person_pin"
                body=""
              >
                <div class="text-right">
                   <q-btn class="q-my-xs"  icon="location_pin" color="indigo-8" @click="location()">Get Report Location</q-btn>
                </div>
                <Map :setCenter="setMapCenter" :reportIncidentMarkers="iconReport"/>
              </q-timeline-entry>
              <!-- <q-timeline-entry
                title="INCIDENT STATEMENT"
                icon="record_voice_over"
                :body="data.Incident_statement == null ? 'No Statement..' :  data.Incident_statement"
              /> -->
            </q-timeline>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-actions align="center">
          <q-btn @click="cancel" color="grey-8" label="Close" />
          <q-btn v-show="data.status_desc !=='For Respond'" @click="makeAction" color="indigo-8" :label="account.user_type === 'barangay_admin' ? 'assign barangay official': 'assign police official' " />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Map from '../mobile/Components/Map'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ViewIncidentPage',
  components: { Map },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    iconReport: {
      type: Array
    },
    data: {
      type: Object
    }
  },
  data () {
    return {
      account: account,
      slide: 0,
      setMapCenter: []
    }
  },
  methods: {
    location () {
      this.setMapCenter = [this.data.latitude, this.data.longitude]
      console.log(this.setMapCenter)
      if (this.setMapCenter === ['0', '0']) {
        this.$q.notify({
          color: 'negative',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'No Coordinates Found! Please check your Location!'
        })
      }
    },
    cancel () {
      this.$emit('cancel')
    },
    makeAction () {
      this.$emit('makeAction')
    }
  }
}
</script>
