<template>
  <div>
     <q-card  style="width: 500px;height:100%">
        <q-card-section>
          <Map :setCenter="setMapCenter" :respondedtMarkers="iconResponded" />
        </q-card-section>
     </q-card>
  </div>
</template>

<script>
import Map from '../mobile/Components/Map'
export default {
  name: 'InvestigationMap',
  components: { Map },
  props: {
    setMapCenter: {
      type: Array
    },
    iconResponded: {
      type: Array
    }
  }
}
</script>
