<template>
  <div>
    <div class="bg-white q-pa-lg q-mx-md" v-if="visibility == true">
      <form>
        <q-timeline color="indigo-8">
          <q-timeline-entry
            class="text-uppercase"
            :title="data.user_type"
            :subtitle="data.rank"
            icon="title"
          >
            <div class="bg-white  shadow-1">
              <!-- <img width="183px" height="183px" :src="data.image"> -->
            </div>
            <q-select
              v-if="account.user_type !== 'superadmin'"
              filled
              v-model="data.rank"
              :options="ranks"
              option-value="rank"
              hint=""
              label="Select Police rank"
            />
          </q-timeline-entry>
          <q-timeline-entry
            class="text-uppercase"
            title="NAME"
            :subtitle="'USERNAME - ' + data.username"
            icon="person"
          >
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 q-mx-xs">
                <q-input
                  :disable="disable"
                  filled
                  type="text"
                  v-model="data.first_name"
                  label="First Name"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                  required
                />
              </div>
              <div class="col-12 col-sm-4 col-md-3 col-lg-4 q-mx-xs">
                <q-input
                  :disable="disable"
                  filled
                  type="text"
                  v-model="data.middle_name"
                  label="Middle Name"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                  required
                />
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 q-mx-xs">
                <q-input
                    :disable="disable"
                    filled
                    type="text"
                    v-model="data.last_name"
                    label="Last Name"
                    lazy-rules
                    :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                    required
                  />
            </div>
            </div>
          </q-timeline-entry>
          <q-timeline-entry
            class="text-uppercase"
            title="CONTACT NUMBER"
            icon="phone"
          >
            <div class="q-mx-xs">
              <q-input
                  :disable="disable"
                  filled
                  type="number"
                  v-model="data.contact_number"
                  label="Contact Number"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                  required
                />
            </div>
          </q-timeline-entry>
          <q-timeline-entry
            class="text-uppercase"
            title="CHANGE DATA"
            subtitle="UPDATE BUTTON"
            icon="smart_button"
          >
            <q-btn @click="updateEvent" color="indigo-8" label="Update" class="q-ml-sm" />
          </q-timeline-entry>
        </q-timeline>
      </form>
    </div>
    <!-- show when loading -->
    <div  class="bg-white q-pa-lg q-mx-md" v-else>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-6 q-mb-sm">
          <div class="bg-white text-center shadow-1">
            <q-skeleton height="183px" square animation="fade"/>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 q-my-sm">
            <q-skeleton type="QInput" square animation="fade"/>
        </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 q-my-sm">
            <q-skeleton type="QInput" square animation="fade"/>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 q-my-sm">
            <q-skeleton type="QInput" square animation="fade"/>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 q-my-sm">
            <q-skeleton type="QInput" square animation="fade"/>
        </div>
        <q-skeleton type="QBtn" square animation="fade"/>
      </div>
    </div>
  </div>
</template>
<script>
import rank from '../Commons/rank'
import title from '../Commons/title'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ProfilePage',
  components: {},
  props: {
    data: {
      type: Object,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      visibility: false,
      account: account,
      disable: false,
      ranks: account.user_type === 'barangay_admin' ? title : rank
    }
  },
  methods: {
    updateEvent () {
      this.$emit('updateEvent')
    }
  },
  created () {
    setTimeout(() => {
      this.visibility = true
    }, 3000)
  }
}
</script>
