<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 700px; max-width: 80vw;">
        <q-card-section >
            <ForConfirmationComplaintCcard :data="data"/>
        </q-card-section>
        <q-separator />
        <q-card-actions align="center">
          <q-btn @click="close" color="grey-8" label="Close" />
          <!-- <q-btn @click="makeAction" color="indigo-8" label="SEND BLOTTER CERTIFICATION" /> -->
        </q-card-actions>
      </q-card>
    </q-dialog>
</div>
</template>
<script>
import ForConfirmationComplaintCcard from '../components/CertificateCard'
export default {
  name: 'ViewComplaintPage',
  components: { ForConfirmationComplaintCcard },
  props: {
    processReportMarkers: {
      type: Array
    },
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },

  data () {
    return {
      slide: 0,
      setMapCenter: []
    }
  },
  methods: {
    location () {
      this.setMapCenter = [this.data.latitude, this.data.longitude]
      console.log(this.setMapCenter)
    },
    close () {
      this.$emit('close')
    }
    // makeAction () {
    //   this.$emit('makeAction')
    // }
  },
  created () {

  }
}
</script>
