<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 700px; max-width: 80vw;">
          <div class="text-right q-ma-xs">
             <q-btn @click="cancel" color="indigo-8" icon="close" />
          </div>
        <q-card-section class="q-pt-none">
          <div class="text-caption text-grey-8">
            <q-timeline color="indigo-8" class="text-uppercase">
              <q-timeline-entry
                icon="face"
              >
                <q-avatar size="90px">
                  <img :src="data.user_image" alt="">
                </q-avatar>
              </q-timeline-entry>
              <q-timeline-entry
                title="COMPLAINANT"
                icon="person"
                :subtitle="data.contact_number"
                :body="data.first_name + ' ' + data.middle_name + ' ' + data.last_name"
              />
              <q-timeline-entry
                title="REPORTED DATE AND TIME"
                 icon="calendar_today"
                :body="data.created_at"
              />
              <q-timeline-entry
                title="COMPLAINT"
                icon="sentiment_dissatisfied"
                :body="data.complaint_type"
              />
              <q-timeline-entry
                title="LOCATION"
                icon="person_pin"
                body=""
              >
              <div class="text-right">
                 <q-btn class="q-my-xs"  icon="location_pin" color="indigo-8" @click="location()">Get Report Location</q-btn>
              </div>
              <Map :setCenter="setMapCenter" :reportMarkers="iconReport"/>
              </q-timeline-entry>
              <q-timeline-entry
                v-if="data.complaint_type !=='Citizen Arrest'"
                title="ACCUSED PERSON"
                icon="sports_kabaddi"
                :body="data.complaint_accuse_person == '' ? 'Not Known' : data.complaint_accuse_person"
              />
              <q-timeline-entry
                v-if="data.complaint_type !=='Citizen Arrest'"
                title="COMPLAINT STATEMENT"
                icon="record_voice_over"
                :body="data.complaint_statement == null ? 'No Statement..' :  data.complaint_statement"
              />
              <q-timeline-entry
                title="COMPLAINT EVIDENCES"
                icon="photo_camera"
              >
                <q-carousel
                  animated
                  v-model="slide"
                  arrows
                  navigation
                  infinite
                  height="300px"
                  width="300px"
                >
                  <q-carousel-slide v-for="i in data.complaint_evid" :name="data.complaint_evid.indexOf(i)" :key="data.complaint_evid.indexOf(i)" :img-src="i" />

                </q-carousel>
              </q-timeline-entry>
            </q-timeline>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-actions align="center">
          <q-btn @click="reject" v-show="data.status !=='Rejected' && data.complaint_type !=='Citizen Arrest'"  color="red-5" label="Reject" />
          <q-btn v-show="btnshow" @click="setAppointment" color="indigo-8" label="set appointment" />
          <q-btn v-show="btnshow2"  @click="passToStation" color="indigo-8" label="pass to other Institution" />
          <q-btn v-show="btnshow3" @click="makeAction" color="indigo-8" :label="account.user_type === 'barangay_admin' ? 'assign barangay official': 'assign police official' " />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <PassToStation @close="close" :show="pass_to_station_dialog" @submitStation="submitStation" />
</div>
</template>

<script>
import PassToStation from '../components/PassToStation'
import Map from '../mobile/Components/Map'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ViewComplaintPage',
  components: { Map, PassToStation },
  props: {
    btnshow3: {
      type: Boolean,
      default: false
    },
    btnshow2: {
      type: Boolean,
      default: false
    },
    btnshow: {
      type: Boolean,
      default: false
    },
    iconReport: {
      type: Array
    },
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },
  data () {
    return {
      slide: 0,
      image: {},
      station: {},
      account: account,
      pass_to_station_dialog: false,
      setMapCenter: []
    }
  },
  methods: {
    location () {
      this.setMapCenter = [this.data.latitude, this.data.longitude]
      console.log(this.setMapCenter)
      if (this.setMapCenter === ['0', '0']) {
        this.$q.notify({
          color: 'negative',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'No Coordinates Found! Please check your Location!'
        })
      }
    },
    close () {
      this.pass_to_station_dialog = false
    },
    cancel () {
      this.$emit('cancel')
    },
    reject () {
      this.$emit('reject')
    },
    makeAction () {
      this.$emit('makeAction')
    },
    setAppointment () {
      this.$emit('setAppointment')
    },
    passToStation () {
      this.pass_to_station_dialog = true
    },
    // this send
    submitStation (e) {
      this.pass_to_station_dialog = false
      // console.log(e)
      // console.log(this.data)
      this.$emit('submitStation', e)
    }
  },
  created () {
    // this.location()
    console.log(this.data)
  }
}
</script>
