<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 500px; max-width: 40vw;">
        <div class="text-right q-pa-xs">
          <q-btn @click="cancel" color="grey-8" icon="close"/>
          <!-- <q-btn @click="makeAction" color="indigo-8" label="SEND BLOTTER CERTIFICATION" /> -->
        </div>
        <q-card-section class="q-pt-none">
          <div class="text-caption text-grey">
            <q-timeline color="indigo-8">
              <q-timeline-entry
                title="BUSTER PHOTO"
                icon="photo_camera"
              >
                <q-carousel
                  animated
                  v-model="slide"
                  arrows
                  navigation
                  infinite
                  height="300px"
                  width="300px"
                >
                  <q-carousel-slide v-for="i in data.user_image" :name="data.user_image.indexOf(i)" :key="data.user_image.indexOf(i)" :img-src="i" />
                </q-carousel>
                <!-- <q-avatar size="140px">
                  <img :src="data.user_image" alt="">
                </q-avatar> -->
              </q-timeline-entry>
              <q-timeline-entry
                class="text-uppercase"
                :title="'USERNAME: ' + data.username"
                icon="person"
                :subtitle="data.contact_number"
                :body="'NAME: '+data.first_name + ' ' + data.middle_name + ' ' + data.last_name"
              />
            </q-timeline>
          </div>
        </q-card-section>
        <q-separator />

      </q-card>
    </q-dialog>
</div>
</template>

<script>
export default {
  name: 'ViewBuster',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },

  data () {
    return {
      slide: 0,
      setMapCenter: []
    }
  },
  methods: {
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>
