<template>
  <div >
    <q-dialog v-model="show" persistent>
      <q-card class="my-card" style="width: 700px; max-width: 80vw;">
        <q-card-section class="q-pt-none">
          <div class="text-caption text-grey">
            <q-timeline color="teal-8">
              <q-timeline-entry
                title="COMPLAINANT"
                :subtitle="data.contact_number"
                :body="data.first_name + ' ' + data.middle_name + ' ' + data.last_name"
              />
              <q-timeline-entry
                title="DATE AND TIME"
                 icon="calendar_today"
                :body="data.created_at"
              />
              <q-timeline-entry
                title="COMPLAINT"
                icon="sentiment_dissatisfied"
                :body="data.complaint_type"
              />
              <q-timeline-entry
                title="LOCATION"
                icon="person_pin"
                body=""
              >
              <div class="text-right">
                <q-btn class="q-my-xs" icon="location_pin" color="teal-8" @click="location()">Get Report Location</q-btn>
              </div>
              <Map :setCenter="setMapCenter" :processReportMarkers="processReportMarkers"/>
              </q-timeline-entry>
              <q-timeline-entry
                title="ACCUSED PERSON"
                icon="sports_kabaddi"
                :body="data.complaint_accuse_person == '' ? 'Not Known' : data.complaint_accuse_person"
              />
              <q-timeline-entry
                title="COMPLAINT STATEMENT"
                icon="record_voice_over"
                :body="data.complaint_statement == null ? 'No Statement..' :  data.complaint_statement"
              />
              <q-timeline-entry
                title="COMPLAINT EVIDENCES"
                icon="photo_camera"
              >
                <q-carousel
                  animated
                  v-model="slide"
                  arrows
                  navigation
                  infinite
                  height="300px"
                  width="300px"
                >
                  <q-carousel-slide v-for="i in data.complaint_evid" :name="data.complaint_evid.indexOf(i)" :key="data.complaint_evid.indexOf(i)" :img-src="i" />
                </q-carousel>
              </q-timeline-entry>
               <q-timeline-entry
                title="RESPONDENT"
                icon="group"
              >
              <!-- {{data.respondent}} -->
              <div v-for="respondent in data.respondent" :key="respondent.id" v-bind="respondent">
                <!-- {{respondent.user.first_name}} -->
                <q-chip size="md" class="bg-grey-2" square>
                  <q-avatar>
                    <!-- <img :src="JSON.parse(respondent.image)"> -->
                  </q-avatar>
                  <span class="text-uppercase">{{respondent.user.first_name}} {{respondent.user.middle_name}} {{respondent.user.last_name}}</span> <br>
                 </q-chip>
                 <br>
                    <span>Contact Number: {{respondent.user.contact_number}}</span>
                  <br>
                <small>{{respondent.user.rank}}</small>
              </div>
               </q-timeline-entry>
            </q-timeline>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-actions align="right">
          <q-btn @click="cancel" color="grey-8" label="Close" />
          <!-- <q-btn @click="makeAction" color="indigo-8" label="SEND BLOTTER CERTIFICATION" /> -->
          <q-btn  flat color="indigo-8" round icon="message" />
        </q-card-actions>
      </q-card>
    </q-dialog>
</div>
</template>

<script>
import Map from '../mobile/Components/Map'
export default {
  name: 'ViewComplaintPage',
  components: { Map },
  props: {
    processReportMarkers: {
      type: Array
    },
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object
    }
  },

  data () {
    return {
      slide: 0,
      setMapCenter: []
    }
  },
  methods: {
    location () {
      this.setMapCenter = [this.data.latitude, this.data.longitude]
      console.log(this.setMapCenter)
    },
    cancel () {
      this.$emit('cancel')
    }
    // makeAction () {
    //   this.$emit('makeAction')
    // }
  },
  created () {

  }
}
</script>
