<template>
  <div class="">
    <div class="row">
      <div class="col-10">
        <div class="bg-white">
          <!-- <img class="q-pa-none" style="width:10em" src="/images/undraw_warning_cyit (1).png" alt=""> -->
        </div>
      </div>
      <div class="col-2">
        <div class="bg-white"> </div>
      </div>
      <div class="col-12">
        <div class="bg-white">
         <Table
            :title=title
            :data=incidentList
            :columns=columns
            :enableAction=enableAction
            :togglestatusButton="togglestatusButton"
            @toggleEdit= showEdit
            @updateStatus="updateStatus"
          />
          <ViewIncident
            :show="show_dialog"
            :data="incident"
            @cancel="cancel"
            @makeAction="makeAction"
            :iconReport="iconReport"
          />
          <MakeAction
            :data="user"
            :show="action_dialog"
            @close="cancel"
            @assign="assign"
            :selected.sync="selected"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import MakeAction from '../../components/makeAction'
import ViewIncident from '../../components/viewIncident'
import Table from 'components/Tables'
import { showAllUserByType } from '../../Graphql/query/user'
import { getIncident, UpdateStatus, UpdateStatusDesc } from '../../Graphql/query/incident'
import { saveActivity } from '../../Graphql/query/respondent_activity'
import moment from 'moment'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'IncidentPage',
  components: { Table, ViewIncident, MakeAction },
  data () {
    return {
      title: 'REPORTED INCIDENT',
      action_dialog: false,
      show_dialog: false,
      incidentList: [],
      incident: {},
      account: account,
      selected: [],
      user: [],
      iconReport: [],
      togglestatusButton: true,
      enableAction: false,
      columns: [
        {
          name: 'incident_title',
          required: true,
          label: 'INCIDENT TYPE',
          align: 'left',
          field: row => row.incident_name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'reporter_last_name', align: 'center', label: 'Reported', field: row => row.first_name + ' ' + row.middle_name + ' ' + row.last_name, sortable: true },
        { name: 'reporter_username', align: 'center', label: 'Username', field: 'username', sortable: true },
        { name: 'contact_number', align: 'center', label: 'Contact', field: 'contact_number', sortable: true },
        { name: 'status', align: 'center', label: 'Status', field: 'status_desc', sortable: true },
        { name: 'time', align: 'center', label: 'Reported Date and Time', field: 'created_at', sortable: true },
        { name: 'action', align: 'center', label: '', field: 'action' }

      ]
    }
  },
  created () {
    this.getincident()
    this.showUser()
  },
  methods: {
    async showUser () {
      const { data } = await this.$apollo.query({
        query: showAllUserByType,
        variables: {
          station_id: account.station_id,
          user_type: account.user_type === 'barangay_admin' ? 'barangay_member' : 'police'
        },
        fetchPolicy: 'network-only'
      })
      this.user = data.users.map(user => {
        if (typeof user.image !== 'object') {
          user.image = JSON.parse(user.image)
        }
        return user
      })
    }, //
    // assign member/police
    assign () {
      this.assigning()
    },
    assigning () {
      console.log(this.selected)
      this.selected.forEach(async element => {
        const variables = {
          user_id: element,
          complaint_id: null,
          incident_id: this.incident.id,
          station_id: account.station_id
        }
        const { data } = await this.$apollo.mutate({
          mutation: saveActivity,
          variables
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          return error
        })
        if (data) {
          this.cancel()
          this.updateStatusDesc(this.incident.id)
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Assign Successfully!'
          })
        }
        this.getincident()
        console.log(variables)
      })
    },
    makeAction () {
      this.action_dialog = true
    },
    async updateStatusDesc (id) {
      const { data } = await this.$apollo.mutate({
        mutation: UpdateStatusDesc,
        variables: {
          id: id,
          status_desc: 'For Respond'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      return data
    },
    async updateStatus (e) {
      const { data } = await this.$apollo.mutate({
        mutation: UpdateStatus,
        variables: {
          id: e.id,
          status: e.status
        }
      })
      if (data) {
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: e.status === true ? 'Incident Content Publish in public' : 'Incident Content is hidden'
        })
      }
    },
    cancel () {
      this.show_dialog = false
      this.action_dialog = false
    },
    // async showDeleteMessage () {
    //   this.$q.notify({
    //     color: 'negative',
    //     textColor: 'white',
    //     icon: 'check_circle',
    //     position: 'top',
    //     message: 'Cant be Deleted!'
    //   })
    // },
    showEdit (e) {
      this.incident = e
      this.show_dialog = true
    },
    async getincident () {
      const { data } = await this.$apollo.query({
        query: getIncident,
        variables: {
          station_id: this.account.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.incident.length > 0) {
        this.incidentList = data.incident.map((incident) => {
          const user = incident.user
          const incidentdata = {
            id: incident.id,
            incident_desc: incident.incident_desc,
            // i put this condition to avoid the (VM182455:1 Uncaught (in promise) SyntaxError: Unexpected end of JSON input) error
            incident_evid: typeof incident.incident_evid !== 'object' ? JSON.parse(incident.incident_evid) : '',
            incident_name: incident.incident_name,
            incident_type: incident.incident_type,
            longitude: incident.longitude,
            latitude: incident.latitude,
            status_desc: incident.status_desc,
            status: incident.status,
            created_at: typeof incident.created_at !== 'object' ? moment(incident.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            first_name: user.first_name,
            image: user.image,
            last_name: user.last_name,
            username: user.username,
            middle_name: user.middle_name,
            contact_number: user.contact_number
          }
          return incidentdata
        })
        this.iconReport = data.incident.map((incident) => {
          if (incident.latitude != null && incident.longitude != null) {
            return [incident.latitude, incident.longitude]
          }
        })
      }
    } //
  }
}
</script>
