<template>
  <div class="">
    <template>
      <div class="row q-pa-sm">
        <q-btn
          color="indigo-8"
          size="sm"
          class=""
          label="add police official"
          @click="dialog = true"
          icon="group_add"
        >
          <q-tooltip
            content-class="bg-indigo-8"
            content-style="font-size:.9em"
            :offset="[10, 10]"
            transition-show="scale"
            transition-hide="scale"
            >
            ADD POLICE
          </q-tooltip>
        </q-btn>
      </div>
    </template>
    <q-dialog v-model="dialog" persistent>
      <q-card  style="width: 400px">
        <q-card-section>
          <div class="text-h6 text-grey">ADD POLICE
            <q-btn class="float-right" color="indigo-8" icon="close" v-close-popup />
          </div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <form
            class="q-gutter-md"
          >
            <q-stepper
              class="shadow-0 q-mx-xl"
              v-model="step"
              ref="stepper"
              animated
              contracted
              done-color="green-6"
              active-color="indigo-8"
              inactive-color="grey"
            >
              <q-step
                title="member_name"
                :name="1"
                icon="account_box"
                :done="step > 1"
              >
              <q-input
                filled
                type="text"
                v-model="data.first_name"
                label="First Name"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                required
              />
              <q-input
                filled
                type="text"
                v-model="data.middle_name"
                label="Middle Name"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                required
              />
              <q-input
                filled
                type="text"
                v-model="data.last_name"
                label="Last Name"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                 required
              />
              <q-input
                v-model="data.contact_number"
                label="Contact Number"
                filled
                type="number"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please type something']"
                 required
              />
               <q-stepper-navigation>
                  <q-btn @click="data['first_name'] && data['middle_name']  && data['last_name']  && data['contact_number'] ? step = 2 : BlankError()" color="indigo-8" label="continue" />
                </q-stepper-navigation>
              </q-step>

            <q-step
              title="member_info"
              :name="2"
              icon="account_box"
              :done="step > 2"
            >
              <!-- <q-select
                filled
                emit-value
                map-options
                v-model="data.department"
                option-value="id"
                option-label="dep_name"
                label="Select Department"
                :options="departments"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              >
                <template v-slot:option="scope">
                  <q-item
                    v-bind="scope.itemProps"
                    v-on="scope.itemEvents"
                  >
                    <q-item-section avatar>
                      <q-icon name="shield" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label v-html="scope.opt.dep_name" />
                      <q-item-label caption>Total Member: {{ scope.opt.count}}</q-item-label>
                    </q-item-section>
                  </q-item>
                </template>
              </q-select> -->
               <q-select
                filled
                v-model="data.rank"
                :options="ranks"
                option-value="rank"
                hint=""
                label="Select Police Rank"
              />
              <q-select
                filled
                v-model="data.role"
                :options="role"
                option-value="rank"
                hint=""
                label="Select Office Role"
              />
              <q-input
                filled
                type="text"
                v-model="data.birthday"
                label="Date Of Birth"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                required
              >
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-card class="fixed-center">
                  <q-date
                    :title="data.first_name + ' ' + data.last_name"
                    subtitle="Birthday"
                    v-model="data.birthday"
                    today-btn
                    color="indigo-8"
                    mask="dddd, MMM D, YYYY"
                  >
                  <q-btn  label="OK" color="indigo-8" flat v-close-popup />
                  </q-date>
                  </q-card>
                </q-popup-proxy>
              </q-input>
              <div class=" q-mb-md q-pa-sm bg-grey-3">
                <q-icon color="grey-8" name="face" size="2em"></q-icon>
                <q-radio v-model="data.gender" size="md" val="Male" label="Male" color="indigo-8" />
                <q-radio v-model="data.gender" size="md" val="Female" label="Female" color="indigo-8" />
              </div>
                <q-stepper-navigation>
                  <q-btn class="q-ml-sm" @click=" data['birthday']  && data['rank']  && data['gender']  ? step = 3 : BlankError()" color="indigo-8" label="Continue" />
                  <q-btn flat @click="step = 1" color="indigo-8" label="Back" class="q-ml-sm" />
                </q-stepper-navigation>
            </q-step>
            <q-step
              title="account_info"
              :name="3"
              icon="person_pin"
              :done="step > 3"
            >
              <q-input
                filled
                type="text"
                v-model="data.username"
                label="Username"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                required
              />
              <q-input
                filled
                type="password"
                v-model="data.password"
                label="Password"
                lazy-rules
                :rules="[
                  val => val !== null && val !== '' || 'Please type your password',
                  val => val.length > 8 && val.length < 100 || 'please input more than 8 character'
                ]"
              />
              <q-input
                filled
                type="password"
                v-model="data.confirm_password"
                label="Confirm Password"
                lazy-rules
                :rules="[
                  val => val !== null && val !== '' || 'Please type your password',
                  val => val.length > 8 && val.length < 100 || 'please input more than 8 character'
                ]"
              />
                <q-stepper-navigation>
                  <q-btn
                    class="q-ml-sm"
                    color="indigo-8"
                    label="Continue"
                    @click=" data['username'] && data['password']  && data['confirm_password']
                    ?data.password === data.confirm_password? data['password'].length < 8 && data['confirm_password'].length < 8 ? PassLengthError(): step = 4 : PassError() : BlankError()"
                  />
                  <!-- PassLengthError -->
                  <q-btn flat @click="step = 2" color="indigo-8" label="Back" class="q-ml-sm" />
                </q-stepper-navigation>
            </q-step>
            <q-step
              title="user_image"
              :name="4"
              icon="image"
              :done="step > 4"
            >
              <center>
                <div class="q-ma-md">
                  <ImageUploaderVue :uploaderLabel="uploaderLabel" :imageUrl.sync="data.userimage" :maxFile="1"/>
                </div>
              </center>
                <q-stepper-navigation>
                  <q-btn class="q-ml-sm" :color="data['userimage'] ? 'green-8' : 'indigo-8'" :disable="data['userimage'] ? false : true " @click="data['userimage'] ?  addPolice() : BlankError()"  label="Add POLICE" />
                  <q-btn flat @click="step = 3" color="indigo-8" label="Back" class="q-ml-sm" />
                </q-stepper-navigation>
            </q-step>
            </q-stepper>
          </form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import policeRole from '../../Commons/role'
import ImageUploaderVue from '../../mobile/Components/ImageUploader'
import policeRank from '../../Commons/rank'
export default {
  name: 'AddMemberPage',
  components: { ImageUploaderVue },
  props: {
    departments: {
      type: Array
    }
  },
  data () {
    return {
      uploaderLabel: 'Upload Police photo',
      dialog: false,
      step: 1,
      role: policeRole,
      ranks: policeRank,
      data: []
    }
  },
  methods: {
    addPolice (e) {
      this.step = 1
      this.dialog = false
      e = this.data
      this.$emit('addPolice', e)
      this.data = []
    },
    test (e) {
      e = this.data
      this.$emit('test', e)
    },
    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Please fill up All input fields'
      })
    },
    PassLengthError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Password Must Be 8 characters and More!'
      })
    },
    PassError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Password Not Matched!'
      })
    }
  }
}
</script>
