<template>
  <div class="q-mx-sm">
    <div class="row">
      <div class="col-10">
        <div class="">
           <!-- <img class="q-pa-none" style="width:12em" src="/images/undraw_Add_friends_wa2a.png" alt=""> -->
        </div>
      </div>
      <div class="col-2">
        <div class="bg-white q-pa-xs">
           <AddPolice
              @addPolice="addPolice"
              :departments="departments"
            />
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white">
          <div class="text-h6">LIST OF POLICE MEMBER</div>
          <Table
            :loading="loading"
            :title=title
            :data=userList
            :columns=columns
            enableAction: enableAction
            @toggleDelete= showDeleteMessage
            @toggleEdit= showEdit
            @updateStatus="updateStatus"
            :togglestatusButton="togglestatusButton"
          />
          <ViewPolice
            :show="show_dialog"
            :data="user"
            @updatePoliceEvent="updatePoliceEvent"
            @close_dialog="close_dialog"
          />
        </div>
      </div>
      <div class="col-12">
      </div>
    </div>
  </div>
</template>

<script>
import API from '../../API/api-endpoint.js'
import ViewPolice from './viewPolice'
import Table from 'components/Tables'
import AddPolice from './addPolice'
import { showDepartment } from '../../Graphql/query/department'
import { showPoliceUser, deleteUser, updateUser, addUser, updateUserStatus } from '../../Graphql/query/user'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'PolicePage',
  components: { Table, AddPolice, ViewPolice },
  action: null,
  data () {
    return {
      title: 'List of Police',
      userList: [],
      departments: [],
      checkDepartment: '',
      loading: false,
      enableAction: true,
      togglestatusButton: true,
      show_dialog: false,
      // user: {} this must be an object initial value
      user: {},
      columns: [
        {
          name: 'username',
          required: true,
          label: 'Username',
          align: 'left',
          field: row => row.username,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'name', align: 'left', label: 'Full Name', field: row => row.first_name + ' ' + row.middle_name + ' ' + row.last_name, sortable: true },
        { name: 'gender', align: 'left', label: 'Gender', field: 'gender', sortable: true },
        { name: 'contact_numer', align: 'left', label: 'Contacts', field: 'contact_number', sortable: true },
        { name: 'rank', align: 'left', label: 'Rank', field: 'rank', sortable: true },
        { name: 'role', align: 'left', label: 'Office Role', field: 'role', sortable: true },
        { name: 'action', align: 'left', label: '', field: 'action' }

      ]
    }
  },

  methods: {
    async updateStatus (e) {
      console.log(e)
      const { data } = await this.$apollo.mutate({
        mutation: updateUserStatus,
        variables: {
          id: e.id,
          status: e.status
        }
      })
      if (data) {
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: e.status === true ? 'Account is Active' : 'Account is Disabled'
        })
      }
    },
    // not in use
    async showDepartment () {
      const { data } = await this.$apollo.query({
        query: showDepartment,
        variables: {
          station_id: account.station_id
        }
      })
      if (data.department.length > 0) {
        this.departments = data.department.map((department) => {
          const count = department.users_aggregate.aggregate
          const departmentData = {
            id: department.id,
            dep_name: department.dep_name,
            count: count.count
          }
          return departmentData
        })
      }
    },
    close_dialog () {
      this.show_dialog = false
    },
    async showPolice () {
      const { data } = await this.$apollo.query({
        query: showPoliceUser,
        variables: {
          station_id: account.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.users.length > 0) {
        this.userList = data.users.map((user) => {
          // const department = user.department
          const userdata = {
            id: user.id,
            first_name: user.first_name,
            middle_name: user.middle_name,
            last_name: user.last_name,
            username: user.username,
            gender: user.gender,
            role: user.role,
            status: user.status,
            image: typeof user.image !== 'object' ? user.image = JSON.parse(user.image) : '',
            contact_number: user.contact_number,
            rank: user.rank
            // department_id: department === null ? 'Not Assign' : user.department.id,
            // department_name: department === null ? '' : user.department.dep_name
          }
          return userdata
        })
      }
    },
    updatePoliceEvent () {
      this.updatePolice()
      this.show_dialog = false
    },
    async updatePolice () {
      // this.$q.loading.show()
      this.loading = true
      const variables = {
        id: this.user.id,
        first_name: this.user.first_name,
        middle_name: this.user.middle_name,
        last_name: this.user.last_name,
        rank: this.user.rank,
        contact_number: this.user.contact_number,
        role: this.user.role
        // dep_id: this.user.department_name !== this.checkDepartment && this.user.department_name !== '' ? this.user.department_name : this.user.department_name === '' ? this.user.department_name = null : this.user.department_name = this.user.department_id
      }
      const { data } = await this.$apollo.mutate({
        mutation: updateUser, variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.loading = false
        // this.$q.loading.hide()
        return error
      })
      // console.log(data)
      // console.log(data.update_users.returning[0].department.dep_name)
      if (data) {
        this.showPolice()
        // this.loading = true
        // this.$q.loading.hide()
        // setTimeout(() => {
        this.loading = false
        // location.reload()
        // }, 1800)
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Police Updated Successfully!'
        })
      }
    },

    async showDeleteMessage (e) {
      const confirm = window.confirm('Are you sure to delete this acccount?')
      if (confirm) {
        // this.$q.loading.show()
        this.loading = true
        const { data } = await this.$apollo.mutate({
          mutation: deleteUser,
          variables: {
            id: e.id
          }
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          this.$q.loading.hide()
          return error
        })
        if (data) {
          this.showPolice()

          // this.$q.loading.hide()
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Successfully Deleted'
          })
          // setTimeout(() => {
          this.loading = false
          // location.reload()
          // }, 1800)
        }
        console.log(data)
        return data
      }
    },

    showEdit (e) {
      this.user = e
      // this.checkDepartment = e.department_name
      this.show_dialog = true
    },

    async addPolice (e) {
      // this.$q.loading.show()
      this.loading = true
      var newpass = {
        password: e.password
      }
      var hash = await API.hashpassword(newpass)
      const { data } = await this.$apollo.mutate({
        mutation: addUser,
        variables: {
          first_name: e.first_name,
          middle_name: e.middle_name,
          last_name: e.last_name,
          rank: e.rank,
          role: e.role,
          user_type: 'police',
          station_id: account.station_id,
          username: e.username,
          password: hash.data.data,
          birthday: e.birthday,
          // dep_id: e.department === null ? 0 : e.department,
          gender: e.gender,
          contact_number: e.contact_number,
          image: JSON.stringify(e.userimage)
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.loading = false
        this.$q.loading.hide()
        return error
      })
      if (data) {
        this.showPolice()

        // this.$q.loading.hide()
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Police Added Successfully!'
        })
        // setTimeout(() => {
        this.loading = false
        // location.reload()
        // }, 1800)
        // const inserted = {
        //   // getting the new user inserted
        //   id: data.insert_users.returning[0].id,
        //   first_name: e.first_name,
        //   middle_name: e.middle_name,
        //   last_name: e.last_name,
        //   rank: e.rank,
        //   station_id: account.station_id,
        //   username: e.username,
        //   password: hash.data.data,
        //   birthday: e.birthday,
        //   gender: e.gender,
        //   contact_number: e.contact_number,
        //   image: e.userimage,
        //   // need to debug here issue cant accpet null
        //   department_name: data.insert_users.returning[0].department !== null ? 'Not Assign' : data.insert_users.returning[0].department.dep_name
        // }
        // this.userList.push(inserted)
        // push the actually date to table variable
      }
      return data
    },
    test (e) {
      // console.log(e)
    }
  },
  created () {
    this.showPolice()
    this.showDepartment()
  }
}
</script>
