<template>
  <div>
    <q-dialog v-model="show" persistent>
      <q-card style="width: 400px">
        <div class="text-right q-pa-xs">
          <q-btn icon="close" color="indigo-8" @click="close_dialog"></q-btn>
        </div>
        <q-card-section>
          <div class="q-ml-lg">
            <q-avatar size="5em">
              <img :src="data.image">
            </q-avatar>
          </div>
          <form
            class="q-gutter-md"
          >
          <div class="text-caption text-grey-10">
            <q-timeline color="indigo-8">
              <q-timeline-entry
                :title="data.first_name + ' ' + data.middle_name + ' ' + data.last_name"
                subtitle="POLICE INFORMATION"
                :body="data.contact_number"
                icon="person"
              >
                <q-input
                  filled
                  type="text"
                  v-model="data.first_name"
                  label="First Name"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                  required
                />
                <q-input
                  filled
                  type="text"
                  v-model="data.middle_name"
                  label="Middle Name"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                  required
                />
                <q-input
                  filled
                  type="text"
                  v-model="data.last_name"
                  label="Last Name"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                  required
                />
                <q-input
                  filled
                  type="text"
                  v-model="data.contact_number"
                  label="Contact Number"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Textbox is Empty']"
                  required
                />
              </q-timeline-entry>
              <q-timeline-entry
                subtitle="USERNAME"
                :title="data.username"
                 icon="account_circle"
              >
              </q-timeline-entry>
              <q-timeline-entry
                subtitle="RANK"
                 :title="data.rank"
                 icon="local_police "
              >
                <q-select
                  filled
                  v-model="data.rank"
                  :options="ranks"
                  option-value="rank"
                  label="Select Rank "
                />
              </q-timeline-entry>
              <q-timeline-entry
                subtitle="OFFICE ROLE"
                 :title="data.role"
                 icon="badge"
              >
                <q-select
                  filled
                  v-model="data.role"
                  :options="roles"
                  option-value="role"
                  label="Select Office Role "
                />
              </q-timeline-entry>
              <!-- <q-timeline-entry
                subtitle="DEPARTMENT"
                 :title="data.department_name"
                 icon="apartment"
              >
                <q-toggle
                  label="Assign to Department"
                  v-model="disable"
                  checked-icon="check"
                  color="green"
                  unchecked-icon="clear"
                />
                <q-select
                  :disable=" disable ?  false : true"
                  filled
                  emit-value
                  map-options
                  v-model="data.department_name"
                  option-value="id"
                  option-label="dep_name"
                  label="Select Department"
                  :options="departments"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Please type something']"
                  >
                  <template v-slot:option="scope">
                    <q-item
                      v-bind="scope.itemProps"
                      v-on="scope.itemEvents"
                    >
                      <q-item-section avatar>
                        <q-icon name="shield" />
                      </q-item-section>
                      <q-item-section>
                        <q-item-label v-html="scope.opt.dep_name" />
                        <q-item-label caption>Total Member: {{ scope.opt.count}}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </q-timeline-entry> -->
            </q-timeline>
          </div>
          <q-card-actions align="center">
            <q-btn label="Update Police" @click="updatePoliceEvent" color="indigo-8" ></q-btn>
          </q-card-actions>
        </form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import policeRank from '../../Commons/rank.js'
import PoliceRole from '../../Commons/role.js'
import { showDepartment } from '../../Graphql/query/department'
var sid = JSON.parse(localStorage.getItem('user'))
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      default: function () {
        return []
      }
    }
  },
  name: 'ViewPolicePage',
  data () {
    return {
      disable: false,
      ranks: policeRank,
      roles: PoliceRole,
      departments: []
    }
  },

  methods: {
    updatePoliceEvent () {
      this.$emit('updatePoliceEvent')
    },
    close_dialog () {
      this.$emit('close_dialog')
    },
    async showDepartment () {
      const { data } = await this.$apollo.query({
        query: showDepartment,
        variables: {
          station_id: sid.station_id
        }
      })
      if (data.department.length > 0) {
        const d = data.department.map((department) => {
          const count = department.users_aggregate.aggregate
          const departmentData = {
            id: department.id,
            dep_name: department.dep_name,
            count: count.count
          }
          return departmentData
        })
        this.departments = d
      }
    }
  },
  created () {
    this.showDepartment()
  }
}
</script>
