<template>
  <div class="">
    <div class="row">
      <div class="col-12">
        <q-tabs
          align="justify"
          v-model="tab"
          class="text-grey-8"
          active-color="white"
          active-bg-color="indigo-5"
          indicator-color="transparent"
        >
          <q-tab class="shadow-4 q-ma-xs"  name="rejected">
            <span class="text-bold">
              <div class="text-subtitle2">Rejected
                <q-chip v-show="rejectedComplaint.length > 0" square size="md" class="shadow-2 btn">{{rejectedComplaint.length}}</q-chip>
              </div>
            </span>
          </q-tab>
          <q-tab class="shadow-4 q-ma-xs"  name="withdraw">
            <span class="text-bold">
              <div class="text-subtitle2">withdraw
                <q-chip v-show="withdrawComplaint.length > 0" square size="md" class="shadow-2 btn">{{withdrawComplaint.length}}</q-chip>
              </div>
            </span>
          </q-tab>
          <q-tab class="shadow-4 q-ma-xs" name="pending">
            <span class="text-bold">
              <div class="">Pending
                <q-chip v-show="peddingComplaint.length > 0" square size="md" class="shadow-2 btn">{{peddingComplaint.length}}</q-chip>
              </div>
            </span>
          </q-tab>
          <!-- <q-tab class="shadow-4 q-ma-xs"  name="onprocess">
            <span class="text-bold">
              <div class="">
                On Process
                <q-chip v-show="onProcessComplaint.length > 0" square size="md" class="shadow-2 btn">
                  {{onProcessComplaint.length}}
                </q-chip>
                <q-badge v-show="investigatedComplaint.length > 0" color="red" floating>{{investigatedComplaint.length}}</q-badge>
              </div>
            </span>
          </q-tab> -->
          <q-tab class="shadow-4 q-ma-xs"  name="confirmation">
            <span class="text-bold">
              <div class="">for confirmation
                <q-chip v-show="toAppointment.length > 0" square size="md" class="shadow-2 btn">{{toAppointment.length}}</q-chip>
              </div>
            </span>
          </q-tab>
          <q-tab class="shadow-4 q-ma-xs"  name="blotter">
            <span class="text-bold">
              <div class="">Ready For Blotter
                <q-chip v-show=" ConfirmedBlotter.length > 0" square size="md" class="shadow-2 btn">{{ConfirmedBlotter.length}}</q-chip>
              </div>
            </span>
          </q-tab>
        </q-tabs>
      </div>
    </div>
    <q-tab-panels v-model="tab" animated >
      <q-tab-panel  name="rejected"  >
        <RejectedComplaint :data="rejectedComplaint" :iconReport="iconReport"/>
      </q-tab-panel>
      <q-tab-panel  name="withdraw"  >
        <WithdrawComplaint :data="withdrawComplaint" :iconReport="iconReport"/>
      </q-tab-panel>
      <q-tab-panel  name="pending"  >
        <PendingComplaint :data="peddingComplaint" :iconReport="iconReport" @refresh="refresh"/>
      </q-tab-panel>
      <q-tab-panel name="onprocess">
        <!-- just leave hide this  -->
        <OnProcessedComplaint :data="onProcessComplaint" :processReportMarkers="processReportMarkers"/>
      </q-tab-panel>
      <q-tab-panel name="confirmation">
         <NeedConfirmation :data="toAppointment"/>
      </q-tab-panel>
      <q-tab-panel name="blotter">
        <ConfirmedBlotter :data="ConfirmedBlotter"/>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>
<script>
import ConfirmedBlotter from '../Complaint/confirmBlotter'
import { GetBlotter } from '../../Graphql/query/blotter'
import NeedConfirmation from '../Complaint/needConfirmationBlotter'
import WithdrawComplaint from '../Complaint/withdrawComplaint'
import PendingComplaint from './peddingComplaint'
import RejectedComplaint from './rejectedComplaint'
import OnProcessedComplaint from './onProcessedComplaint'
import { getComplaint, getComplaintOnProcessAndinvestigated } from '../../Graphql/query/complaint'
import moment from 'moment'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ComplaintTabsPage',
  components: { PendingComplaint, OnProcessedComplaint, WithdrawComplaint, NeedConfirmation, ConfirmedBlotter, RejectedComplaint },
  data () {
    return {
      tab: 'pending',
      withdrawComplaint: [],
      peddingComplaint: [],
      onProcessComplaint: [],
      rejectedComplaint: [],
      investigatedComplaint: [],
      iconReport: [],
      reportMarkers: [],
      processReportMarkers: [],
      // NeedConfirmationBlotter: [],
      toAppointment: [],
      ConfirmedBlotter: [],
      account: account
    }
  },
  created () {
    this.getPendingComplaint()
    this.getOnProcessAndInvestigatedComplaint()
    this.getInvestigatedComplaint()
    this.getWithdrawComplaint()
    this.getForAppointmentComplaint()
    // this.getBlotterNeedConfirmation()
    this.getConfrimedBlotter()
    this.getRejectedComplaint()
    this.refresh()
    // this.getToAppointmentComplaint()
  },
  methods: {
    refresh () {
      this.getPendingComplaint()
      this.getOnProcessAndInvestigatedComplaint()
      this.getInvestigatedComplaint()
      this.getWithdrawComplaint()
      this.getForAppointmentComplaint()
      this.getConfrimedBlotter()
    },
    async getConfrimedBlotter () {
      const { data } = await this.$apollo.query({
        query: GetBlotter,
        variables: {
          station_id: this.account.station_id,
          status: 'For Filling'
        },
        fetchPolicy: 'network-only'
      })
      if (data.blotter.length > 0) {
        this.ConfirmedBlotter = data.blotter.map((blotter) => {
          const user = blotter.user
          const respondent = blotter.complaint.respondent_activities
          const complaint = blotter.complaint
          // const prepared = blotter.userByPreparedById
          const station = blotter.station
          // const complaint = blotter.complaint
          const blotterData = {
            id: blotter.id,
            blotter: blotter,
            status: blotter.status,
            complaint: complaint,
            complaint_statement: complaint.complaint_statement,
            complaint_type: complaint.complaint_type,
            report_date: complaint.created_at !== undefined ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            respondent: respondent,
            created_at: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            from: typeof complaint.from !== 'object' ? moment(complaint.from).format('dddd, MMMM Do YYYY') : '',
            to: typeof complaint.to !== 'object' ? moment(complaint.to).format('dddd, MMMM Do YYYY') : '',
            blotter_date: typeof blotter.created_at !== 'object' ? moment(blotter.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            complaint_date: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            user: user,
            user_id: user.id,
            user_image: JSON.parse(user.image),
            first_name: user.first_name,
            last_name: user.last_name,
            username: user.username,
            middle_name: user.middle_name,
            contact_number: user.contact_number,
            // prepared: prepared,
            image: user.user_image,
            station: station
            // complaint: complaint
          }
          return blotterData
        })
      }
    },
    // async getBlotterNeedConfirmation () {
    //   const { data } = await this.$apollo.query({
    //     query: GetBlotter,
    //     variables: {
    //       station_id: account.station_id,
    //       status: 'For Confirmation'
    //     },
    //     fetchPolicy: 'network-only'
    //   })
    //   if (data.blotter.length > 0) {
    //     this.NeedConfirmationBlotter = data.blotter.map((blotter) => {
    //       const user = blotter.user
    //       const respondent = blotter.complaint.respondent_activities
    //       const complaint = blotter.complaint
    //       const prepared = blotter.userByPreparedById
    //       const station = blotter.station
    //       // const complaint = blotter.complaint
    //       const blotterData = {
    //         id: blotter.id,
    //         blotter: blotter,
    //         status: blotter.status,
    //         complaint: complaint,
    //         respondent: respondent,
    //         to: typeof blotter.from !== 'object' ? moment(blotter.to).format('dddd, MMMM Do YYYY') : '',
    //         from: typeof blotter.from !== 'object' ? moment(blotter.from).format('dddd, MMMM Do YYYY') : '',
    //         blotter_date: typeof blotter.created_at !== 'object' ? moment(blotter.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
    //         complaint_date: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
    //         user: user,
    //         prepared: prepared,
    //         station: station
    //         // complaint: complaint
    //       }
    //       return blotterData
    //     })
    //   }
    //   console.log(this.NeedConfirmationBlotter)
    // },
    // async getToAppointmentComplaint () {
    //   const { data } = await this.$apollo.query({
    //     query: getComplaint,
    //     variables: {
    //       station_id: account.station_id,
    //       status: 'For Appointment'
    //     },
    //     fetchPolicy: 'network-only'
    //   })
    //   if (data.complaint.length > 0) {
    //     this.toAppointment = data.complaint.map((complaint) => {
    //       // const station = complaint.station
    //       // const user = complaint.user
    //       // const respondent = complaint.respondent_activities
    //       // const appointment = complaint.appointments
    //       // const prepared = blotter.userByPreparedById
    //       const complaintdata = {
    //         // id: complaint.id,
    //         // latitude: complaint.latitude,
    //         // longitude: complaint.longitude,
    //         // complaint_statement: complaint.complaint_statement,
    //         // complaint_type: complaint.complaint_type,
    //         // respondent: respondent,
    //         // // appointment_from: appointment.from,
    //         // appointment: complaint.appointments.from,
    //         // // to: typeof appointment.to !== 'object' ? moment(appointment.to).format('dddd, MMMM D YYYY') : '',
    //         // // from: typeof appointment.form !== 'object' ? moment(appointment.form).format('dddd, MMMM D YYYY') : '',
    //         // // blotter_date: typeof blotter.created_at !== 'object' ? moment(blotter.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
    //         // /* Note: I put this condition (typeof)to avoid the (VM182455:1 Uncaught (in promise) SyntaxError: Unexpected end of JSON input) error

    //         // -> kay kung dili nimo butangan condition kay ig kung ma double
    //         // click nimo ang link  sa drawer tas mo click ka og lain link sa drawer nya ig
    //         // balik nimog click atong previews link kay mo triggered and error
    //         // -lojee :)
    //         // */
    //         // complaint_evid: typeof complaint.complaint_evid !== 'object' ? JSON.parse(complaint.complaint_evid) : '',
    //         // complaint_accuse_person: complaint.complaint_accuse_person,
    //         // status: complaint.status,
    //         // created_at: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
    //         // user_id: user.id,
    //         // first_name: user.first_name,
    //         // // image: typeof user.image !== 'object' ? user.image = JSON.parse(user.image) : '',
    //         // last_name: user.last_name,
    //         // username: user.username,
    //         // middle_name: user.middle_name,
    //         // contact_number: user.contact_number,
    //         // station_id: station.id,
    //         // station_name: station.station_name,
    //         // station_location: station.station_location,
    //         // station_logo: typeof station.station_logo !== 'object' ? JSON.parse(station.station_logo) : '',
    //         // station_type: station.station_type
    //         // user: user,
    //         // station: station,
    //         // complaint: complaint,
    //         // appointment: appointment
    //       }
    //       return complaintdata
    //     })
    //     this.iconReport = data.complaint.map((data) => {
    //       if (data.latitude != null && data.longitude != null) {
    //         return [data.latitude, data.longitude]
    //       }
    //     }).filter(function (coords) {
    //       return coords !== undefined
    //     })
    //     // console.log(this.peddingComplaint)
    //   }
    // },
    async getPendingComplaint () {
      const { data } = await this.$apollo.query({
        query: getComplaint,
        variables: {
          station_id: account.station_id,
          status: 'Pending'
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint instanceof Array) {
        this.peddingComplaint = data.complaint.map((complaint) => {
          const station = complaint.station
          const user = complaint.user
          const complaintdata = {
            id: complaint.id,
            latitude: complaint.latitude,
            longitude: complaint.longitude,
            complaint_statement: complaint.complaint_statement,
            complaint_type: complaint.complaint_type,
            /* Note: I put this condition (typeof)to avoid the (VM182455:1 Uncaught (in promise) SyntaxError: Unexpected end of JSON input) error

            -> kay kung dili nimo butangan condition kay ig kung ma double
            click nimo ang link  sa drawer tas mo click ka og lain link sa drawer nya ig
            balik nimog click atong previews link kay mo triggered and error
            -lojee :)
            */
            complaint_evid: typeof complaint.complaint_evid !== 'object' ? JSON.parse(complaint.complaint_evid) : '',
            complaint_accuse_person: complaint.complaint_accuse_person,
            status: complaint.status,
            created_at: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            user_id: user.id,
            first_name: user.first_name,
            // image: typeof user.image !== 'object' ? user.image = JSON.parse(user.image) : '',
            user_image: JSON.parse(user.image),
            isReported: user.isReported,
            last_name: user.last_name,
            username: user.username,
            middle_name: user.middle_name,
            contact_number: user.contact_number,
            station_id: station.id,
            station_name: station.station_name,
            station_location: station.station_location,
            station_logo: typeof station.station_logo !== 'object' ? JSON.parse(station.station_logo) : '',
            station_type: station.station_type
          }
          return complaintdata
        })
        this.iconReport = data.complaint.map((data) => {
          if (data.latitude != null && data.longitude != null) {
            return [data.latitude, data.longitude]
          }
        }).filter(function (coords) {
          return coords !== undefined
        })
        // console.log(this.peddingComplaint)
      }
    },
    async getRejectedComplaint () {
      const { data } = await this.$apollo.query({
        query: getComplaint,
        variables: {
          station_id: account.station_id,
          status: 'Rejected'
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.rejectedComplaint = data.complaint.map((complaint) => {
          const user = complaint.user
          const complaintdata = {
            id: complaint.id,
            latitude: complaint.latitude,
            longitude: complaint.longitude,
            complaint_statement: complaint.complaint_statement,
            complaint_type: complaint.complaint_type,
            /* Note: I put this condition (typeof)to avoid the (VM182455:1 Uncaught (in promise) SyntaxError: Unexpected end of JSON input) error

            -> kay kung dili nimo butangan condition kay ig kung ma double
            click nimo ang link  sa drawer tas mo click ka og lain link sa drawer nya ig
            balik nimog click atong previews link kay mo triggered and error
            -lojee :)
            */
            complaint_evid: typeof complaint.complaint_evid !== 'object' ? JSON.parse(complaint.complaint_evid) : '',
            complaint_accuse_person: complaint.complaint_accuse_person,
            status: complaint.status,
            created_at: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            user_id: user.id,
            user_image: JSON.parse(user.image),
            first_name: user.first_name,
            // image: typeof user.image !== 'object' ? user.image = JSON.parse(user.image) : '',
            last_name: user.last_name,
            username: user.username,
            middle_name: user.middle_name,
            contact_number: user.contact_number
          }
          return complaintdata
        })
        // this.iconReport = data.complaint.map((data) => {
        //   if (data.latitude != null && data.longitude != null) {
        //     return [data.latitude, data.longitude]
        //   }
        // }).filter(function (coords) {
        //   return coords !== undefined
        // })
        // console.log(this.peddingComplaint)
      }
    },
    async getWithdrawComplaint () {
      const { data } = await this.$apollo.query({
        query: getComplaint,
        variables: {
          station_id: account.station_id,
          status: 'Withdraw'
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.withdrawComplaint = data.complaint.map((complaint) => {
          const user = complaint.user
          const complaintdata = {
            id: complaint.id,
            latitude: complaint.latitude,
            longitude: complaint.longitude,
            complaint_statement: complaint.complaint_statement,
            complaint_type: complaint.complaint_type,
            /* Note: I put this condition (typeof)to avoid the (VM182455:1 Uncaught (in promise) SyntaxError: Unexpected end of JSON input) error

            -> kay kung dili nimo butangan condition kay ig kung ma double
            click nimo ang link  sa drawer tas mo click ka og lain link sa drawer nya ig
            balik nimog click atong previews link kay mo triggered and error
            -lojee :)
            */
            complaint_evid: typeof complaint.complaint_evid !== 'object' ? JSON.parse(complaint.complaint_evid) : '',
            complaint_accuse_person: complaint.complaint_accuse_person,
            status: complaint.status,
            created_at: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            user_id: user.id,
            user_image: JSON.parse(user.image),
            first_name: user.first_name,
            // image: typeof user.image !== 'object' ? user.image = JSON.parse(user.image) : '',
            last_name: user.last_name,
            username: user.username,
            middle_name: user.middle_name,
            contact_number: user.contact_number
          }
          return complaintdata
        })
        // this.iconReport = data.complaint.map((data) => {
        //   if (data.latitude != null && data.longitude != null) {
        //     return [data.latitude, data.longitude]
        //   }
        // }).filter(function (coords) {
        //   return coords !== undefined
        // })
        // console.log(this.peddingComplaint)
      }
    },
    // this is just count the investigated status complaint
    async getInvestigatedComplaint () {
      const { data } = await this.$apollo.query({
        query: getComplaint,
        variables: {
          station_id: account.station_id,
          status: 'Investigated'
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.investigatedComplaint = data.complaint.map((complaint) => {
          return complaint
        })
      }
    },
    async getOnProcessAndInvestigatedComplaint () {
      const { data } = await this.$apollo.query({
        query: getComplaintOnProcessAndinvestigated,
        variables: {
          station_id: account.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.onProcessComplaint = data.complaint.map((complaint) => {
          const respondent = complaint.respondent_activities
          const station = complaint.station
          const user = complaint.user
          const complaintdata = {
            id: complaint.id,
            latitude: complaint.latitude,
            longitude: complaint.longitude,
            complaint_statement: complaint.complaint_statement,
            complaint_type: complaint.complaint_type,
            complaint_status: complaint.status,
            /* Note: I put this condition (typeof)to avoid the (VM182455:1 Uncaught (in promise) SyntaxError: Unexpected end of JSON input) error

            -> kay kung dili nimo butangan condition kay ig kung ma double
            click nimo ang link  sa drawer tas mo click ka og lain link sa drawer nya ig
            balik nimog click atong previews link kay mo triggered and error
            -lojee :)
            */
            complaint_evid: typeof complaint.complaint_evid !== 'object' ? JSON.parse(complaint.complaint_evid) : '',
            complaint_accuse_person: complaint.complaint_accuse_person,
            status: complaint.status,
            created_at: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            user_id: user.id,
            first_name: user.first_name,
            // image: typeof user.image !== 'object' ? user.image = JSON.parse(user.image) : '',
            last_name: user.last_name,
            username: user.username,
            middle_name: user.middle_name,
            contact_number: user.contact_number,
            respondent: respondent,
            station_id: station.id,
            station_name: station.station_name,
            station_location: station.station_location,
            station_logo: typeof station.station_logo !== 'object' ? JSON.parse(station.station_logo) : '',
            station_type: station.station_type
          }
          return complaintdata
        })
        this.processReportMarkers = data.complaint.map((data) => {
          if (data.latitude != null && data.longitude != null) {
            return [data.latitude, data.longitude]
          }
        }).filter(function (coords) {
          return coords !== undefined
        })
      }
    },
    async getForAppointmentComplaint () {
      const { data } = await this.$apollo.query({
        query: getComplaint,
        variables: {
          station_id: account.station_id,
          status: 'For Appointment'
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.toAppointment = data.complaint.map((complaint) => {
          const respondent = complaint.respondent_activities
          const station = complaint.station
          const user = complaint.user
          const complaintdata = {
            id: complaint.id,
            latitude: complaint.latitude,
            longitude: complaint.longitude,
            complaint_statement: complaint.complaint_statement,
            complaint_type: complaint.complaint_type,
            complaint_status: complaint.status,
            /* Note: I put this condition (typeof)to avoid the (VM182455:1 Uncaught (in promise) SyntaxError: Unexpected end of JSON input) error

            -> kay kung dili nimo butangan condition kay ig kung ma double
            click nimo ang link  sa drawer tas mo click ka og lain link sa drawer nya ig
            balik nimog click atong previews link kay mo triggered and error
            -lojee :)
            */
            from: typeof complaint.from !== 'object' ? moment(complaint.from).format('dddd, MMMM Do YYYY') : '',
            to: typeof complaint.to !== 'object' ? moment(complaint.to).format('dddd, MMMM Do YYYY') : '',
            complaint_evid: typeof complaint.complaint_evid !== 'object' ? JSON.parse(complaint.complaint_evid) : '',
            complaint_accuse_person: complaint.complaint_accuse_person,
            status: complaint.status,
            created_at: typeof complaint.created_at !== 'object' ? moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            user_id: user.id,
            user_image: JSON.parse(user.image),
            first_name: user.first_name,
            last_name: user.last_name,
            username: user.username,
            middle_name: user.middle_name,
            contact_number: user.contact_number,
            respondent: respondent,
            station_id: station.id,
            station_name: station.station_name,
            station_location: station.station_location,
            station_logo: typeof station.station_logo !== 'object' ? JSON.parse(station.station_logo) : '',
            station_type: station.station_type
          }
          return complaintdata
        })
        this.processReportMarkers = data.complaint.map((data) => {
          if (data.latitude != null && data.longitude != null) {
            return [data.latitude, data.longitude]
          }
        }).filter(function (coords) {
          return coords !== undefined
        })
      }
    }
  }
}
</script>
