<template>
  <div class="">
    <div class="text-h6 text-uppercase">Ready for blotter</div>
    <Table
      :data=data
      :columns=columns
      @toggleEdit= showEdit
      @toggled="toggled"
      :togglebutton="togglebutton"
      :togglelabel="togglelabel"
      :togglevalue="togglevalue"
      :btncolor="btncolor"
    />
    <IncidentRecordForm
      :show="IncidentRecordForm_dialog"
      :data="confirmed"
      @close="close"
    />
    <ViewConfirmednBlotter :show="confirmed_dialog" :data="confirmed" @close="close" />
    <DownloadCertificate :show="download_dialog" :data="confirmed" @close="close" />
  </div>
</template>
<script>

import IncidentRecordForm from '../../components/IncidentRecordForm'
import DownloadCertificate from '../../components/downloadCertificate'
import ViewConfirmednBlotter from '../../components/viewCertificate'
import Table from 'components/Tables'
// import FinalBlotterForm from '../../components/prinntBlotter'
// var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ForConfirmationPage',
  components: { Table, ViewConfirmednBlotter, DownloadCertificate, IncidentRecordForm },
  props: {
    data: {
      type: Array
    },
    iconReport: {
      type: Array
    },
    iconResponded: {
      type: Array
    }
  },
  data () {
    return {
      download_dialog: false,
      togglebutton: true,
      // togglevalue: 'on Process',
      togglelabel: 'File Blotter',
      togglevalue: 'For Filling',
      btncolor: 'indigo-8',
      confirmed_dialog: false,
      IncidentRecordForm_dialog: false,
      confirmed: {},
      complaint: {},
      columns: [
        {
          name: 'complaint_title',
          required: true,
          label: 'complaint type',
          align: 'left',
          field: row => row.complaint.complaint_type,
          format: val => `${val}`,
          sortable: true,
          classes: 'ellipsis',
          style: 'max-width: 200px'
        },
        { name: 'complainant', classes: 'ellipsis', align: 'center', label: 'complainant', field: row => row.user.first_name + ' ' + row.user.middle_name + ' ' + row.user.last_name },
        // { name: 'statement', classes: 'ellipsis', align: 'center', label: 'statement', field: row => row.complaint.complaint_statement },
        // { name: 'appointment', align: 'center', label: 'Appointment Date', field: row => row.from.length > 0 && row.to.length > 0 ? row.from + ' To ' + row.to : 'Emergency' },
        // { name: 'prepared', classes: 'ellipsis', align: 'center', label: 'prepared by', field: row => row.prepared.first_name + ' ' + row.prepared.middle_name + ' ' + row.prepared.last_name + ' - ' + row.prepared.rank },
        { name: 'status', classes: 'ellipsis', align: 'center', label: 'status', field: row => row.blotter.status },
        { name: 'Date and Time', align: 'center', label: 'Reported date & time', field: row => row.complaint_date },
        // { name: 'status', align: 'center', label: 'status', field: row => row.blotter.status },
        { name: 'action', align: 'center', label: '', field: 'action' }
      ]
    }
  },
  created () {
  },
  methods: {
    close () {
      this.download_dialog = false
      this.confirmed_dialog = false
      this.IncidentRecordForm_dialog = false
    },
    PrintForm () {
    },
    toggled (e) {
      this.confirmed = e
      console.log(e)
      // this.download_dialog = true
      this.IncidentRecordForm_dialog = true
    },
    showEdit (e) {
      this.confirmed = e
      this.confirmed_dialog = true
      console.log(this.confirmed)
    }
  }
}
</script>
