<template>
  <div class="">
    <div class="text-h6 text-uppercase">For confirmation to the buster</div>
    <Table
      :data=data
      :columns=columns
      @toggleEdit= showEdit
    />
    <ViewConfirmationBlotter :show="forConfirmation_dialog" :data="forConfirmation" @close="close"/>
  </div>
</template>
<script>
import ViewConfirmationBlotter from '../../components/viewCertificate'
import Table from 'components/Tables'
// var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ForConfirmationPage',
  components: { Table, ViewConfirmationBlotter },
  props: {
    data: {
      type: Array
    },
    iconReport: {
      type: Array
    },
    iconResponded: {
      type: Array
    }
  },
  data () {
    return {
      // togglevalue: 'on Process',
      forConfirmation_dialog: false,
      forConfirmation: {},
      columns: [
        {
          name: 'complaint_title',
          required: true,
          label: 'COMPLAINT',
          align: 'left',
          field: row => row.complaint_type,
          format: val => `${val}`,
          sortable: true,
          classes: 'ellipsis',
          style: 'max-width: 200px'
        },
        // { name: 'accused Person', align: 'center', label: 'Accused Person', field: 'complaint_accuse_person', sortable: true },
        { name: 'complainant', classes: 'ellipsis', align: 'center', label: 'complainant', field: row => row.first_name + ' ' + row.middle_name + ' ' + row.last_name },
        { name: 'appointment', align: 'center', label: 'Appointment Date', field: row => row.from + ' To ' + row.to },
        { name: 'contact_number', align: 'center', label: 'CONTACT NUMBER', field: 'contact_number', sortable: true },
        { name: 'time', align: 'center', label: 'REPORTED DATE & TIME', field: 'created_at', sortable: true },
        { name: 'status', align: 'center', label: 'STATUS', field: 'status', sortable: true },
        // { name: 'status', align: 'center', label: 'STATUS', field: 'status', classes: 'text-uppercase', sortable: true },
        { name: 'action', align: 'center', label: '', field: 'action' }
      ]
    }
  },
  created () {
  },
  methods: {
    close () {
      this.forConfirmation_dialog = false
    },
    showEdit (e) {
      this.forConfirmation = e
      this.forConfirmation_dialog = true
      console.log(this.forConfirmation)
    }
  }
}
</script>
