<template>
  <div class="">
    <div class="text-h6 text-uppercase">On Process Complaint</div>
    <Table
      :data=data
      :columns=columns
      :enableAction= enableAction
      @toggleEdit= showEdit
      @toggled="toggled"
      :togglebutton="togglebutton"
      :togglelabel="togglelabel"
      :togglevalue="togglevalue"
      :btncolor="btncolor"
    />
    <ViewComplaint
      :data="complaint"
      :show="complaint_dialog"
      @cancel="cancel"
      @makeAction="makeAction"
      :processReportMarkers="processReportMarkers"
    />
    <BlotterCertification
      :data="complaint"
      :show="blotter_dialog"
      @close="close"
      @createBlotterCertification="createBlotterCertification"
    />
    <!-- <IncidentRecordForm
      :show="IncidentRecordForm_dialog"
      :data="complaint"
      @close="close"
    /> -->
    <Investigation
      :iconResponded="iconResponded"
      :data="complaint"
      @SendCertification="SendCertification"
      @close="close"
      :show="investigation_dialog"
    />
  </div>
</template>
<script>
// import IncidentRecordForm from '../../components/IncidentRecordForm'
import Investigation from '../../components/viewInvestigation'
import { updateStatus, setAppointment } from '../../Graphql/query/complaint'
// import { createBlotter } from '../../Graphql/query/blotter'
import BlotterCertification from '../../components/makeBlotterCertification'
import Table from 'components/Tables'
import ViewComplaint from '../../components/viewOnprocessComplaint'
import { saveNotification } from '../../Graphql/query/notification'
// var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'OnProcessPage',
  components: { Table, ViewComplaint, BlotterCertification, Investigation },
  props: {
    data: {
      type: Array
    },
    processReportMarkers: {
      type: Array
    },
    iconResponded: {
      type: Array
    }
  },
  data () {
    return {
      // title: 'LIST OF PROCESSED COMPLAINTS',
      togglebutton: true,
      // togglevalue: 'on Process',
      togglelabel: 'Set appointment',
      togglevalue: 'Investigated',
      btncolor: 'indigo-8',
      // readonly: false,
      blotter_dialog: false,
      enableAction: false,
      complaint_dialog: false,
      investigation_dialog: false,
      complaintList: [],
      complaint: {},
      IncidentRecordForm_dialog: false,
      user: [],
      selected: [],
      columns: [
        {
          name: 'complaint_title',
          required: true,
          label: 'COMPLAINT',
          align: 'left',
          field: row => row.complaint_type,
          format: val => `${val}`,
          sortable: true,
          classes: 'ellipsis',
          style: 'max-width: 200px'
        },
        // { name: 'accused Person', align: 'center', label: 'Accused Person', field: 'complaint_accuse_person', sortable: true },
        { name: 'complainant', classes: 'ellipsis', align: 'center', label: 'complainant', field: row => row.first_name + ' ' + row.middle_name + ' ' + row.last_name },
        { name: 'contact_number', align: 'center', label: 'CONTACT NUMBER', field: 'contact_number', sortable: true },
        { name: 'time', align: 'center', label: 'DATE AND TIME', field: 'created_at', sortable: true },
        { name: 'status', align: 'center', label: 'STATUS', field: 'status', sortable: true },
        // { name: 'status', align: 'center', label: 'STATUS', field: 'status', classes: 'text-uppercase', sortable: true },
        { name: 'action', align: 'center', label: '', field: 'action' }
      ]
    }
  },
  created () {
  },
  methods: {
    async createBlotterCertification (e) {
      console.log(setAppointment)
      console.log(e)
      console.log(e.validity.from)
      console.log(e.user_id)
      this.$q.loading.show()
      const variables = {
        from: e.validity.from,
        to: e.validity.to,
        id: e.id
      }
      const { data } = await this.$apollo.mutate({
        mutation: setAppointment,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      if (data) {
        console.log(e.id)
        this.close()
        this.cancel()
        this.loading = true
        this.$q.loading.hide()
        setInterval(() => {
          this.loading = false
          location.reload()
        }, 1800)
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Sent Successfully!'
        })
        this.updateComplaintStatusToBlotter(e.id)
        const notification = {
          user_id: e.user_id,
          station_id: null,
          respondent_id: null,
          complaint_id: this.complaint.id,
          notification_content: 'You are requested to visit the station on "time and date". Regarding your complaint in filing a blotter case. Thank you',
          notification_type: 'appointment'
        }
        console.log(notification)
        this.saveToNotification(notification)
      }
    },
    async saveToNotification (noti) {
      const variables = {
        user_id: noti.user_id,
        station_id: noti.station_id,
        respondent_id: noti.respondent_id,
        complaint_id: noti.complaint_id,
        notification_content: noti.notification_content,
        notification_type: noti.notification_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      return data
    },
    async updateComplaintStatusToBlotter (complaintId) {
      const { data } = await this.$apollo.mutate({
        mutation: updateStatus,
        variables: {
          id: complaintId,
          status: 'For Appointment'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      return data
    },
    // async showDeleteMessage (e) {
    //   const { data } = await this.$apollo.mutate({
    //     mutation: deleteComplaint,
    //     variables: {
    //       id: e.id
    //     }
    //   }).catch(error => {
    //     this.$q.notify({
    //       color: 'red',
    //       textColor: 'white',
    //       icon: 'check_circle',
    //       position: 'top',
    //       message: error.message
    //     })
    //     return error
    //   })
    //   if (data) {
    //     const index = this.data.indexOf(e)
    //     this.data.splice(index, 1)
    //   }
    // },
    // this is not in use
    makeAction () {
      this.blotter_dialog = true
    },
    SendCertification () {
      this.investigation_dialog = false
      this.blotter_dialog = true
    },
    close () {
      this.IncidentRecordForm_dialog = false
      this.investigation_dialog = false
      this.blotter_dialog = false
    },
    cancel () {
      this.complaint_dialog = false
    },
    showEdit (e) {
      this.complaint = e
      this.complaint_dialog = true
      console.log(this.complaint)
    },
    toggled (e) {
      this.complaint = e
      this.blotter_dialog = true

      // this.IncidentRecordForm_dialog = true
      this.investigation_dialog = true
      // console.log(e)
    }
  }
}
</script>
