<template>
  <div class="">
    <div class="bg-white">
      <div class="text-h6 text-uppercase">Pending Complaint</div>
      <Table
        :loading="loading"
        :data=data
        :columns=columns
        :enableAction= enableAction
        @toggleDelete= showDeleteMessage
        @toggleEdit= showEdit
      />
      <ViewComplaint
        :data="complaint"
        :show="complaint_dialog"
        @submitStation="submitStation"
        @cancel="cancel"
        @makeAction="makeAction"
        @setAppointment="setAppointment"
        :btnshow="btnshow"
        :btnshow2="btnshow2"
        :btnshow3="btnshow3"
        :iconReport="iconReport"
        @reject="reject"
      />
      <BlotterCertification
        :data="complaint"
        :show="appointment_dialog"
        @close="close"
        @createBlotterCertification="createdAppointment"
      />
      <MakeAction
        :data="user"
        :show="action_dialog"
        @close="close"
        @assign="assign"
        :selected.sync="selected"
      />
      <!-- <SelectStation @close="close" :selected.sync="selectedStation" @submit="submitStation"/> -->
    </div>
  </div>
</template>
<script>
// import SelectStation from '../../mobile/Components/SelectStationComponent'
import BlotterCertification from '../../components/makeBlotterCertification'
import { saveNotification } from '../../Graphql/query/notification'
import MakeAction from '../../components/makeAction'
import Table from 'components/Tables'
import { updateStatus, updateStation, setAppointment } from '../../Graphql/query/complaint'
import { showAllUserByType, ReportUser } from '../../Graphql/query/user'
import { saveActivity } from '../../Graphql/query/respondent_activity'
import ViewComplaint from '../../components/viewPendingComplaint'
// import { createBlotter } from '../../Graphql/query/blotter'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'TeamPage',
  components: { Table, MakeAction, ViewComplaint, BlotterCertification },
  props: {
    data: {
      type: Array
    },
    iconReport: {
      type: Array
    },
    complaint_type: {
      type: String,
      default: 'Pending'
    }
  },
  data () {
    return {
      btnshow: true,
      btnshow2: true,
      btnshow3: false,
      selectedStation: {},
      loading: false,
      enableAction: false,
      appointment_dialog: false,
      action_dialog: false,
      complaint_dialog: false,
      complaintList: [],
      complaint: {},
      user: [],
      selected: [],
      columns: [
        {
          name: 'complaint_title',
          required: true,
          label: 'COMPLAINT',
          align: 'left',
          field: row => row.complaint_type,
          format: val => `${val}`,
          sortable: true,
          classes: 'ellipsis',
          style: 'max-width: 200px'
        },
        // { name: 'accused Person', align: 'center', label: 'Accused Person', field: 'complaint_accuse_person', sortable: true },
        { name: 'complainant', classes: 'ellipsis', align: 'center', label: 'complainant', field: row => row.first_name + ' ' + row.middle_name + ' ' + row.last_name },
        { name: 'contact_number', align: 'center', label: 'CONTACT NUMBER', field: 'contact_number', sortable: true },
        { name: 'time', align: 'center', label: 'REPORTED DATE & TIME', field: 'created_at', sortable: true },
        // { name: 'status', align: 'center', label: 'STATUS', field: 'status', sortable: true },
        { name: 'action', align: 'center', label: '', field: 'action' }
      ]
    }
  },
  created () {
    this.showUser()
  },
  methods: {
    async reportUser () {
      const variables = {
        id: this.complaint.user_id,
        isReported: this.complaint.isReported + 1
      }
      const { data } = await this.$apollo.mutate({
        mutation: ReportUser,
        variables
      })
      console.log(data)
    },
    async reject () {
      const confirm = window.confirm('Are you sure to Reject this Complaint?')
      if (confirm) {
        console.log(this.complaint)
        console.log(this.complaint.isReported)
        const { data } = await this.$apollo.mutate({
          mutation: updateStatus,
          variables: {
            id: this.complaint.id,
            status: 'Rejected'
          }
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          return error
        })
        if (data) {
          this.reportUser()
          this.close()
          this.cancel()
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Comaplaint Rejected to Successfully!'
          })
          this.loading = true
          setTimeout(() => {
            this.loading = false
            location.reload()
          }, 1800)
        }
      }
    },
    // changing the station or passing the case to other station.brgy
    async submitStation (e) {
      this.$q.loading.show()
      console.log(e)
      const variables = {
        id: this.complaint.id,
        station_id: e.id
      }
      const { data } = await this.$apollo.mutate({
        mutation: updateStation,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.$q.loading.hide()
        return error
      })
      if (data) {
        this.cancel()
        this.$q.loading.hide()
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Sent to Successfully!'
        })
        this.loading = true
        setTimeout(() => {
          this.loading = false
          location.reload()
        }, 1800)
        const notification = {
          user_id: null,
          station_id: e.id,
          respondent_id: null,
          complaint_id: this.complaint.id,
          notification_content: 'We move this complaint ' + this.complaint.complaint_type + ' in your ' + e.station_name + ' ' + e.station_type + 'Thank you!',
          notification_type: 'changing station'
        }
        this.saveToNotification(notification)
      }
      console.log(this.complaint)
      const notification = {
        user_id: this.complaint.user_id,
        station_id: null,
        respondent_id: null,
        complaint_id: this.complaint.id,
        notification_content: 'We move your complaint' + this.complaint.complaint_type + ' to ' + e.station_name + ' ' + e.station_type + ' that would be the right to handle your complaint. Thank you!',
        notification_type: 'changing station'
      }

      this.saveToNotification(notification)
      console.log(data)
      // console.log(this.complaint.user_id)
      // console.log(variables)
    },
    // create appointment
    async createdAppointment  (e) {
      // console.log(e.validity.from)
      // return setAppointment
      console.log(e)
      this.$q.loading.show()
      const variables = {
        id: e.id,
        from: e.validity.from,
        to: e.validity.to
      }
      const { data } = await this.$apollo.mutate({
        mutation: setAppointment,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      if (data) {
        console.log(e.id)
        this.close()
        this.cancel()
        this.loading = true
        this.$q.loading.hide()
        setInterval(() => {
          this.loading = false
          location.reload()
        }, 1800)
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Sent Successfully!'
        })
        this.updateComplaintStatusToBlotter(e.id)

        // const variables = {
        //   status: 'For Confirmation',
        //   // blotter_type: e.complaint_type,
        //   // blotter_statement: e.complaint_statement,
        //   // blotter_evid: JSON.stringify(e.complaint_evid),
        //   from: e.validity.from,
        //   to: e.validity.to,
        //   complaint_id: e.id,
        //   // invest_date: e.date,
        //   // invest_statement: e.investigation,
        //   // invest_time: e.time,
        //   prepared_by_id: account.id,
        //   // suspect: e.complaint_accuse_person,
        //   station_id: e.station_id,
        //   user_id: e.user_id
        // }
        // const { data } = await this.$apollo.mutate({
        //   mutation: createBlotter,
        //   variables
        // }).catch(error => {
        //   this.$q.notify({
        //     color: 'red',
        //     textColor: 'white',
        //     icon: 'check_circle',
        //     position: 'top',
        //     message: error.message
        //   })
        //   return error
        // })
        // if (data) {
        //   console.log(e.id)
        //   this.close()
        //   this.cancel()
        //   this.loading = true
        //   this.$q.loading.hide()
        //   setInterval(() => {
        //     this.loading = false
        //     location.reload()
        //   }, 1800)
        //   this.$q.notify({
        //     color: 'green',
        //     textColor: 'white',
        //     icon: 'check_circle',
        //     position: 'top',
        //     message: 'Sent Successfully!'
        //   })
        //   // console.log(e)
        //   this.updateComplaintStatusToBlotter(e.id)
        const notification = {
          user_id: this.complaint.user_id,
          station_id: null,
          respondent_id: null,
          complaint_id: this.complaint.id,
          notification_content: 'You are requested to visit the station on "time and date". Regarding your complaint in filing a blotter case. Thank you',
          notification_type: 'appointment'
        }
        this.saveToNotification(notification)
      }
    },
    setAppointment () {
      console.log('click')
      this.appointment_dialog = true
    },
    // update to appointment
    async updateComplaintStatusToBlotter (complaintId) {
      const { data } = await this.$apollo.mutate({
        mutation: updateStatus,
        variables: {
          id: complaintId,
          status: 'For Appointment'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      return data
    },
    assign () {
      this.assigning()
      this.updateComplaintStatus()
    },
    async updateComplaintStatus () {
      const { data } = await this.$apollo.mutate({
        mutation: updateStatus,
        variables: {
          id: this.complaint.id,
          status: 'On Process'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      return data
    },
    assigning () {
      console.log(account)
      this.$q.loading.show()
      this.selected.forEach(async element => {
        const variables = {
          user_id: element,
          incident_id: null,
          complaint_id: this.complaint.id,
          station_id: account.station_id
        }
        const { data } = await this.$apollo.mutate({
          mutation: saveActivity,
          variables
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          return error
        })
        // console.log(data.insert_users.returning[0].id,)
        if (data) {
          this.close()
          this.cancel()
          this.$q.loading.hide()
          this.loading = true
          setTimeout(() => {
            this.loading = false
            location.reload()
          }, 1800)
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Assign Successfully!'
          })
        }
        // send to respondent
        const notification = {
          user_id: null,
          station_id: null,
          respondent_id: element,
          complaint_id: this.complaint.id,
          notification_content: 'You have been assigned with a case to handle. Read and verify the complaint',
          notification_type: 'assigning'
        }
        this.saveToNotification(notification)
      })
      // send to buster
      const notification = {
        user_id: this.complaint.user_id,
        station_id: null,
        respondent_id: null,
        complaint_id: this.complaint.id,
        notification_content: 'We receive your complaint and we are working on it, you will receive further notification regarding your complaint. Thank you.',
        notification_type: 'assigning'
      }
      this.saveToNotification(notification)
    },

    async saveToNotification (noti) {
      const variables = {
        user_id: noti.user_id,
        station_id: noti.station_id,
        respondent_id: noti.respondent_id,
        complaint_id: noti.complaint_id,
        notification_content: noti.notification_content,
        notification_type: noti.notification_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      return data
    },
    makeAction () {
      this.action_dialog = true
    },
    close () {
      this.action_dialog = false
      this.appointment_dialog = false
    },
    cancel () {
      this.complaint_dialog = false
    },
    async showDeleteMessage (e) {
      const index = this.data.indexOf(e)
      this.data.splice(index, 1)
    },
    showEdit (e) {
      this.complaint = e
      this.complaint_dialog = true
      console.log(this.complaint.user_id)
    },
    // gettimng station member/police
    async showUser () {
      const { data } = await this.$apollo.query({
        query: showAllUserByType,
        variables: {
          station_id: account.station_id,
          user_type: account.user_type === 'barangay_admin' ? 'barangay_member' : 'police'
        },
        fetchPolicy: 'network-only'
      })
      this.user = data.users.map(user => {
        if (typeof user.image !== 'object') {
          user.image = JSON.parse(user.image)
        }
        return user
      })
    } //
  }
}
</script>
