<template>
  <div class="">
    <div class="bg-white">
      <div class="text-h6 text-uppercase">Rejected Complaint</div>
      <Table
        :loading="loading"
        :data=data
        :columns=columns
        :enableAction= enableAction
        @toggleDelete= showDeleteMessage
        @toggleEdit= showEdit
      />
      <ViewComplaint
        :data="complaint"
        :show="complaint_dialog"
        @cancel="cancel"
        @makeAction="makeAction"
        :iconReport="iconReport"
      />
      <MakeAction
        :data="user"
        :show="action_dialog"
        @close="close"
        @assign="assign"
        :selected.sync="selected"
      />

    </div>
  </div>
</template>
<script>
import { saveNotification } from '../../Graphql/query/notification'
import MakeAction from '../../components/makeAction'
import Table from 'components/Tables'
import { updateStatus } from '../../Graphql/query/complaint'
import { showAllUserByType } from '../../Graphql/query/user'
import { saveActivity } from '../../Graphql/query/respondent_activity'
import ViewComplaint from '../../components/viewPendingComplaint'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'TeamPage',
  components: { Table, MakeAction, ViewComplaint },
  props: {
    data: {
      type: Array
    },
    iconReport: {
      type: Array
    }
  },
  data () {
    return {
      loading: false,
      enableAction: false,
      action_dialog: false,
      complaint_dialog: false,
      complaintList: [],
      complaint: {},
      user: [],
      selected: [],
      columns: [
        {
          name: 'complaint_title',
          required: true,
          label: 'COMPLAINT',
          align: 'left',
          field: row => row.complaint_type,
          format: val => `${val}`,
          sortable: true,
          classes: 'ellipsis',
          style: 'max-width: 200px'
        },
        // { name: 'accused Person', align: 'center', label: 'Accused Person', field: 'complaint_accuse_person', sortable: true },
        { name: 'complainant', align: 'center', label: 'COMPLAINANT', field: 'username', sortable: true },
        { name: 'contact_number', align: 'center', label: 'CONTACT NUMBER', field: 'contact_number', sortable: true },
        { name: 'time', align: 'center', label: 'DATE AND TIME', field: 'created_at', sortable: true },
        // { name: 'status', align: 'center', label: 'STATUS', field: 'status', sortable: true },
        { name: 'action', align: 'center', label: '', field: 'action' }
      ]
    }
  },
  created () {
    this.showUser()
  },
  methods: {
    assign () {
      this.assigning()
      this.updateComplaintStatus()
    },
    async updateComplaintStatus () {
      const { data } = await this.$apollo.mutate({
        mutation: updateStatus,
        variables: {
          id: this.complaint.id,
          status: 'On Process'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      return data
    },
    assigning () {
      console.log(account)
      this.$q.loading.show()
      this.selected.forEach(async element => {
        const variables = {
          user_id: element,
          complaint_id: this.complaint.id,
          station_id: account.station_id
        }
        const { data } = await this.$apollo.mutate({
          mutation: saveActivity,
          variables
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          return error
        })
        // console.log(data.insert_users.returning[0].id,)
        if (data) {
          this.close()
          this.cancel()
          this.$q.loading.hide()
          this.loading = true
          setTimeout(() => {
            this.loading = false
            location.reload()
          }, 1800)
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Assign Successfully!'
          })
        }
        // send to respondent
        const notification = {
          user_id: null,
          station_id: account.station_id,
          respondent_id: element,
          complaint_id: this.complaint.id,
          notification_contennt: 'test',
          notification_type: 'assigning'
        }
        this.saveToNotification(notification)
      })
      // send to buster
      const notification = {
        user_id: this.complaint.user_id,
        station_id: account.station_id,
        respondent_id: null,
        complaint_id: this.complaint.id,
        notification_contennt: 'test',
        notification_type: 'assigning'
      }
      this.saveToNotification(notification)
    },

    async saveToNotification (noti) {
      const variables = {
        user_id: noti.user_id,
        station_id: noti.station_id,
        respondent_id: noti.respondent_id,
        complaint_id: noti.complaint_id,
        notification_content: noti.notification_content,
        notification_type: noti.notification_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      return data
    },
    makeAction () {
      this.action_dialog = true
    },
    close () {
      this.action_dialog = false
    },
    cancel () {
      this.complaint_dialog = false
    },
    async showDeleteMessage (e) {
      const index = this.data.indexOf(e)
      this.data.splice(index, 1)
    },
    showEdit (e) {
      this.complaint = e
      this.complaint_dialog = true
      console.log(this.complaint.user_id)
    },
    // gettimng station member/police
    async showUser () {
      const { data } = await this.$apollo.query({
        query: showAllUserByType,
        variables: {
          station_id: account.station_id,
          user_type: account.user_type === 'barangay_admin' ? 'barangay_member' : 'police'
        },
        fetchPolicy: 'network-only'
      })
      this.user = data.users.map(user => {
        if (typeof user.image !== 'object') {
          user.image = JSON.parse(user.image)
        }
        return user
      })
    } //
  }
}
</script>
