<template>
  <q-layout view="hHh Lpr lff" class="bg-white" >
    <q-header  bordered class="bg-white">
      <q-toolbar>
        <q-btn
          dense
          round
          color="indigo-8"
          class="text-bold"
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title class="text-indigo-8" >
          <!-- <q-btn  :label="s.station_name"/> -->
          <div v-if="accountData.user_type === 'barangay_admin' || accountData.user_type === 'station_admin'">
            <div class="text-uppercase text-bold" v-for="s in station" :key="s.name">
                <small>{{s.station_name}}</small>
                <q-btn size="sm" class="q-ml-xs"  dense round v-show="accountData.user_type !== 'superadmin'" icon="edit">

                <q-popup-proxy>
                    <q-card style="width:300px">
                      <q-card-section>
                          <q-input
                            dense
                            square outlined
                            v-model="s.station_name"
                          />
                      </q-card-section>
                      <q-card-section align="right">
                         <q-btn v-on:click="UpdateStationName" color="indigo-8" label="Edit"/>
                      </q-card-section>
                    </q-card>
                </q-popup-proxy>
              </q-btn>
            </div>
          </div>
          <div v-if="accountData.user_type === 'superadmin'">
            <div class="text-uppercase text-bold">
                <small>super admin</small>
            </div>
          </div>
        </q-toolbar-title>
        <div class="text-indigo-8">
          <q-btn @click="read" flat dense v-show="accountData.user_type !== 'superadmin'" size="lg" push color="indigo-5" icon="contact_mail">
             <!-- <q-badge color="red"  v-show="noti[0] > 0 && status" floating>{{this.noti[0]}}</q-badge> -->
            <q-popup-proxy class="bg-indigo-5">
                <q-card style="width:330px" class="shadow-0">
                  <div class="q-ma-sm">
                    <q-chip label="ASK FOR UPDATE" square class="text-bold q-mb-sm" text-color="indigo-8" size="lg" color="grey-2"/>
                    <div v-for="data in  asking" :key="data.id">
                        {{data.entry}}
                    </div>
                     <div v-for="data in  asking" :key="data.id">
                      <Asking
                        :color="data.notification.notification_type ==='assigning'? 'green-8': data.notification.notification_type ==='changing station' ? 'amber-8': ''"
                        :label="data.notification.notification_content"
                        :data="data"
                      />
                    </div>
                  </div>
                </q-card>
            </q-popup-proxy>
          </q-btn>
        </div>
        <div class="text-indigo-8">
          <q-btn @click="read" flat dense v-show="accountData.user_type !== 'superadmin'" size="lg" push color="indigo-5" icon="notifications">
             <q-badge color="red"  v-show="noti[0] > 0 && status" floating>{{this.noti[0]}}</q-badge>
            <q-popup-proxy class="bg-indigo-5">
                <q-card style="width:330px" class="shadow-0">
                  <div class="q-ma-sm">
                    <q-chip label="NOTIFICATIONS" square class="text-bold q-mb-sm" text-color="indigo-8" size="lg" color="grey-2"/>
                     <div v-for="data in  notification" :key="data.id">
                      <NotificationItem
                        :color="data.notification.notification_type ==='assigning'? 'green-8': data.notification.notification_type ==='changing station' ? 'amber-8': ''"
                        :label="data.notification.notification_content"
                        :data="data"
                      />
                    </div>
                  </div>
                </q-card>
            </q-popup-proxy>
          </q-btn>
        </div>
        <div>
          <!-- dropdowns -->
          <q-chip square class="text-uppercase text-bold shadow-2" color="grey-3"  text-color="grey-8  ">
            <span class="q-mr-md">
               {{user.username}}
            </span>
          <q-btn-dropdown
            class=""
            dense
            dropdown-icon="settings"
            color="indigo-8"
          >
            <!-- {{user.image}} -->
            <div class=" row no-wrap q-pa-md">
              <div  class="column items-center">
                <q-avatar v-if="user.image !== null" size="90px">
                   <img :src="user.image">
                </q-avatar>
                <q-avatar v-else size="90px">
                  <img src="/logo/b.png" alt="">
                </q-avatar>
                <q-chip square size="11px" style="width:120px" color="grey-2" class="text-uppercase text-bold" :label="user.first_name + ' ' + user.middle_name + ' ' + user.last_name"/>
                <div class="text-subtitle1 q-pb-lg">
                  <q-btn
                    flat
                    class="text-indigo-8"
                    label="Edit Profile"
                    to="profile"
                    v-close-popup
                  />
                </div>
                <q-btn
                  color="indigo-8"
                  label="Logout"
                  @click=logout
                  v-close-popup
                />
              </div>
            </div>
          </q-btn-dropdown>
          </q-chip>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      :width="260"
      v-model="leftDrawerOpen"
      show-if-above
      content-class="text-grey-7 shadow-3"
    >
      <q-list   class="bg-white">
        <div v-if="accountData.user_type !== 'superadmin'">
        <div class="text-center" v-for="Station in station" :key="Station.id" >
           <q-avatar rounded v-if="Station.station_logo.length > 0" square class="q-ma-sm shadow-2" size="110px">
              <img :src="Station.station_logo" alt="">
          </q-avatar>
          <q-avatar rounded v-else square class="q-ma-sm shadow-1" size="110px">
              <img src="/logo/b.png" alt="">
          </q-avatar>
        </div>
        </div>
        <div class="text-center" v-else>
          <q-avatar rounded square class="q-ma-sm shadow-1" size="110px">
            <img src="/logo/b.png" alt="">
          </q-avatar>
        </div>
         <div class="text-caption text-uppercase">
            <Links
              v-for="link in Links"
              :key="link.title"
              v-bind="link"
            />
         </div>
      </q-list>
    </q-drawer>
    <q-page-container>
      <div>
         <router-view/>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import moment from 'moment'
// getNotificationByStationIdasking
import Asking from '../components/Asking'
import { getNotificationByStationId, UpdateStationNotificationStatus, getNotificationByStationIdasking } from '../Graphql/query/notification'
import NotificationItem from '../components/NotificationItemComponents'
import Links from 'components/Links.vue'
import { getStationById, countStationNotification, updateStationName } from '../Graphql/query/station'
var accountData = JSON.parse(localStorage.getItem('user'))
var linksData = []
// condition for routes depending on what acccount type
switch (accountData.user_type) {
  case 'station_admin':
    linksData = [
      {
        title: 'Dashboard',
        link: '/dashboard',
        icon: 'dashboard'
      },
      {
        title: 'Police',
        link: '/police',
        icon: 'groups'
      },
      {
        title: 'Blotter Master List',
        link: '/master-list',
        icon: 'book'
      },
      // {
      //   title: 'Department',
      //   link: '/department',
      //   icon: 'apartment'
      // },
      {
        header: 'Reports'
      },
      {
        title: 'Citizen Arrest',
        link: '/citizen-arrest',
        icon: '' + 'notification_important' + ''
      },
      {
        title: 'Incident',
        link: '/incident',
        icon: 'report_problem'
      },
      {
        title: 'Complaint',
        link: '/complaint',
        icon: 'record_voice_over'
      }
    ]
    break
  case 'barangay_admin':
    linksData = [
      {
        title: 'Dashboard',
        link: '/dashboard',
        icon: 'dashboard'
      },
      {
        title: 'Barangay Officials',
        link: '/barangay-member',
        icon: 'group'
      },
      {
        title: 'Blotter Master List',
        link: '/master-list',
        icon: 'book'
      },
      {
        header: 'Reports'
      },
      {
        title: 'Citizen Arrest',
        link: '/citizen-arrest',
        icon: 'notification_important'
      },
      {
        title: 'Incident',
        link: '/incident',
        icon: 'report_problem'
      },
      {
        title: 'Complaint',
        link: '/complaint',
        icon: 'record_voice_over'
      }
    ]
    break
  case 'superadmin':
    linksData = [
      {
        title: 'Dashboard',
        link: '/dashboard',
        icon: 'dashboard'
      },
      {
        title: 'Barangay',
        link: '/barangay',
        icon: 'location_city'
      },
      {
        title: 'Police Station',
        link: '/station',
        icon: 'shield'
      },
      {
        title: 'Busters',
        link: '/buster',
        icon: 'people_alt'
      }
    ]
    break
  default :
    // do something here
    break
}
export default {
  name: 'DashboardLayout',
  components: { Links, NotificationItem, Asking },
  data () {
    return {
      leftDrawerOpen: false,
      Links: linksData,
      accountData: accountData,
      user: [],
      station: [],
      connection: null,
      notification: {},
      noti: 0,
      asking: {},
      status: true,
      entry: []
    }
  },
  methods: {
    UpdateStationName () {
      this.station.forEach(async element => {
        const { data } = await this.$apollo.mutate({
          mutation: updateStationName,
          variables: {
            id: this.accountData.station_id,
            station_name: element.station_name
          }
        }).catch(error => {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: error.message
          })
          return error
        })
        if (data) {
          this.showStationData()
          this.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'check_circle',
            position: 'top',
            message: 'Edit Successfully!'
          })
        }
      })
    },
    // update count to 0
    async read () {
      this.status = false
      const { data } = await this.$apollo.mutate({
        mutation: UpdateStationNotificationStatus,
        variables: {
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.$q.loading.hide()
        return error
      })
      console.log(data)
    },
    async getasking () {
      console.log(this.accountData.station_id)
      const { data } = await this.$apollo.query({
        query: getNotificationByStationIdasking,
        variables: {
          station_id: this.accountData.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.notification.length > 0) {
        this.asking = data.notification.map(notification => {
          const blotter = notification.complaint.blotters
          const cid = notification.complaint.id
          const uid = notification.complaint.user_id
          const notify = {
            notification: notification,
            // complaint: notification.complaint,
            blotter: blotter,
            user_id: uid,
            complaint_id: cid,
            created_at: typeof notification.created_at !== 'object' ? moment(notification.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : ''
          }
          return notify
        })
        // console.log(this.asking)
      }
    },
    async getnotification () {
      console.log(this.accountData.station_id)
      const { data } = await this.$apollo.query({
        query: getNotificationByStationId,
        variables: {
          station_id: this.accountData.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.notification.length > 0) {
        this.notification = data.notification.map(notification => {
          const notify = {
            notification: notification,
            complaint: notification.complaint,
            created_at: typeof notification.created_at !== 'object' ? moment(notification.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : ''
          }
          return notify
        })
      }
    },
    async counttNotification () {
      const { data } = await this.$apollo.query({
        query: countStationNotification,
        variables: {
          station_id: this.accountData.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (data.station.length > 0) {
        this.noti = data.station.map((count) => {
          const total = count.notifications_aggregate.aggregate
          const totalNotification = {
            notification: total.count
          }
          return totalNotification.notification
        // console.log(totalNotification)
          // console.log(count)
        })
        console.log(this.noti[0])
      }
    },
    logout () {
      location.reload()
      localStorage.clear()
    },
    async showStationData () {
      const { data: { station } } = await this.$apollo.query({
        query: getStationById,
        variables: {
          station_id: accountData.station_id
        },
        fetchPolicy: 'network-only'
      })
      if (station instanceof Array) {
        this.station = station.map(s => {
          const stationData = {
            station_name: s.station_name,
            station_logo: typeof s.station_logo !== 'object' ? s.station_logo = JSON.parse(s.station_logo) : '',
            station_location: s.station_location
          }
          console.log(stationData)
          return stationData
        })
        // console.log(this.station)
      }
    },
    showUser () {
      const u = accountData
      if (typeof u.image !== 'object') {
        u.image = JSON.parse(u.image)
      }
      this.user = u
    }
  },
  created () {
    this.showUser()
    this.counttNotification()
    this.showStationData()
    this.getnotification()
    this.getasking()
  }
}
</script>
<style >
.pulse{
  width: 100px;
  height: 100px;
  border-radius: 50% ;
  transform: scale(0);
  position: absolute;
  z-index: -1;
  animation: pulse 3s infinite;
}

.pulse:nth-child(1){
    background-color: #61c4ff;
    animation-delay: 0.3s;

}
.pulse:nth-child(2){
    background-color: #bde080;
    animation-delay: 0.7s;

}
.pulse:nth-child(3){
    background-color: #f7cf69;
    animation-delay: 1.1s;

}

@keyframes pulse {
  0%{
      transform: scale(0);
      opacity: 0.5;
  }
  100%{
      transform: scale(2);
      opacity: 0;
  }
}
  ::-webkit-scrollbar {
    width:5px;
    height:5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #283593;
  }

  ::-webkit-scrollbar-track {
    background:rgba(0, 0, 0, 0.068);
  }
</style>
