<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container class="bg-grey-2">
       <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MobileLanding'
}
</script>
