<template>
  <q-layout view="hHh Lpr lff" class="bg-white">
    <q-pull-to-refresh @refresh="refresh">
      <q-header class="bg-white shadow-3">
        <q-tabs
          v-model="tab"
          class="text-grey"
          active-color="indigo-8"
          indicator-color="indigo-8"
          align="justify"
        >
          <!-- checking if isUser -->
          <div class="row col-12" v-if="account.user_type === 'user'">
            <q-route-tab
              class=""
              name="home"
              icon="home"
              to="/home"
              exact
            />
            <q-route-tab
              name="report"
              icon="security_update_warning"
              to="/report"
              exact
            />
            <q-route-tab
              name="blotter"
              icon="security_update_good"
              to="/blotter"
              exact
            />
            <q-route-tab
              name="notification"
              icon="notifications"
              to="/notification"
              @click="read  "
              exact
            >
            <q-badge color="red" v-show="noti[0] > 0  && status" floating>{{noti[0]}}</q-badge>
            </q-route-tab>
            <q-route-tab
              name="account"
              icon="manage_accounts"
              to="/account"
              exact
            />
          </div>
          <!-- if notUser give the other link -->
          <div v-else class="row col-12">
            <q-route-tab
              name="feed"
              icon="local_activity"
              to="/home"
              exact
            />
            <q-route-tab
              name="task"
              icon="task"
              to="/task"
              exact
            />
            <q-route-tab
              @click="read"
              name="notification"
              icon="notifications"
              to="/notification"
              exact
            >
            <q-badge color="red" v-show="noti[0] > 0 && status" floating>{{noti[0]}}</q-badge>
            </q-route-tab>
            <q-route-tab
              name="account"
              icon="admin_panel_settings"
              to="/account"
              exact
            />
          </div>
        </q-tabs>
      </q-header>
    <!-- <q-separator/> -->
      <q-page-container>
        <!-- checking also isuser for rendering the page base -->
        <div  v-if="account.user_type === 'user'">
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="home">
              <router-view/>
            </q-tab-panel>
            <q-tab-panel name="report">
              <router-view/>
            </q-tab-panel>
            <q-tab-panel name="blotter">
              <router-view/>
            </q-tab-panel>
            <q-tab-panel name="notification">
              <router-view/>
            </q-tab-panel>
            <q-tab-panel name="account">
              <router-view/>
            </q-tab-panel>
          </q-tab-panels>
        </div>
        <!-- if not user give the other page -->
        <div v-else>
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="feed">
              <router-view/>
            </q-tab-panel>
            <q-tab-panel name="task">
              <router-view/>
            </q-tab-panel>
            <q-tab-panel name="notification">
              <router-view/>
            </q-tab-panel>
            <q-tab-panel name="account">
              <router-view/>
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </q-page-container>
    </q-pull-to-refresh>
  </q-layout>
</template>

<script>
import { UpdateUserNotificationStatus, UpdateRespondentNotificationStatus } from '../Graphql/query/notification'
import { countRespondentNotification, countUserNotification } from '../Graphql/query/user'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'MobileLayout',
  data () {
    return {
      tab: 'home',
      innerTab: 'innerMails',
      splitterModel: 20,
      account: account,
      notification: {},
      noti: 0,
      status: true
    }
  },
  methods: {
    async read () {
      this.status = false
      const { data } = await this.$apollo.mutate({
        mutation: this.account.user_type === 'user' ? UpdateUserNotificationStatus : UpdateRespondentNotificationStatus,
        variables: {
          user_id: account.id
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        this.$q.loading.hide()
        return error
      })
      console.log(data)
    },
    refresh (done) {
      setTimeout(() => {
        this.$q.loading.hide()
        location.reload()
        done()
      }, 1000)
    },
    // getting the notification
    async counttNotification () {
      const { data } = await this.$apollo.query({
        query: this.account.user_type === 'user' ? countUserNotification : countRespondentNotification,
        variables: {
          user_id: account.id
        },
        fetchPolicy: 'network-only'
      })
      console.log(data.users)
      if (data.users.length > 0) {
        this.noti = data.users.map((count) => {
          const total = this.account.user_type === 'user' ? count.notifications_aggregate.aggregate : count.notificationsByRespondentId_aggregate.aggregate
          const totalNotification = {
            notification: total.count
          }
          return totalNotification.notification
        })
        console.log(this.noti[0])
      }
    }
  },
  created () {
    this.counttNotification()
  }
}
</script>
<style>
.pulse{
  width: 100px;
  height: 100px;
  border-radius: 50% ;
  transform: scale(0);
  position: absolute;
  z-index: -1;
  animation: pulse 3s infinite;
}

.pulse:nth-child(1){
    background-color: #61c4ff;
    animation-delay: 0.3s;

}
.pulse:nth-child(2){
    background-color: #bde080;
    animation-delay: 0.7s;

}
.pulse:nth-child(3){
    background-color: #f7cf69;
    animation-delay: 1.1s;

}

@keyframes pulse {
  0%{
      transform: scale(0);
      opacity: 0.5;
  }
  100%{
      transform: scale(3);
      opacity: 0;
  }
}
::-webkit-scrollbar {
  width:5px;
  height:5px;
}

::-webkit-scrollbar-thumb {
  background-color: #283593;
}

::-webkit-scrollbar-track {
  background:rgba(0, 0, 0, 0.068);
}
</style>
