<template>
  <q-layout view="lHh Lpr lFf" class="">
    <q-header class="text-grey-7">
      <q-toolbar-title>
         <!-- <img class="q-pa-sm" style="width:2.1em" src="/logo/b.png" alt=""> -->
      </q-toolbar-title>
        <q-btn-group flat class=" absolute-right  shadow-none q-ma-xs">
          <q-btn
           class="mobile-hide"
            exact
            to="/"
            label="Home"
          />
          <q-btn
            class="mobile-hide"
            exact
            to="/register"
            label="register"
          />
          <q-btn
            exact
            class="mobile-only"
            to="/signup"
            label="signup"
          />
          <q-btn
            class="text-indigo-8"
            exact
            to="/login"
            label="Login"
          />
        </q-btn-group>
    </q-header>
    <q-page-container>
       <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'LandingLayout'
}
</script>
<style>
  .welcome{
    position:fixed;
    z-index:9999;
    top:0;
    background:rgb(234, 231, 247);
    height:100vh;
    width:100vw;
    animation: bg-logo 3s linear infinite;
  }
  .welcome-logo{
     animation: logo 1s linear infinite;
  }
    @keyframes logo{
      0% {
        width:28em;
      }
      20% {
        width:29em;
      }
      40% {
        width:30em;
      }
      60% {
        width:30em;
      }80% {
        width:29em;
      }
      100% {
        width:28em;
      }
    }
    @keyframes bg-logo{
      100% {
        background:transparent;
      }
    }
  @media (max-width: 991.98px) {
    .banner{
      width:15rem;
    }
    .bust{
      transform:translate(-50%, 0%);
      width:41rem;
      opacity:.2;
      position: fixed;
      top:0;
    }
    .title{
      font-size:4.3rem;
      text-shadow:3px 4px 4px  white;
    }
    .slowgan{
      transform:translate(0%, 50%);
      z-index: 999;
    }
    .user{
      opacity:.7;
      transform:translate(-100%, 65%);
      position: fixed;
      width:20em;
    }
     .auth{
      opacity:.7;
      transform:translate(0%, 65%);
      position: fixed;
      width:20em;
    }
  }
  @media (min-width: 992px) {
    .bust{
      width:25em;
    }
    .user{
      width: 4em;
      opacity: 0;
    }
    .auth{
      width: 4em;
      opacity:0;
    }
    .banner{
    width:30rem;
    }
  }
</style>
