<template>
  <div>
    <template >
      <div class="" v-if="visibility == true">
        <div class="row bg-white q-pa-lg">
          <div class="col-12 col-sm-4 col-md-3 col-lg-2">
            <div class="bg-white q-pa-sm text-center q-ma-xs shadow-2">
              <!-- <img style="width:10em" class="" src="/images/user.png"> -->
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bg-white q-pa-md q-ma-xs text-center shadow-2">
              admin info
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="row bg-white q-pa-lg">
          <div class="col-12 col-sm-4 col-md-3 col-lg-2">
            <div class="bg-white  q-ma-xs  shadow-2">
              <q-skeleton height="183px" square animation="fade"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bg-white q-pa-md q-ma-xs text-center shadow-2">
              <q-skeleton type="text" square animation="fade"/>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
export default {
  name: 'ViewAdmin',
  data () {
    return {
      visibility: false
    }
  },
  created () {
    setTimeout(() => {
      this.visibility = true
    }, 3000)
  }
}
</script>

<style scoped>
  .bg-gradient{
    padding:10px;
    background-color: #36096d69;
    background-image: linear-gradient(330deg, #36096d85 4%, #37d6d660 74%);
  }
</style>
