<template>
  <div >
    <div class="row">
      <div class="col-12">
        <div class="bg-white q-pa-xs q-ma-sm">
          <AddAdmin/>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white q-pa-xs q-ma-sm">
          <Table
            :title=title
            :data=userList
            :columns=columns
            enableAction: enableAction
            @toggleDelete= showDeleteMessage
            @toggleEdit= showEdit
          />
        </div>
      </div>
      <div class="col-12">
        <!-- must add here -->
      </div>
    </div>
  </div>
</template>

<script>
import Table from 'components/Tables'
import AddAdmin from 'components/AddAdmin'
export default {
  name: 'AdminPage',
  components: { Table, AddAdmin },
  action: null,
  data () {
    return {
      title: 'List of Admin',
      userList: [],
      enableAction: true,
      columns: [
        {
          name: 'first_name',
          required: true,
          label: 'First Name',
          align: 'left',
          field: row => row.first_name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'middle_name', align: 'center', label: 'Middle Name', field: 'middle_name', sortable: true },
        { name: 'last_name', align: 'center', label: 'Last Name', field: 'last_name', sortable: true },
        { name: 'username', align: 'center', label: 'Username', field: 'username', sortable: true },
        { name: 'station_name', align: 'center', label: 'Station Name', field: 'station_name', sortable: true },
        { name: 'station_area', align: 'center', label: 'Station Address', field: 'station_address', sortable: true },
        { name: 'action', label: 'Action', field: 'action' }

      ]
    }
  },

  methods: {
    async showDeleteMessage (e) {
      await this.$apollo.mutate({
        mutation: this.$gql`
         mutation MyMutation($id: uuid!) {
            delete_users_by_pk(id: $id)
              {
                 id
              }
          }
        `,
        variables: {
          id: e.id
        }
      })
    },
    showEdit () {
    }
  },
  async created () {
    const { data } = await this.$apollo.query({
      query: this.$gql`query MyQuery {
        users(where: {user_type: {_eq: "admin"}}) {
          id
          first_name
          middle_name
          last_name
          username
          station {
            station_name
            station_location
          }
        }
      }
      `
    })
    if (data.users.length > 0) {
      const u = data.users.map((user) => {
        const station = user.station
        const userdata = {
          id: user.id,
          first_name: user.first_name,
          middle_name: user.middle_name,
          last_name: user.last_name,
          username: user.username,
          station_name: station.station_name
        }
        return userdata
      })
      this.userList = u
    }
  }
}
</script>
