<template>
    <div>
        <div class="text-h6">Menu</div>
        <div class="q-pa-md row">
            <div class="col-3 col-md-3">
                <q-avatar>
                    <!-- <img src="https://cdn.quasar.dev/img/avatar.png"> -->
                </q-avatar>
            </div>
            <div class="col-9 col-md-9">
                <div class="text-h6 col-12 col-md-12">
                        Allan Rey Layese
                </div>
                <div class="col-12 col-md-12">
                        click here to view profile
                </div>
            </div>
            <div class="col-12 col-md-12 q-pt-md">
                <q-separator />
            </div>
            <div class="col-6 col-md-6 q-pa-sm">
                <q-card class="my-card">
                    <q-card-section>
                        Edit Profile
                    </q-card-section>
                </q-card>
            </div>
            <div class="col-6 col-md-6 q-pa-sm">
                <q-card class="my-card">
                    <q-card-section>
                        Delete Profile
                    </q-card-section>
                </q-card>
            </div>
            <div class="col-6 col-md-6 q-pa-sm">
                <q-card class="my-card">
                    <q-card-section>
                        Support
                    </q-card-section>
                </q-card>
            </div>
            <div class="col-6 col-md-6 q-pa-sm">
                <q-card class="my-card">
                    <q-card-section>
                        Logout
                    </q-card-section>
                </q-card>
            </div>
            <div class="col-12 col-md-12 q-pa-sm">
                teset
                <Map/>
            </div>
        </div>
    </div>
</template>

<script>
import Map from '../Components/Map'

export default {
  components: { Map }
}
</script>
