<template>
  <div>
    <div class="bg-white q-pa-xs q-mb-md text-h6 ">
       <q-chip class="text-uppercase text-bold" color="grey-2" text-color="indigo-8" size="lg" label=" My blotter"/>
    </div>
    <div v-if="visible" >
      <div
        class="bg-transparent q-pa-sm"
        v-for="index in 5"
        :key="index"
      >
        <div class="row justify-center ">
          <q-card class="q-ma-xm shadow-5">
             <q-skeleton height="130px" width="21rem" square animation="fade"/>
          </q-card>
        </div>
      </div>
    </div>
    <div v-else>
      <div v-for="data in userBlotter" :key="data.id">

        <BlotterItem
          @ask="ask"
          :data="data"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { GetUserBlotter } from '../../Graphql/query/blotter'
import BlotterItem from '../Components/blotterItem'
import { saveNotification } from '../../Graphql/query/notification'
var account = JSON.parse(localStorage.getItem('user'))
import moment from 'moment'
export default {
  name: 'BlotterPage',
  components: { BlotterItem },
  data () {
    return {
      userBlotter: [],
      visible: true,
      account: account
    }
  },
  created () {
    this.getBlotter()
  },
  methods: {
    async ask (e) {
      const variables = {
        user_id: null,
        station_id: e.station.id,
        respondent_id: null,
        complaint_id: e.complaint.id,
        notification_content: 'Good Day! Im ' + e.user.first_name + ' ' + e.user.middle_name + ' ' + e.user.last_name + ' Asking For the Status of this Blotter Case ' + e.complaint.complaint_type + ',Thank you! ',
        notification_type: 'asking'
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification,
        variables
      })
      if (data) {
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Send Successfully!'
        })
      }
      console.log(e)
      console.log(variables)
      console.log(e.user)
      console.log(e.complaint.id)
      console.log(e.station.id)
    },
    async getBlotter () {
      this.visible = false
      const { data } = await this.$apollo.query({
        query: GetUserBlotter,
        variables: {
          user_id: account.id,
          status: 'Blotter'
        },
        fetchPolicy: 'network-only'
      })
      if (data.blotter.length > 0) {
        this.userBlotter = data.blotter.map((blotter) => {
          const user = blotter.user
          const complaint = blotter.complaint
          const station = blotter.station
          const ItemA = blotter.ItemAs
          const ItemB = blotter.ItemBs
          const ItemC = blotter.ItemCs
          const ItemD = blotter.ItemDs
          const IRTRs = blotter.IRTRs
          const childrenconflicts = blotter.children_in_conflicts
          const Incidentreciepts = blotter.Incident_record_reciepts

          const BlotterData = {
            blotter: blotter,
            user: user,
            complaint: complaint,
            station: station,
            ItemA: ItemA,
            ItemB: ItemB,
            ItemC: ItemC,
            ItemD: ItemD,
            IRTRs: IRTRs,
            childrenconflicts: childrenconflicts,
            Incidentreciepts: Incidentreciepts,
            // incident_type: ItemD.type_of_incident,
            blotter_date_time: typeof blotter.updated_at !== 'object' ? moment(blotter.updated_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : ''
          }
          return BlotterData
        })
      }
    }
  }
}

</script>
