<template>
  <div>
    <div class="bg-white q-pa-md q-mb-md text-h6">
      Task
    </div>
      <div v-for="data in respondent_activity" :key="data.id">
        <TaskCard
          @SendingInvestigation="SendingInvestigation"
          :tasktMarkers="tasktMarkers"
          @open="open"
          :show="show"
          :data="data"
        />
      </div>
  </div>
</template>
<script>
// updateInvestigationStatement
import moment from 'moment'
import { saveNotification } from '../../Graphql/query/notification'
import { updateStatus } from '../../Graphql/query/complaint'
import { showActivities, updateInvestigationStatement } from '../../Graphql/query/respondent_activity'
import TaskCard from '../Components/TaskCard'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'TaskPage',
  components: { TaskCard },
  data () {
    return {
      tasktMarkers: [],
      respondent_activity: [],
      show: false
    }
  },
  methods: {
    async SendingInvestigation (e) {
      // console.log(updateInvestigationStatement)
      var location = e[0]
      console.log(location[0])
      console.log(location[1])
      console.log(e[1].activity.id)
      console.log(e[1].report.id)
      console.log(e[2])
      const { data } = await this.$apollo.mutate({
        mutation: updateInvestigationStatement,
        variables: {
          id: e[1].activity.id,
          latitude: JSON.stringify(location[0]),
          longitude: JSON.stringify(location[1]),
          investigation_statement: e[2]
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: error.message
        })
        return error
      })
      if (data) {
        this.getActivity()
        this.updateComplaintStatus(e[1].report.id)
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          message: 'Sent to Station Successfully!'
        })
        console.log(e[1].complaint.user.id)
        const notification = {
          user_id: e[1].report.user.id,
          station_id: e[1].report.station_id,
          respondent_id: null,
          complaint_id: e[1].report.id,
          notification_content: account.first_name + ' ' + account.middle_name + ' ' + account.last_name + ' ' + 'submitted investigation',
          notification_type: 'investigation'
        }
        this.saveToNotification(notification)
        console.log(notification)
      }
    },
    async saveToNotification (noti) {
      const variables = {
        user_id: noti.user_id,
        station_id: noti.station_id,
        respondent_id: noti.respondent_id,
        complaint_id: noti.complaint_id,
        notification_content: noti.notification_content,
        notification_type: noti.notification_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      return data
    },
    open () {
      this.show = true
    },
    async updateComplaintStatus (complaintId) {
      const { data } = await this.$apollo.mutate({
        mutation: updateStatus,
        variables: {
          id: complaintId,
          status: 'Investigated'
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: error.message
        })
        return error
      })
      return data
    },
    async getActivity () {
      const { data } = await this.$apollo.query({
        query: showActivities,
        variables: {
          user_id: account.id
        },
        fetchPolicy: 'network-only'
      })
      if (data.respondent_activity.length > 0) {
        this.respondent_activity = data.respondent_activity.map((activity) => {
          // if (typeof complaint.complaint_evid !== 'object') {
          //   complaint.complaint_evid = JSON.parse(complaint.complaint_evid)
          //   complaint.created_at = moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a')
          // }
          const report = activity.complaint !== null ? activity.complaint : activity.incident
          // const user = activity.complaint.user
          // const user2 = activity.incident.user
          // const incident = activity.incident
          const activityData = {
            report: report,
            activity: activity,
            user: report.user,
            created_at: report.created_at !== null ? moment(report.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : ''
            // incident: incident,
            // incident_created_at: moment(incident.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a'),
            // complaint_created_at: activity.complaint.created_at !== null ? moment(activity.complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : '',
            // user: activity.complaint.user !== null ? activity.complaint.user : ''
          }
          return activityData
        })
        this.tasktMarkers = data.respondent_activity.map((data) => {
          const report = data.complaint !== null ? data.complaint : data.incident
          if (report.latitude != null && report.longitude != null) {
            return [report.latitude, report.longitude]
          }
        }).filter(function (coords) {
          return coords !== undefined
        })
      }
      console.log(this.respondent_activity)
    }
  },
  created () {
    this.getActivity()
  }
}
</script>
