<template>
  <div>
    <q-page class="flex flex-center bg-white">
      <div>
        <div class="fixed-center" style="width:100%">
          <Login/>
         </div>
      </div>
    </q-page>
  </div>
</template>

<script>
import Login from 'components/LoginComponent'
export default {
  name: 'MobileLogin',
  components: { Login }
}
</script>