<template>
  <div>
    <div v-if="visible">
      <div class="bg-white">
        <q-skeleton type="QInput" height="35px" animation="fade" />
      </div>
      <div
       style="height:28em"
        class="bg-transparent q-mt-lg q-pa-sm"
        v-for="index in 5"
        :key="index"
      >
        <div class="row justify-center q-gutter-sm">
          <q-card class="q-ma-xm shadow-5">
            <q-skeleton height="24rem" width="23rem" square animation="fade" />
          </q-card>
        </div>
      </div>
    </div>
    <div v-else>
      <div  v-if="usercheck.user_type === 'user'">
        <div class="bg-white q-pa-xs q-mb-md text-h6">
          <q-chip class="text-uppercase text-bold" color="grey-2" text-color="indigo-8" size="lg" label=" Reported Incident Today"/>

        </div>
        <div v-for="objData in incident" :key="incident.indexOf(objData)">
            <IncidentCardCases :data="objData"/>
        </div>
        <CreateReport @refresh="refresh"/>
      </div>
      <div v-else>
        <div class="bg-white q-pa-md q-mb-md text-h6">
            Activity
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
import { showIncident } from '../../Graphql/query/incident'
import CreateReport from '../Components/MakeReport'
import IncidentCardCases from '../Components/IncidentsCardCases'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'HomePage',
  components: { CreateReport, IncidentCardCases },

  data () {
    return {
      visible: true,
      incident: [],
      usercheck: account
    }
  },

  created () {
    this.getUserReport()
  },

  methods: {
    refresh () {
      this.getUserReport()
    },

    async getUserReport () {
      var { data: { incident } } = await this.$apollo.query({
        query: showIncident,
        fetchPolicy: 'network-only'
      })

      if (incident instanceof Array) {
        this.incident = incident.map(d => {
          if (typeof d.incident_evid !== 'object') {
            d.incident_evid = JSON.parse(d.incident_evid)
            d.created_at = moment(d.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a')
          }
          return d
        })
        this.visible = false
      }
    }
  }
}
</script>
