<template>
  <div>
    <div class="bg-white q-pa-xs q-mb-md text-h6">
      <q-chip class="text-uppercase text-bold" color="grey-2" text-color="indigo-8" size="lg" label="notifications"/>
    </div>
        <div v-if="visible" >
      <div
        class="bg-transparent q-pa-sm"
        v-for="index in 5"
        :key="index"
      >
        <div class="row justify-center ">
          <q-card class="q-ma-xm shadow-5">
             <q-skeleton height="130px" width="21rem" square animation="fade"/>
          </q-card>
        </div>
      </div>
    </div>
    <div v-else>
      <div v-for="data in  notification" :key="data.id">
        <!-- {{data.notification.complaint_id}} {{data.complaint.id}} -->
        <NotificationItem
          :link="account.user_type === 'user' ? '/report' : '/task'"
          :color="data.notification.notification_type ==='assigning'? 'green-8': data.notification.notification_type ==='changing station' ? 'amber-8': ''"
          :label="data.notification.notification_content"
          :data="data"
          :icon="data.notification.notification_type ==='assigning'? account.user_type ==='user'? 'assignment_turned_in' : 'assignment_ind': data.notification.notification_type ==='changing station' ? 'published_with_changes' :''"
        />
      </div>
    </div>
      <!-- {{notification.notification.complaint.id}} -->
  </div>
</template>
<script>
import { getNotificationByUserId, getNotificationByRespondentId } from '../../Graphql/query/notification'
import NotificationItem from '../Components/NotificationItem'
var account = JSON.parse(localStorage.getItem('user'))
import moment from 'moment'
export default {
  name: 'NotificationPage',
  components: { NotificationItem },
  data () {
    return {
      notification: {},
      account: account,
      color: 'text-red',
      visible: true
    }
  },
  created () {
    this.getNotification()
    // console.log(account.user_type)
  },
  methods: {
    async getNotification () {
      const { data } = await this.$apollo.query({
        query: this.account.user_type === 'user' ? getNotificationByUserId : getNotificationByRespondentId,
        variables: {
          user_id: account.id
        },
        fetchPolicy: 'network-only'
      })
      if (data.notification instanceof Array) {
        this.notification = data.notification.map(n => {
          const notidata = {
            complaint: n.complaint,
            notification: n,
            created_at: typeof n.created_at !== 'object' ? moment(n.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a') : ''
          }
          return notidata
        })
        this.visible = false
      }
      // console.log(data)

      // if (data) {
      //   const index = this.notification.indexOf(data)
      //   console.log(index)
      //   console.log(-this.notification.length + this.notification.length + 1)
      //   this.notification.splice(-this.notification.length + this.notification.length + 1)
      // }
      // console.log(this.notification)
    }
  }
}
</script>
