<template>
  <div>
    <div class="bg-white q-pa-xs q-mb-md text-h6">
      <q-chip class="text-uppercase text-bold" color="grey-2" text-color="indigo-8" size="lg" label=" My Complaint"/>
    </div>
    <div v-if="visible" >
      <div
        class="bg-transparent q-pa-sm"
        v-for="index in 5"
        :key="index"
      >
        <div class="row justify-center ">
          <q-card class="q-ma-xm shadow-5">
             <q-skeleton height="130px" width="21rem" square animation="fade"/>
          </q-card>
        </div>
      </div>
    </div>
    <div v-else>
      <div v-for="data in userComplaint" :key="data.id" v-bind="data">
        <ComplaintHistoryCard
          @confirm="confirm"
          @refuse="refuse"
          :data="data"
          @confirmDelete="confirmDelete"
          @update="update"
          @refresh="refresh"
        />
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
import { createBlotter } from '../../Graphql/query/blotter'
import { saveNotification } from '../../Graphql/query/notification'
import { getUserComplaint, updateStatus, updateComplaint } from '../../Graphql/query/complaint'
import ComplaintHistoryCard from '../Components/ReportHistoryCard'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  name: 'ReportPage',
  components: { ComplaintHistoryCard },
  data () {
    return {
      userComplaint: [],
      visible: true
    }
  },
  created () {
    this.getuserComplaint()
  },
  methods: {
    async saveToNotification (noti) {
      const variables = {
        user_id: noti.user_id,
        station_id: noti.station_id,
        respondent_id: noti.respondent_id,
        complaint_id: noti.complaint_id,
        notification_content: noti.notification_content,
        notification_type: noti.notification_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: saveNotification, variables
      })
      return data
    },
    async update (e) {
      const variables = {
        id: e.id,
        complaint_accuse_person: e.complaint_accuse_person,
        complaint_statement: e.complaint_statement
        // complaint_type: e.complaint_type
      }
      const { data } = await this.$apollo.mutate({
        mutation: updateComplaint,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: error.message
        })
        return error
      })
      if (data) {
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          message: 'Successfully Update the Case'
        })
      }
    },
    refresh () {
      this.getuserComplaint()
    },
    async confirmDelete (e) {
      // const { data } = await this.$apollo.mutate({
      //   mutation: updateStatus,
      //   variables: {
      //     id: e.id,
      //     status: 'Withdraw'
      //   }
      // })
      // if (data) {
      //   this.$q.notify({
      //     color: 'green',
      //     textColor: 'white',
      //     icon: 'check_circle',
      //     position: 'top',
      //     message: 'Successfully Withdraw the Case'
      //   })
      // }
      const data = this.updateComplaintStatus(e.id, 'Withdraw')
      if (data) {
        this.getuserComplaint()
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          message: 'Successfully Withdraw the Case'
        })
        const notification = {
          user_id: null,
          station_id: e.station.id,
          respondent_id: null,
          complaint_id: e.id,
          notification_content: account.first_name + ' ' + account.middle_name + ' ' + account.last_name + ' Withdraw his/her complaint',
          notification_type: 'withdraw'
        }
        this.saveToNotification(notification)
      }
      console.log(e.station.id)
      console.log(e)
    },
    async confirm (e) {
      const variables = {
        status: 'For Filling',
        station_id: e.station.id,
        user_id: account.id,
        complaint_id: e.id
      }
      console.log(variables)
      const { data } = await this.$apollo.mutate({
        mutation: createBlotter,
        variables
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: error.message
        })
        return error
      })
      if (data) {
        this.updateComplaintStatus(e.id, 'Confirmed')
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          message: 'Confirm Successfully!'
        })
        const notification = {
          user_id: null,
          station_id: e.station.id,
          respondent_id: null,
          complaint_id: e.id,
          notification_content: account.first_name + ' ' + account.middle_name + ' ' + account.last_name + ' Confrimed the Appointment date',
          notification_type: 'confirmed appointment'
        }
        this.saveToNotification(notification)
        console.log(notification)
        this.getuserComplaint()
      }

      // console.log('confirm')
      // const { data } = await this.$apollo.mutate({
      //   mutation: updateStatus,
      //   variables: {
      //     id: e.id,
      //     status: 'Confirmed'
      //   }
      // })
      // if (data) {
      //   this.$q.notify({
      //     color: 'green',
      //     textColor: 'white',
      //     icon: 'check_circle',
      //     position: 'top',
      //     message: 'Successfully Confirmed the Appointment'
      //   })
      // }
      // console.log(e)
      // this.createBlotter()
    },
    async updateComplaintStatus (id, status) {
      const { data } = await this.$apollo.mutate({
        mutation: updateStatus,
        variables: {
          id: id,
          status: status
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: error.message
        })
        return error
      })
      return data
    },
    async createBlotter () {
      console.log(this.userComplaint)
    },

    refuse (e) {
      console.log(e)
    },
    async getuserComplaint () {
      const { data } = await this.$apollo.query({
        query: getUserComplaint,
        variables: {
          user_id: account.id
        },
        fetchPolicy: 'network-only'
      })
      if (data.complaint.length > 0) {
        this.userComplaint = data.complaint.map((complaint) => {
          // const appointment = complaint.appointments
          if (typeof complaint.complaint_evid !== 'object') {
            complaint.complaint_evid = JSON.parse(complaint.complaint_evid)
            complaint.created_at = moment(complaint.created_at).format('dddd, MMMM Do YYYY, h:mm:ss a')
            complaint.from = moment(complaint.from).format('dddd, MMMM Do YYYY')
            complaint.to = moment(complaint.to).format('dddd, MMMM Do YYYY')
          }
          return complaint
        })
      }
      this.visible = false
    }
  }
}

</script>
