<template>
  <div>
    <div v-if="visible">
      <div class="bg-white q-mb-md text-h6">
        <div class="row">
          <div class="col-3">
            <div class="q-pa-sm">
              <q-skeleton size="3em"  type="QAvatar" animation="fade"/>
            </div>
          </div>
            <div class="col-9">
              <div class="text-left text-grey-7">
                <q-skeleton type="text" animation="fade"/>
                <q-skeleton type="QBtn" animation="fade"/>
              </div>
            </div>
        </div>
      </div>
      <div class="bg-white q-pb-lg q-pt-md text-grey-7">
        <div class="q-ma-md">
          <q-btn
            flat
            label="Help and Support"
            icon="help"
          />
        </div>
         <div class="q-ma-md">
          <q-btn
            @click="logout"
            flat
            label="Logout"
            icon="logout"
          />
        </div>
      </div>
    </div>
    <div
      v-for="data in user"
      :key="data.id"
      v-bind="data"
      v-else
    >
      <div class="bg-white q-mb-md text-h6">
        <div class="row justify-center">
          <!-- <div v-show="account.user_type !== 'user'"  class="col-12">
            <div class="text-right">
              <q-chip square size="sm" squre>
                your status is {{status}}
              </q-chip>
              <q-btn-toggle
                @click="updateStatus"
                v-model="status"
                toggle-color="indigo-8"
                :options="[
                  {icon: 'no_accounts ', value: 'inactive'},
                  {icon: 'local_police', value: 'active'}
                ]"
              />
          </div>
          </div> -->
          <div class="col-4 ">
            <div class="q-pa-sm">
              <q-avatar v-if="data.image.length > 0" size="60 px">
                <img :src="JSON.parse(data.image)">
              </q-avatar>
              <q-avatar v-else size="2em">
                <img src="/logo/b.png" alt="">
              </q-avatar>
            </div>
          </div>
          <div class="col-8">
            <div class="text-left q-mt-sm">
              <div class="text-uppercase text-subtitle2">
                {{data.first_name}} {{data.middle_name}} {{data.last_name}}
              </div>
              <q-btn class="text-left" flat color="grey-7" @click="profile"  label="Edit PROFILE"/>
            </div>
          </div>
        </div>
      </div>
      <q-separator />
      <div class="bg-white q-pb-lg q-pt-md text-grey-7">
        <div class="q-ma-md">
          <!-- <q-btn
            flat
            label="Help and Support"
            icon="help"
          /> -->
        </div>
          <div class="q-ma-md">
            <q-btn @click="logout" label="Logout" color="indigo-8"/>
        </div>
          <div
            v-for="User in user"
            :key="User.id"
            v-bind="User"
          >
          <Profile
            @close="close"
            :data="User"
            :show="show"
            @updateEvent="updateEvent"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Profile from '../Components/viewProfile'
import { showUserById, updateUserStatus, updateUser } from '../../Graphql/query/user'
var account = JSON.parse(localStorage.getItem('user'))
export default {
  components: { Profile },
  name: 'AccountPage',
  data () {
    return {
      show: false,
      visible: true,
      user: [],
      account: account,
      status: ''
    }
  },
  methods: {
    close () {
      this.show = false
    },
    logout () {
      location.reload()
      localStorage.clear()
    },
    profile () {
      this.show = true
    },
    updateEvent () {
      this.update()
    },
    async update () {
      const { data } = await this.$apollo.mutate({
        mutation: updateUser,
        variables: {
          id: this.user[0].id,
          first_name: this.user[0].first_name,
          middle_name: this.user[0].middle_name,
          last_name: this.user[0].last_name,
          rank: this.user[0].rank,
          contact_number: this.user[0].contact_number
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: error.message
        })
        return error
      })
      // console.log(data)
      if (data) {
        this.show = false
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'Account Update Successfully!'
        })
      }
    },
    async showUser () {
      const { data } = await this.$apollo.query({
        query: showUserById,
        variables: {
          id: account.id
        },
        fetchPolicy: 'network-only'
      })
      this.user = data.users.map(user => {
        if (typeof user.image !== 'object') {
          // user.image = JSON.parse(user.image)
        }
        return user
      })
      this.visible = false
      console.log(this.user)
    },
    async updateStatus () {
      console.log(this.status)
      this.$q.loading.show()
      const { data } = await this.$apollo.mutate({
        mutation: updateUserStatus,
        variables: {
          id: this.user[0].id,
          status: this.status
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: error.message
        })
        return error
      })
      // console.log(data)
      if (data) {
        this.$q.loading.hide()
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          message: 'Account status is ' + this.status
        })
      }
    }
  },
  created () {
    this.showUser()
  }
}
</script>
