<template>
    <div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-7">
           <div class="flex flex-center q-ma-lg">
             <div class="text-h6 text-indigo-8">REGISTRATION</div>
          </div>
          <div class="flex flex-center">
              <!-- <img class="banner" src="/images/undraw_Mobile_application_mr4r.png" alt=""> -->
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 flex flex-center">
          <div style="width:24em">
            <form
              class="q-gutter-md "
            >
              <q-card class="shadow-0">
                <q-card-section>
                  <q-timeline color="indigo-8">
                    <q-timeline-entry
                      subtitle="BUSTER APP"
                      title="NAME"
                      icon="person"
                    >
                      <q-input
                        filled
                        clearable
                        v-model="userdata.first_name"
                        label="First Name"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something'] "
                      />
                      <q-input
                        filled
                        clearable
                        v-model="userdata.middle_name"
                        label="Middle Name"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something'] "
                      />
                      <q-input
                        filled
                        clearable
                        v-model="userdata.last_name"
                        label="Last Name"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something'] "
                      />
                      <q-input
                        filled
                        type="number"
                        clearable
                        v-model="userdata.contact_number"
                        label="Contact Number"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something'] "
                      />
                    </q-timeline-entry>
                    <q-timeline-entry
                      title="ACCOUNT INFORMATION"
                      icon="account_circle"
                    >
                      <q-input
                        filled
                        clearable
                        v-model="userdata.username"
                        label="Username"
                        lazy-rules
                        :rules="[ val => val && val.length > 0 || 'Please type something'] "
                      />
                      <q-input
                        filled
                        clearable
                        v-model="password"
                        label="Password"
                        type="password"
                        lazy-rules
                        :rules="[
                          val => val !== null && val !== '' || 'Please type your password',
                          val => val.length > 8 && val.length < 100 || 'please input more than 8 character',
                        ]"
                      />
                      <q-input
                        filled
                        clearable
                        v-model="confirm"
                        label="Confirm Password"
                        type="password"
                         lazy-rules
                        :rules="[
                          val => val !== null && val !== '' || 'Please type your password',
                          val => val.length > 8 && val.length < 100 || 'please input more than 8 character'
                        ]"
                      />
                    </q-timeline-entry>
                    <q-timeline-entry
                      title="UPLOAD PHOTO"
                      icon="photo_camera"
                    >
                    <ImageUploaderVue :uploaderLabel="uploaderimagelabel" :imageUrl.sync="image" :maxFile="2"/>
                    </q-timeline-entry>
                  </q-timeline>
                </q-card-section>
                <q-card-section align="center">
                  <q-btn @click="
                    userdata.first_name  &&
                    userdata.middle_name  &&
                    userdata.last_name  &&
                    userdata.contact_number &&
                    userdata.username &&
                    password !=='' &&
                    confirm !==''?
                    password === confirm ?
                    password.length < 8 && confirm.length < 8 ? PassLengthError(): signup(): PassError(): BlankError()"
                    :loading="loading"
                    :color="image.length > 0 ? 'green' : 'indigo-8'"
                    label="Register"
                    :disable="image.length > 0 ? false : true"
                    />
                    <!--  -->
                </q-card-section>
              </q-card>
            </form>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import API from '../../API/api-endpoint'
import { addUser } from '../../Graphql/query/user'
import ImageUploaderVue from '../Components/ImageUploader'
export default {
  name: 'SignupPage',
  components: { ImageUploaderVue },
  data () {
    return {
      uploaderimagelabel: 'PHOTO W/ VALID ID (FRONT & BACK)',
      userdata: [],
      image: [],
      password: '',
      confirm: ''
    }
  },
  methods: {
    signup () {
      this.signupEvent()
    },
    async signupEvent () {
      // console.log(e)
      this.loading = true
      var newpass = {
        password: this.password
      }
      var hash = await API.hashpassword(newpass)
      const { data } = await this.$apollo.mutate({
        mutation: addUser,
        variables: {
          first_name: this.userdata.first_name,
          middle_name: this.userdata.middle_name,
          last_name: this.userdata.last_name,
          user_type: 'user',
          username: this.userdata.username,
          password: hash.data.data,
          contact_number: this.userdata.contact_number,
          image: JSON.stringify(this.image),
          status: false,
          isNew: true
        }
      }).catch(error => {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'check_circle',
          message: error.message
        })
        this.loading = false
        return error
      })
      if (data) {
        this.$q.notify({
          color: 'green',
          textColor: 'white',
          icon: 'check_circle',
          position: 'top',
          message: 'your account has been successfully registered just wait a moment to evaluate and activate it, Thank You'
        })
        this.$router.push('login')
      }
      console.log(data)
      return data
    },
    PassError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Password Not Matched!'
      })
    },
    PassLengthError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Password Must Be 8 characters and More!'
      })
    },
    BlankError () {
      this.$q.notify({
        color: 'red',
        textColor: 'white',
        icon: 'highlight_off',
        position: 'top',
        message: 'Please fill up All input fields'
      })
    },
    // for testing
    submit () {
      this.loading = true
    }
  },
  created () {
    this.loading = false
  },
  computed: {
  }
}
</script>
